apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "helm-service.fullname" . }}
  labels:
    {{- include "helm-service.labels" . | nindent 4 }}

spec:
  replicas: 1
  selector:
    matchLabels:
      {{- include "helm-service.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "helm-service.labels" . | nindent 8 }}
    spec:
      {{- list .Values.helmservice .Values.distributor | dict "context" . "indent" 6 "bases" | include "helm-service.image.pullSecrets" }}
      serviceAccountName: {{ include "helm-service.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
        - name: helm-service
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          {{- if .Values.image }}
          image: {{ .Values.image }} # use image from .Values.image (e.g., when starting via skaffold)
          {{- else }}
          image: {{ dict "space" .Values.helmservice "context" . | include "helm-service.image.name" }}
          {{- end }}
          imagePullPolicy: {{ .Values.helmservice.image.pullPolicy }}
          ports:
            - containerPort: 80
          env:
          - name: CONFIGURATION_SERVICE
            value: "http://localhost:8081/configuration-service"
          - name: SHIPYARD_CONTROLLER
            value: 'http://localhost:8081/controlPlane'
          - name: ENVIRONMENT
            value: 'production'
          - name: INGRESS_HOSTNAME_SUFFIX
            valueFrom:
              configMapKeyRef:
                name: ingress-config
                key: ingress_hostname_suffix
                optional: true
          - name: INGRESS_PROTOCOL
            valueFrom:
              configMapKeyRef:
                name: ingress-config
                key: ingress_protocol
                optional: true
          - name: INGRESS_PORT
            valueFrom:
              configMapKeyRef:
                name: ingress-config
                key: ingress_port
                optional: true
          - name: ISTIO_GATEWAY
            valueFrom:
              configMapKeyRef:
                name: ingress-config
                key: istio_gateway
                optional: true
          - name: HOSTNAME_TEMPLATE
            valueFrom:
              configMapKeyRef:
                name: ingress-config
                key: hostname_template
                optional: true
          livenessProbe:
            httpGet:
              path: /health
              port: 10998
            initialDelaySeconds: 0
            periodSeconds: 5
          readinessProbe:
            tcpSocket:
              port: 8080
            initialDelaySeconds: 5
            periodSeconds: 5
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
        - name: distributor
          image: {{ dict "space" .Values.distributor "context" . | include "helm-service.image.name" }}
          livenessProbe:
            httpGet:
              path: /health
              port: 10999
            initialDelaySeconds: 0
            periodSeconds: 5
          readinessProbe:
            httpGet:
              path: /health
              port: 10999
            initialDelaySeconds: 5
            periodSeconds: 5
          imagePullPolicy: Always
          ports:
            - containerPort: 8080
          resources:
            requests:
              memory: "16Mi"
              cpu: "25m"
            limits:
              memory: "32Mi"
              cpu: "100m"
          env:
            - name: PUBSUB_TOPIC
              value: 'sh.keptn.event.service.create.finished,sh.keptn.event.deployment.triggered,sh.keptn.event.rollback.triggered,sh.keptn.event.release.triggered,sh.keptn.event.action.triggered,sh.keptn.event.service.delete.finished'
            - name: PUBSUB_RECIPIENT
              value: '127.0.0.1'
            - name: STAGE_FILTER
              value: "{{ .Values.distributor.stageFilter }}"
            - name: PROJECT_FILTER
              value: "{{ .Values.distributor.projectFilter }}"
            - name: SERVICE_FILTER
              value: "{{ .Values.distributor.serviceFilter }}"
            - name: VERSION
              valueFrom:
                fieldRef:
                  fieldPath: metadata.labels['app.kubernetes.io/version']
            - name: LOCATION
              valueFrom:
                fieldRef:
                  fieldPath: metadata.labels['app.kubernetes.io/component']
            - name: K8S_DEPLOYMENT_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.labels['app.kubernetes.io/name']
            - name: K8S_POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            - name: K8S_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: K8S_NODE_NAME
              valueFrom:
                fieldRef:
                  fieldPath: spec.nodeName
            {{- if .Values.remoteControlPlane.enabled }}
            - name: KEPTN_API_ENDPOINT
              value: "{{ .Values.remoteControlPlane.api.protocol }}://{{ .Values.remoteControlPlane.api.hostname }}/api"
            - name: KEPTN_API_TOKEN
              value: "{{ .Values.remoteControlPlane.api.token }}"
            - name: HTTP_SSL_VERIFY
              {{- $apiValidateTls := .Values.remoteControlPlane.api.apiValidateTls | ternary "true" "false" }}
              value: "{{ $apiValidateTls }}"
            {{- end }}


      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
