{{- if .Values.helmservice.service.enabled -}}
apiVersion: v1
kind: Service
metadata:
  name: {{ include "helm-service.fullname" . }}
  labels: {{- include "common.labels.standard" . | nindent 4 }}
    app.kubernetes.io/component: helm-service
spec:
  type: ClusterIP
  ports:
    - port: 8080
      protocol: TCP
  selector: {{- include "common.labels.selectorLabels" . | nindent 4 }}
    app.kubernetes.io/component: helm-service
  {{- end }}
