<div class="container">
  <dt-info-group>
    <dt-info-group-title>
      <p class="mb-0"><span [textContent]="keptnService.subscriptions.length"></span> Subscriptions</p>
    </dt-info-group-title>
  </dt-info-group>
  <div class="p-3">

    <dt-table [dataSource]="tableEntries">
      <ng-container dtColumnDef="name" dtColumnAlign="text" dtColumnProportion="10">
        <dt-header-cell *dtHeaderCellDef>Name</dt-header-cell>
        <dt-cell *dtCellDef="let row" [textContent]="row.name"></dt-cell>
      </ng-container>

      <ng-container dtColumnDef="subscribe" dtColumnAlign="text" dtColumnProportion="10">
        <dt-header-cell *dtHeaderCellDef>Subscribes to</dt-header-cell>
        <dt-cell *dtCellDef="let row" [textContent]="row.event"></dt-cell>
      </ng-container>

      <ng-container dtColumnDef="stages" dtColumnAlign="text" dtColumnProportion="10">
        <dt-header-cell *dtHeaderCellDef>Stages</dt-header-cell>
        <dt-cell *dtCellDef="let row" [textContent]="row.stages.length !== 0 ? row.stages.join(', ') : 'any'"></dt-cell>
      </ng-container>

      <ng-container dtColumnDef="services" dtColumnAlign="text" dtColumnProportion="10">
        <dt-header-cell *dtHeaderCellDef>Services</dt-header-cell>
        <dt-cell *dtCellDef="let row" [textContent]="row.services.length !== 0 ? row.services.join(', ') : 'any'"></dt-cell>
      </ng-container>

      <ng-container dtColumnDef="details" dtColumnProportion="1" dtColumnMinWidth="50px">
        <dt-header-cell *dtHeaderCellDef>Details</dt-header-cell>
        <dt-expandable-cell
          *dtCellDef
          ariaLabel="Expand the row"
        ></dt-expandable-cell>
      </ng-container>

      <dt-header-row
        *dtHeaderRowDef="['details', 'name', 'subscribe', 'stages', 'services']"
      ></dt-header-row>
      <dt-expandable-row
        *dtRowDef="
          let row;
          let rowIndex = index;
          columns: ['details', 'name', 'subscribe', 'stages', 'services']
        "
        [expanded]="row.expanded"
      >
        <ng-template dtExpandableRowContent>
          <ktb-subscription-item [subscription]="row"></ktb-subscription-item>
          <button class="mt-3 mb-3" dt-button (click)="deleteSubscription(rowIndex)">Delete subscription</button>
        </ng-template>
      </dt-expandable-row>
    </dt-table>
    <div>
      <button class="mt-3" dt-button (click)="addSubscription()">Add subscription</button>
    </div>
    <button class="mt-1" dt-button (click)="updateSubscriptions()">Update subscriptions</button>
  </div>
</div>
