<div fxLayout="column" fxLayoutGap="5px">
  <div *ngFor="let event of _events;trackBy: identifyEvent">
    <ktb-selectable-tile (click)="selectEvent(event)" [selected]="_selectedEvent == event" [error]="event.isProblem()" *ngIf="event">
      <div fxLayout="row">
        <div fxFlex>
          <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
            <dt-icon class="event-icon" [class.error]="event.isProblem()" [name]="event.getIcon()"></dt-icon>
            <h4 class="m-0 mt-1 mb-1" [textContent]="event.getLabel()"></h4>
          </div>
          <p class="m-0" *ngIf="event.data.valuesCanary"><span class="m-0" [textContent]="event.getShortImageName()"></span></p>
          <p class="m-0" *ngIf="event.data.ProblemTitle" [textContent]="event.data.ProblemTitle"></p>
        </div>
        <div fxLayout="column" fxLayoutAlign="start end">
          <p class="m-0 mr-2 mt-1" [textContent]="event.time | amCalendar:getCalendarFormats()"></p>
          <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
            <dt-tag-list aria-label="stages">
              <dt-tag *ngFor="let stage of event.getStages()" [textContent]="stage" [class.error]="stage == event.isFaulty()" (click)="$event.stopPropagation();selectEvent(event, stage)"></dt-tag>
            </dt-tag-list>
          </div>
        </div>
      </div>
    </ktb-selectable-tile>
  </div>
</div>
