<div fxLayout="column" fxLayoutGap="5px">
  <div *ngFor="let sequence of _events;trackBy: identifyEvent">
    <ktb-selectable-tile (click)="selectEvent(sequence)"
                         [error]="sequence.isFinished() && sequence.isFaulty()"
                         [success]="sequence.isFinished() && !sequence.isFaulty()"
                         [highlight]="sequence.hasPendingApproval()" [selected]="_selectedEvent == sequence"
                         [attr.uitestid]="'keptn-root-events-list-' + sequence.shkeptncontext"
                         *ngIf="sequence">
      <ktb-selectable-tile-header>
        <div class="container">
          <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
            <div fxFlex fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
              <dt-icon *ngIf="!sequence.isLoading() || sequence.hasPendingApproval(); else showLoading" class="event-icon"
                       [name]="sequence.getIcon()"
                       [class.error]="sequence.isFaulty()"
                       [class.highlight]="sequence.hasPendingApproval()"></dt-icon>
              <ng-template #showLoading>
                <button class="m-0 p-0" dt-button disabled variant="nested">
                  <dt-loading-spinner aria-label="Task is running..."></dt-loading-spinner>
                </button>
              </ng-template>
              <div class="mt-1 mb-1" fxLayout="row" fxLayoutAlign="start center">
                <p class="m-0">
                  <span class="bold" [textContent]="sequence.name"></span>
                  of <span [textContent]="sequence.service"></span>&nbsp;<span [textContent]="sequence.getStatus()"></span>
                </p>
              </div>
            </div>
            <div class="mb-2" fxLayout="row" fxLayoutAlign="start center">
              <button *ngIf="!sequence.isPaused()" class="action-btn small-btn" dt-icon-button variant="nested" title="Pause sequence" (click)="$event.stopPropagation(); triggerPauseSequence(sequence)" [disabled]="sequence.isFinished() || sequence.isUnkownState()"><dt-icon name="pause"></dt-icon></button>
              <button *ngIf="sequence.isPaused()" class="action-btn small-btn" dt-icon-button variant="nested" title="Resume sequence" (click)="$event.stopPropagation(); triggerResumeSequence(sequence)" [disabled]="sequence.isFinished() || sequence.isUnkownState()"><dt-icon name="resume"></dt-icon></button>
              <button class="action-btn small-btn" dt-icon-button variant="nested" title="Abort sequence" (click)="$event.stopPropagation(); triggerAbortSequence(sequence)" [disabled]="sequence.isFinished() || sequence.isUnkownState()"><dt-icon name="abort"></dt-icon></button>
            </div>
          </div>
          <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px" uitestid="keptn-root-events-list-stageDetails">
            <p class="m-0 mr-1 small bold" *ngIf="sequence.getShortImageName(); else noImageName" [textContent]="sequence.getShortImageName()"></p>
            <ng-template #noImageName>
              <p class="m-0 mr-1 small bold" *ngIf="sequence.service" [textContent]="sequence.service"></p>
            </ng-template>
            <p class="m-0 mr-1 small" *ngIf="sequence.getStages().length > 0">in</p>
            <ng-container *ngFor="let stage of sequence.getStages();">
              <ktb-stage-badge [stage]="stage" [evaluationResult]="sequence.getEvaluation(stage)"
                               [success]="sequence.isSuccessful(stage)"
                               [error]="sequence.isFaulty(stage)" [class.warning]="sequence.isWarning(stage)"
                               [highlight]="sequence.hasPendingApproval(stage)"
                               (click)="$event.stopPropagation();selectEvent(sequence, stage)"></ktb-stage-badge>
            </ng-container>
          </div>
        </div>
      </ktb-selectable-tile-header>
      <p class="m-0 small" *ngIf="sequence.isWaiting(), else notWaiting">
        Waiting for previous sequences to be finished in the {{sequence.getLastStage()}} stage.
      </p>
      <ng-template #notWaiting>
        <p class="m-0 small" uitestid="keptn-root-events-list-eventTiming">
          Started
          <span [textContent]="sequence.time | toDate | amCalendar:dateUtil.getCalendarFormats()"></span>
          and
          <span *ngIf="sequence.isFinished()">took <span
            [textContent]="dateUtil.getDurationFormatted(sequence.time, sequence.getLatestEvent()?.time)"></span></span>
          <span *ngIf="!sequence.isFinished()">running for <span
            [textContent]="dateUtil.getDurationFormatted(sequence.time)"></span></span>
        </p>
        <p class="m-0 small">
          <span *ngIf="!sequence.isFinished()">Recent task: </span>
          <span *ngIf="sequence.isFinished()">Last task: </span>
          <span [textContent]="getShortType(sequence.getLatestEvent()?.type)"></span>
        </p>
        <p class="m-0 small" *ngIf="sequence.isRemediation()" [textContent]="sequence.problemTitle"></p>
      </ng-template>
    </ktb-selectable-tile>
  </div>
  <div fxLayout="row" fxLayoutAlign="center center">
    <dt-loading-distractor *ngIf="loading">Loading …</dt-loading-distractor>
    <button dt-show-more *ngIf="!loading && !project?.allSequencesLoaded" (click)="loadOldSequences()">Show older sequences</button>
  </div>
</div>
