@import '../../../variables';
@import '~@dynatrace/barista-components/core/src/style/variables';

.dt-tag.error {
  border-color: $error-color;
}
.dt-tag.warning {
  border-color: $orange-400;
}

.event-icon {
  width: 20px;
  height: 20px;
}

.event-icon.error {
  fill: $error-color;
}

.event-icon.warning {
  fill: $orange-400;
}

.event-icon.success {
  fill: $cta-color-active;
}
