<div fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="5px" class="timeline" *ngIf="deployment">
  <ng-container *ngFor="let stage of deployment.stages">
    <div fxLayout="row" [attr.uitestid]="'keptn-deployment-timeline-stage-' + stage.name">
      <ktb-stage-badge
        class="pointer"
        [stage]="stage.name"
        [evaluation]="stage.hasEvaluation ? stage.latestEvaluation : undefined"
        [isSelected]="selectedStage === stage.name"
        [success]="!stage.isFaulty() && !stage.approvalInformation && !stage.isWarning()"
        [error]="stage.isFaulty()"
        [warning]="stage.isWarning()"
        [aborted]="stage.isAborted()"
        [highlight]="!!stage.approvalInformation"
        [fill]="!!stage.deploymentURL"
        (click)="$event.stopPropagation(); selectStage(stage.name)"
      ></ktb-stage-badge>
      <dt-icon *ngIf="stage.openRemediations.length" name="criticalevent" class="error timeline-icon"></dt-icon>
      <a *ngIf="stage.deploymentURL" [href]="stage.deploymentURL" target="_blank" class="timeline-icon link-icon">
        <button
          dt-icon-button
          variant="nested"
          class="timeline-icon"
          [title]="'View ' + deployment.service + ' in ' + stage.name"
        >
          <dt-icon name="externallink"></dt-icon>
        </button>
      </a>
    </div>
  </ng-container>
</div>
