<div fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="5px" class="timeline" *ngIf="deployment">
  <ng-container *ngFor="let stage of deployment.stages">
    <div
      fxLayout="row"
      [attr.uitestid]="'keptn-deployment-timeline-stage-' + stage.name"
      *ngIf="createStageDeploymentStateInfo(stage) as stateInfo"
    >
      <ktb-stage-badge
        class="pointer"
        [stage]="stage.name"
        [evaluation]="stage.hasEvaluation ? stage.latestEvaluation : undefined"
        [isSelected]="selectedStage === stage.name"
        [success]="!stateInfo.isFaulty && !stage.approvalInformation && !stateInfo.isWarning"
        [error]="stateInfo.isFaulty"
        [warning]="stateInfo.isWarning"
        [aborted]="stateInfo.isAborted"
        [highlight]="!!stage.approvalInformation"
        [fillState]="stage.deploymentURL ? EvaluationBadgeFillState.FILL : EvaluationBadgeFillState.BORDER"
        (click)="$event.stopPropagation(); selectStage(stage.name)"
      ></ktb-stage-badge>
      <ktb-loading-spinner
        class="smaller stage-loading"
        [attr.uitestid]="'ktb-deployment-stage-' + stage.name + '-loading'"
        *ngIf="stage.openRemediations.length || stateInfo.isLoading"
      ></ktb-loading-spinner>
      <a *ngIf="stage.deploymentURL" [href]="stage.deploymentURL" target="_blank" class="timeline-icon link-icon">
        <button
          dt-icon-button
          variant="nested"
          class="timeline-icon"
          [title]="'View ' + deployment.service + ' in ' + stage.name"
        >
          <dt-icon name="externallink"></dt-icon>
        </button>
      </a>
    </div>
  </ng-container>
</div>
