@import '../../../../variables';
@import '~@dynatrace/barista-components/core/src/style/variables';

.timeline {
  background-color: $gray-200;
  border-radius: 15px;
}

.stage-loading {
  height: 25px;
  width: 25px;
}

.pointer {
  cursor: pointer;
}

.timeline-icon {
  &.dt-button.dt-button-nested:hover:not([disabled]) {
    background-color: $gray-200;
  }
}

.timeline-icon,
.timeline-icon .dt-icon {
  height: 25px;
  width: 25px;
}

:host::ng-deep {
  .dt-button-icon {
    margin-top: 0;
    margin-left: -1px;
  }
}

.link-icon {
  fill: var(--dt-theme-main-default-color);
}
