@import '../../../variables';
@import '~@dynatrace/barista-components/core/src/style/variables';

.dt-tag.error {
  background-color: $error-color;
  color: $white;
}

.dt-quick-filter {
  display: flex !important;
  flex-direction: column !important;

  .dt-drawer-container {
    flex: 1 1 0;

    .dt-quick-filter-content {
      padding: 0 !important;
    }
  }
}

ktb-event-item.focused {
  box-shadow: 0 0 0 0 rgba(180, 180, 180, 1);
  transform: scale(1);
  animation: pulse 2s;
  animation-delay: .5s;
}

dt-quick-filter dt-drawer{
  overflow-y: auto;
  overflow-x: hidden;
}
