<ng-template #triggerSequenceButton>
  <div>
    <a (click)="navigateToTriggerSequence()">
      <button dt-button uitestid="keptn-trigger-button-open">
        <dt-icon name="flash"></dt-icon>
        Trigger a new sequence
      </button>
    </a>
  </div>
</ng-template>

<div fxFlexFill>
  <div class="container p-0" fxFlex="40" fxLayout="column" fxLayoutGap="15px" *ngIf="project$ | async as project">
    <div fxFlex fxLayout="column" fxLayoutGap="15px" uitestid="keptn-sequence-view-filter">
      <dt-quick-filter
        [dataSource]="_filterDataSource"
        [filters]="_seqFilters"
        (filterChanges)="filtersClicked($event)"
        aria-label="Filter By Input value"
        label="Filter by"
        clearAllLabel="Clear all"
        fxFlex
      >
        <div fxFlexFill fxLayout="column">
          <div class="container" *ngIf="project.sequences && project.sequences.length !== 0">
            <ng-container [ngTemplateOutlet]="triggerSequenceButton"></ng-container>
          </div>
          <div class="container" fxFlex fxLayout="column" *ngIf="project.sequences; else loadingSequences">
            <div uitestid="keptn-noSequences" *ngIf="project.sequences.length === 0">
              <div fxLayout="row" fxLayoutAlign="start">
                <dt-icon fxFlex="20px" class="icon" name="information"></dt-icon>
                <p class="m-0 ml-2 mb-2">No sequences triggered yet.<br /></p>
              </div>
              <ng-container [ngTemplateOutlet]="triggerSequenceButton"></ng-container>
            </div>
            <div
              uitestid="keptn-noSequencesFiltered"
              *ngIf="filteredSequences.length === 0 && project.sequences.length !== 0"
            >
              <dt-icon fxFlex="20px" class="icon" name="information"></dt-icon>
              <p class="m-0 ml-2">No sequences found that match your filter criteria.</p>
            </div>
            <ktb-root-events-list
              *ngIf="filteredSequences.length !== 0"
              uitestid="keptn-sequence-view-roots"
              [events]="filteredSequences"
              [selectedEvent]="currentSequence"
              (selectedEventChange)="selectSequence($event); loadTraces($event.sequence)"
            ></ktb-root-events-list>
            <div fxLayout="row" fxLayoutAlign="center">
              <ktb-loading-distractor *ngIf="loading" uitestid="keptn-loadingOldSequences"
                >Loading …</ktb-loading-distractor
              >
              <button
                dt-show-more
                *ngIf="!loading && !project?.allSequencesLoaded"
                (click)="loadOldSequences()"
                uitestid="keptn-show-older-sequences-button"
              >
                Show older sequences
              </button>
            </div>
          </div>
        </div>
        <ng-template #loadingSequences>
          <div fxFlex fxLayout="row" fxLayoutAlign="center center" uitestid="keptn-loadingSequences">
            <ktb-loading-distractor>Loading …</ktb-loading-distractor>
          </div>
        </ng-template>
      </dt-quick-filter>
    </div>
  </div>
  <div
    class="container"
    fxFlex="60"
    fxLayout="column"
    fxLayoutGap="15px"
    uitestid="keptn-sequence-view-sequenceDetails"
  >
    <div *ngIf="currentSequence" fxFlex fxLayout="column" fxLayoutGap="15px">
      <div class="mt-2 mb-3">
        <dt-info-group>
          <dt-info-group-title>
            <div fxFlex fxLayout="row" fxLayoutAlign="flex-start center">
              <div fxFlex fxLayout="row" fxLayoutAlign="flex-start center" fxLayoutGap="15px">
                <div class="mt-1 mb-1 sequence-title" fxLayout="row" fxLayoutAlign="start center">
                  <p class="m-0">
                    <span class="bold" [textContent]="currentSequence.name"></span>
                    of
                    <span
                      class="bold"
                      uitestid="keptn-sequence-view-serviceName"
                      [textContent]="currentSequence.getShortImageName() || currentSequence.service"
                    ></span
                    >&nbsp;<span [textContent]="currentSequence.getStatus()"></span>
                  </p>
                  <button *ngIf="currentSequence.isFaulty()" dt-icon-button disabled variant="nested">
                    <dt-icon name="criticalevent"></dt-icon>
                  </button>
                </div>
              </div>
              <div>
                <ktb-sequence-controls [sequence]="currentSequence"></ktb-sequence-controls>
              </div>
            </div>
          </dt-info-group-title>
          <p class="m-0 mb-1">
            <span
              [textContent]="currentSequence.time | toDate | amCalendar: dateUtil.getCalendarFormats(false, true)"
            ></span>
          </p>
          <dt-alert class="mt-1" *ngIf="currentSequence.isWaiting()" severity="warning">
            Sequence is waiting for previous sequences to finish.
          </dt-alert>
        </dt-info-group>
      </div>
      <ktb-sequence-timeline
        *ngIf="currentSequence.getStages().length > 0"
        [currentSequence]="currentSequence"
        [selectedStage]="selectedStage"
        (selectedStageChange)="selectStage($event)"
      ></ktb-sequence-timeline>
      <ktb-sequence-tasks-list
        [tasks]="selectedStage ? currentSequence.getTraces(selectedStage) : currentSequence.traces"
        [focusedEventId]="selectedEventId"
      ></ktb-sequence-tasks-list>
      <div class="mb-3" fxLayout="row" fxLayoutAlign="end center">
        <dt-tag
          >Last time fetched:
          <span
            *ngIf="getTracesLastUpdated(currentSequence) as time; else noTime"
            [textContent]="time | amCalendar: dateUtil.getCalendarFormats(true)"
          ></span>
          <ng-template #noTime>
            <span>never</span>
          </ng-template>
        </dt-tag>
        <button class="ml-2" dt-button (click)="loadTraces(currentSequence)" *ngIf="showReloadButton(currentSequence)">
          <dt-icon name="refresh"></dt-icon>
          Reload
        </button>
      </div>
    </div>
  </div>
</div>
