@import '../../../variables';
@import '@dynatrace/barista-components/core/src/style/variables';

.dt-button + .dt-button {
  fill: $cta-color-active;
  margin-left: $gap-normal;
}

.wide-input {
  min-width: 440px;
}
