@import '../../../variables';
@import '~@dynatrace/barista-components/core/src/style/variables';

::ng-deep path.highlight-primary {
  stroke-width: 2;
  stroke: rgb(109, 109, 109);
  fill: rgba(109, 109, 109, 0.4);
}
::ng-deep path.highlight-secondary {
  stroke-width: 1;
  stroke-dasharray: 5,5;
  stroke: rgb(137, 137, 137);
  fill: rgba(137, 137, 137, 0.2);
}
