@import '../../../variables';
@import '~@dynatrace/barista-components/core/src/style/variables';

.ktb-selectable-tile {

  .ktb-selectable-tile-container {
    position: relative;
    cursor: pointer;
    border-radius: 3px;
    border: 1px solid $gray-200;
    text-decoration: none;
    padding: 8px 11px;
    background-color: $white;
  }

  &:hover .ktb-selectable-tile-container {
    border-color: $gray-300;
  }
  &.ktb-tile-selected .ktb-selectable-tile-container {
    border-color: $gray-300;
    background-color: $gray-100;
  }
  &.ktb-tile-error .ktb-selectable-tile-container {
    border-color: $error-color;
  }
  &.ktb-tile-success .ktb-selectable-tile-container {
    border-color: $cta-color;
  }
  &.ktb-tile-highlight .ktb-selectable-tile-container {
    border-color: $blue-400;
  }
}
