# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo.

* @christian-kreuzberger-dtx @johannes-b

# Codeowners file
CODEOWNERS @AloisReitbauer @grabnerandi @jetzlstorfer @christian-kreuzberger-dtx @johannes-b @danielkhan

# Adopters file
ADOPTERS.md @AloisReitbauer @grabnerandi @jetzlstorfer

# dot files are usually config files
.* @christian-kreuzberger-dtx

# Keptn Bridge
bridge/* @ermin-muratovic @SaraDavilaMendez @mpfosi @sandroschmid
