<ktb-expandable-tile [error]="_event.isFaulty()" [success]="_event.isSuccessful()">
  <ktb-expandable-tile-header>
    <div fxLayout="row" class="pr-4">
      <div fxFlex>
        <h4 class="m-0 mt-1 mb-1" [textContent]="getEventLabel(_event.type)"></h4>
        <p class="m-0"><span class="bold">Source: </span><span [textContent]="_event.source"></span></p>
        <div *ngIf="_event.data.canary">
          <p class="m-0"><span class="bold">Action: </span><span [textContent]="_event.data.canary.action"></span> <span [textContent]="_event.data.canary.value"></span></p>
        </div>
        <div *ngIf="_event.data.teststrategy">
          <p class="m-0"><span class="bold">Test strategy: </span><span [textContent]="_event.data.teststrategy"></span></p>
        </div>
        <div *ngIf="_event.data.ImpactedEntity">
          <p class="m-0"><span class="bold">Problem: </span><span [textContent]="_event.data.ImpactedEntity"></span></p>
        </div>
        <div *ngIf="_event.data.start && _event.data.end">
          <p class="m-0 mt-1"><span [textContent]="_event.data.start | amDateFormat:'L LT'"></span> - <span [textContent]="_event.data.end | amDateFormat:'L LT'"></span> (<span [textContent]="_event.data.end | amDifference: _event.data.start :'minutes'"></span> Minutes)</p>
        </div>
        <div *ngIf="_event.data.labels">
          <div fxLayout="row" fxLayoutAlign="start center">
            <p class="bold">Labels: </p>
            <dt-tag-list aria-label="evaluation-labels">
              <dt-tag *ngFor="let label of _event.data.labels | keyvalue">
                <span [textContent]="label.key"></span>:&nbsp;<span [textContent]="label.value"></span>
              </dt-tag>
            </dt-tag-list>
          </div>
        </div>
        <ng-content
          select="ktb-event-item-detail,
          [ktb-event-item-detail],
          [ktbEventItemDetail]"></ng-content>
      </div>
      <div fxLayout="column" fxLayoutAlign="start end">
        <p class="m-0 mt-1 mb-1" [textContent]="_event.time | amDateFormat:getCalendarFormat()"></p>
      </div>
    </div>
  </ktb-expandable-tile-header>
  <p class="m-0 bold">Event payload</p>
  <pre>{{ event | json }}</pre>
</ktb-expandable-tile>
