<ktb-selectable-tile [error]="_event.isFaulty()" [warning]="_event.isWarning()" [success]="_event.isSuccessful()" [highlight]="_event.isApproval()" *ngIf="_event && (project$ | async) as project">
  <div fxLayout="row">
    <div fxFlex>
      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
        <dt-icon class="event-icon" [class.error]="_event.isFaulty()" [class.success]="_event.isSuccessful()" [class.highlight]="_event.isApproval()" [name]="_event.getIcon()"></dt-icon>
        <h4 class="m-0 mt-1 mb-1" [class.error]="_event.isFaulty()" [textContent]="_event.getLabel()"></h4>
        <a *ngIf="_event.data.deploymentURIPublic" [href]="_event.data.deploymentURIPublic" target="_blank"><button dt-icon-button variant="nested"><dt-icon name="externallink"></dt-icon></button></a>
      </div>
      <p class="m-0 nobreak"><span class="bold">Source: </span><span [textContent]="_event.source"></span></p>
      <div *ngIf="_event.data.canary">
        <p class="m-0 nobreak"><span class="bold">Action: </span><span [textContent]="_event.data.canary.action"></span> <span [textContent]="_event.data.canary.value"></span></p>
      </div>
      <div *ngIf="_event.data.teststrategy">
        <p class="m-0 nobreak"><span class="bold">Test strategy: </span><span [textContent]="_event.data.teststrategy"></span></p>
      </div>
      <div *ngIf="_event.data.ImpactedEntity">
        <p class="m-0 nobreak"><span class="bold">Problem: </span><span [textContent]="_event.data.ImpactedEntity"></span></p>
      </div>
    </div>
    <div fxLayout="column" fxLayoutAlign="start end">
      <p class="m-0 mt-1 mb-1" [textContent]="_event.time | amDateFormat:getCalendarFormat()"></p>
      <div fxLayout="row" fxLayoutAlign="start start">
        <button dt-icon-button variant="nested" [routerLink]="['/evaluation', _event.shkeptncontext, _event.data.stage]" *ngIf="_event.data.evaluation"><dt-icon name="chart-bar"></dt-icon></button>
        <button dt-icon-button variant="nested" (click)="showEventPayloadDialog()"><dt-icon name="coding"></dt-icon></button>
      </div>
    </div>
  </div>
  <div *ngIf="_event.data.ProblemDetails">
    <div fxLayout="row" fxLayoutAlign="start start" *ngIf="_event.data.ProblemDetails.tagsOfAffectedEntities">
      <p class="bold nobreak m-0 mt-1 mb-1">Labels: </p>
      <dt-tag-list aria-label="affected-entities" (click)="$event.stopPropagation();">
        <dt-tag *ngFor="let tag of _event.data.ProblemDetails.tagsOfAffectedEntities">
          <p *ngIf="!isUrl(tag.value)" ><span [textContent]="tag.key"></span>:&nbsp;<span [textContent]="tag.value"></span></p>
          <a *ngIf="isUrl(tag.value)" [href]="tag.value" target="_blank" [textContent]="tag.key"></a>
        </dt-tag>
      </dt-tag-list>
    </div>
  </div>
  <div *ngIf="_event.hasLabels()">
    <div fxLayout="row" fxLayoutAlign="start center">
      <p class="bold">Labels: </p>
      <dt-tag-list aria-label="evaluation-labels">
        <dt-tag *ngFor="let label of _event.data.labels | keyvalue">
          <p *ngIf="!isUrl(label.value)" ><span [textContent]="label.key"></span>:&nbsp;<span [textContent]="label.value"></span></p>
          <a *ngIf="isUrl(label.value)" [href]="label.value" target="_blank" [textContent]="label.key"></a>
        </dt-tag>
      </dt-tag-list>
    </div>
  </div>
  <div *ngIf="_event.isApproval() && _event.isApprovalPending()">
    <table>
      <tr>
        <td><p class="m-0">Currently deployed artifact: </p></td>
        <td><p class="m-0" [textContent]="project.getLatestDeployment(project.getService(_event.data.service), project.getStage(_event.data.stage))?.getShortImageName() || 'N/A'"></p></td>
      </tr>
      <tr>
        <td><p class="m-0">Deployable artifact: </p></td>
        <td><ktb-approval-item [event]="_event"></ktb-approval-item></td>
      </tr>
    </table>
  </div>
  <ng-content
    select="ktb-event-item-detail,
        [ktb-event-item-detail],
        [ktbEventItemDetail]"></ng-content>
</ktb-selectable-tile>
<ng-template #eventPayloadDialog let-data>
  <h1 mat-dialog-title>Event payload</h1>
  <div mat-dialog-content>
    <pre>{{ data | json }}</pre>
  </div>
  <div mat-dialog-actions>
    <button dt-button variant="secondary" (click)="copyEventPayload(data)">Copy</button>
    <button dt-button (click)="closeEventPayloadDialog()">Close</button>
  </div>
</ng-template>
