<ktb-selectable-tile
  [error]="_event.isFaulty()"
  [warning]="_event.isWarning()"
  [success]="_event.isSuccessful()"
  [highlight]="!!_event.isApproval()"
  *ngIf="_event"
>
  <div fxLayout="row">
    <div fxFlex>
      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
        <dt-icon
          [class.error]="_event.isFaulty()"
          [class.success]="_event.isSuccessful()"
          [class.highlight]="_event.isApproval()"
          [name]="_event.getIcon()"
        ></dt-icon>
        <h4 class="m-0 mt-1 mb-1" [class.error]="_event.isFaulty()" [textContent]="_event.getLabel()"></h4>
        <a
          *ngIf="_event.data.deploymentURIPublic"
          [href]="_event.data.deploymentURIPublic"
          target="_blank"
          [title]="'View ' + _event.service + ' in ' + _event.stage"
          ><button dt-icon-button variant="nested"><dt-icon name="externallink"></dt-icon></button
        ></a>
      </div>
      <div *ngIf="_event.data.canary">
        <p class="m-0 nobreak">
          <span class="bold">Action: </span><span [textContent]="_event.data.canary.action"></span>
          <span [textContent]="_event.data.canary.value"></span>
        </p>
      </div>
      <div *ngIf="_event.data.teststrategy">
        <p class="m-0 nobreak">
          <span class="bold">Test strategy: </span><span [textContent]="_event.data.teststrategy"></span>
        </p>
      </div>
      <div *ngIf="_event.isProblem() || _event.isRemediation()">
        <p class="m-0 nobreak">
          <span class="bold">Problem: </span><span [textContent]="_event.getProblemDetails()"></span>
        </p>
      </div>
    </div>
    <div fxLayout="column" fxLayoutAlign="start end" uitestid="keptn-event-item-contextButtons">
      <div fxLayout="row" fxLayoutAlign="start start">
        <p
          *ngIf="showTime && _event.time"
          class="m-0 mt-1 mb-1"
          [textContent]="_event.time | amDateFormat: dateUtil.getDateTimeFormat()"
        ></p>
        <button
          dt-icon-button
          variant="nested"
          uitestid="keptn-event-item-contextButton-evaluation"
          title="Evaluation board"
          [routerLink]="['/evaluation', _event.shkeptncontext, _event.stage]"
          *ngIf="(_event.isEvaluation() && _event.isFinished()) || showChartLink"
        >
          <dt-icon name="chart-bar"></dt-icon>
        </button>
        <button
          dt-icon-button
          variant="nested"
          uitestid="keptn-event-item-contextButton-payload"
          title="Event payload"
          (click)="showEventPayloadDialog()"
        >
          <dt-icon name="coding"></dt-icon>
        </button>
      </div>
    </div>
  </div>
  <div *ngIf="showLabels && _event.getFinishedEvent()?.hasLabels()" uitestid="keptn-event-item-evaluationTags">
    <div fxLayout="row" fxLayoutAlign="start center">
      <p class="bold">Labels:</p>
      <dt-tag-list aria-label="evaluation-labels">
        <dt-tag *ngFor="let label of _event.getFinishedEvent()?.labels | keyvalue">
          <a *ngIf="isUrl(label.value); else noUrl" [href]="label.value" target="_blank" [textContent]="label.key"></a>
          <ng-template #noUrl>
            <span [textContent]="label.key"></span>:&nbsp;<span [textContent]="label.value"></span>
          </ng-template>
        </dt-tag>
      </dt-tag-list>
    </div>
  </div>
  <div *ngIf="_event.isApproval() && _event.isApprovalPending()" uitestid="keptn-event-item-approval">
    <div class="table">
      <div class="table-row">
        <div class="table-cell">
          <p class="m-0">Currently deployed artifact:</p>
        </div>
        <div class="table-cell">
          <p class="m-0" [textContent]="image || 'N/A'"></p>
        </div>
      </div>
      <div class="table-row">
        <div class="table-cell">
          <p class="m-0">Deployable artifact:</p>
        </div>
        <div class="table-cell">
          <ktb-approval-item [event]="_event" (approvalSent)="approvalSent.emit()"></ktb-approval-item>
        </div>
      </div>
    </div>
  </div>
  <ng-content
    select="ktb-event-item-detail,
        [ktb-event-item-detail],
        [ktbEventItemDetail]"
  ></ng-content>
</ktb-selectable-tile>
<ng-template #eventPayloadDialog let-data>
  <h1 mat-dialog-title>Event payload</h1>
  <div mat-dialog-content>
    <pre>{{ data | json }}</pre>
  </div>
  <div mat-dialog-actions>
    <button dt-button variant="secondary" (click)="copyEventPayload(data)">Copy</button>
    <button dt-button (click)="closeEventPayloadDialog()">Close</button>
  </div>
</ng-template>
