@import '../../../variables';
@import '~@dynatrace/barista-components/core/src/style/variables';

.event-icon {
  width: 20px;
  height: 20px;
}

.event-icon.error {
  fill: $white;
  background: $error-color;
  border: 10px solid $error-color;
  box-sizing: content-box;
  margin-top: -8px;
  margin-left: -11px;
}

.event-icon.success {
  fill: $cta-color-active;
}
