<div fxFlexFill>
  <div class="container" fxFlex fxLayout="column">
    <div class="mb-3 settings-section" fxFlex fxLayout="column">
      <h2>Create Secret</h2>
      <p class="mt-0 mb-3">
        Create a secret to store sensitive data like credentials or URIs for integrations.
      </p>

      <form [formGroup]="createSecretForm">
        <div class="mb-3" fxLayout="row" fxLayoutAlign="none end" fxLayoutGap="15px">
          <dt-form-field>
            <dt-label>Name *</dt-label>
            <input formControlName="name" type="text" required dtInput placeholder="Secret name" />
            <dt-error *ngIf="getFormControl('name').errors?.required">Must not be empty</dt-error>
            <dt-error *ngIf="getFormControl('name').errors?.pattern">Name must consist of lower case alphanumeric characters, '-' or '.', and must start and end with an alphanumeric character</dt-error>
          </dt-form-field>
        </div>

        <div formArrayName="data">
          <ng-container *ngFor="let dataGroup of data.controls; let i = index;">
            <form [formGroup]="dataGroup">
              <div class="mb-1" fxLayout="row" fxLayoutAlign="none end" fxLayoutGap="15px">
                <dt-form-field>
                  <dt-label>Key *</dt-label>
                  <input formControlName="key" type="text" required dtInput placeholder="Key" autocomplete="false" />
                  <dt-error *ngIf="dataGroup.get('key').errors?.required">Must not be empty</dt-error>
                  <dt-error *ngIf="dataGroup.get('key').errors?.pattern">Key must consist of alphanumeric characters, '-', '_' or '.'</dt-error>
                </dt-form-field>
                <dt-form-field>
                  <dt-label>Value *</dt-label>
                  <input formControlName="value" type="password" required dtInput placeholder="Value" autocomplete="false" />
                  <dt-error>Must not be empty</dt-error>
                </dt-form-field>
                <button dt-icon-button variant="nested" aria-label="An example nested button containing an icon" title="Remove key-value pair" (click)="removePair(i)">
                  <dt-icon name="removerow"></dt-icon>
                </button>
              </div>
            </form>
          </ng-container>
        </div>

        <button type="button" dt-icon-button variant="nested" aria-label="An example nested button containing an icon" title="Add key-value pair" (click)="addPair()">
          <dt-icon name="addrowonbottom"></dt-icon>
        </button>

        <div fxLayout="row" fxLayoutAlign="none end" fxLayoutGap="15px" class="mt-3">
          <button (click)="createSecret()" [disabled]="createSecretForm.invalid || isLoading" dt-button>
            <dt-loading-spinner *ngIf="isLoading" aria-label="Create secret"></dt-loading-spinner>
            Add secret
          </button>
          <button dt-button variant="secondary" routerLink="../../secrets">
            Cancel
          </button>
        </div>

        <p class="small">* fields are required</p>
      </form>
    </div>
  </div>
</div>
