<dt-label class="dt-form-field-label">Upload PEM certificate file</dt-label>
<div ktbDragAndDrop (dropped)="validateCertificate($event); dropError = undefined" (dropError)="dropError = $event">
  <p>Drag and drop a file here<br />or</p>
  <button dt-button (click)="certificateInput.click()">Select a file</button>
  <input
    uitestid="ktb-certificate-file-input"
    hidden
    type="file"
    [accept]="allowedExtensions.join(',')"
    #certificateInput
    (change)="validateCertificate(certificateInput.files); certificateInput.value = ''; dropError = undefined"
  />
  <p class="drop-error" [textContent]="dropError" *ngIf="dropError"></p>
</div>
<form [formGroup]="certificateForm" (input)="certificateChanged()" class="mt-3">
  <dt-form-field>
    <dt-label>PEM certificate as text</dt-label>
    <textarea
      [formControl]="certificateControl"
      dtInput
      class="resize-vertical"
      placeholder="Begins with -----BEGIN CERTIFICATE-----"
      uitestid="ktb-certificate-input"
    ></textarea>
    <dt-loading-spinner *ngIf="isLoading" dtPrefix aria-label="Loading data"></dt-loading-spinner>
    <dt-error>
      The certificate must start with "-----BEGIN CERTIFICATE-----" and end with "-----END CERTIFICATE-----"
    </dt-error>
  </dt-form-field>
</form>
