@import '../../variables';
@import '~@dynatrace/barista-components/core/src/style/variables';

header {
  color: #fff;
  background-color: $primary-color;
  position: sticky;
  z-index: 100;
  top: 0;

  .container {
    padding: .2rem 1rem;
  }

  .brand {
    color: #fff;
    text-decoration: none;

    img {
      width: 2rem;
    }
  }

  p {
    font-size: 1.25rem;
    font-weight: 600;
  }
}

::ng-deep .dt-context-dialog-panel {
  p.small {
    color: $gray-100;
    span {
      color: $gray-200;
    }
  }
  a {
    color: $white;
    word-break: break-all;
  }
  a:hover {
    color: lighten($primary-color, 55%);
  }

  .dt-icon {
    width: 20px;
    height: 20px;
    fill: $error-color;
  }
}

dt-select#projectSelect {
  border: 0;
  background: transparent;
  color: #fff;
  font-size: 1.25rem;
  font-weight: 600;

  ::ng-deep .dt-select-trigger {
    padding: 0;
  }
  ::ng-deep .dt-select-panel {
    border-radius: 3px;
  }
  ::ng-deep .dt-select-arrow svg {
    fill: #fff;
  }
}
