<header class="container" dtTheme=":dark" fxLayout="row" fxLayoutGap="5%" fxLayoutAlign="space-between center">
  <div fxFlex fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="flex-start center">
    <a routerLink="/" class="brand" fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="space-between center">
      <img src="/assets/logo.png" />
      <p class="mt-1 mb-1">keptn</p>
    </a>
    <p class="mt-1 mb-1">/</p>
    <p class="mt-1 mb-1">
      <dt-select id="projectSelect" placeholder="Choose project" aria-label="Choose project" [value]="(project | async)?.projectName">
        <dt-option *ngFor="let project of projects | async" [routerLink]="['/project', project.projectName]" [value]="project.projectName" [textContent]="project.projectName"></dt-option>
      </dt-select>
    </p>
  </div>
  <div fxFlex="50">
    <!-- TODO: create search input to filter events in bridge -->
  </div>
  <div fxLayout="row">
  </div>
</header>
