<header dtTheme=":dark">
  <ng-content></ng-content>
  <div class="container" fxLayout="row" fxLayoutGap="5%" fxLayoutAlign="space-between center">
    <div fxFlex fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="flex-start center">
      <a routerLink="/" class="brand" fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="space-between center">
        <img src="/assets/logo.png" />
        <p class="mt-1 mb-1">keptn</p>
      </a>
      <p class="mt-1 mb-1">/</p>
      <p class="mt-1 mb-1">
        <dt-select id="projectSelect" placeholder="Choose project" aria-label="Choose project" [value]="(project | async)?.projectName">
          <dt-option *ngFor="let project of projects | async" [routerLink]="['/project', project.projectName]" [value]="project.projectName" [textContent]="project.projectName"></dt-option>
        </dt-select>
      </p>
    </div>
    <div fxFlex="50">
      <!-- TODO: create search input to filter events in bridge -->
    </div>
    <div fxLayout="row">
      <button dt-icon-button variant="nested" [dtContextDialogTrigger]="dialog" aria-label="Open user menu">
        <dt-icon name="user-uem"></dt-icon>
      </button>
      <dt-context-dialog #dialog aria-label="User menu" ariaLabelClose="Close user menu">
        <div fxLayout="column" fxLayoutAlign="flex-end end">
          <p class="small m-0">Keptn version <span></span></p>
          <p class="small m-0">Bridge version <span></span></p>
        </div>
        <div class="mt-3" fxLayout="row">
          <div fxFlex>
            <p class="m-0">Enable version check</p>
          </div>
          <div>
            <dt-switch></dt-switch>
          </div>
        </div>
        <p class="m-0 mt-3">By enabling this feature, Keptn will collect statistical data. Details can be found at <a href="https://keptn.sh/docs/0.6.0/reference/version-check">https://keptn.sh/docs/0.6.0/reference/version-check</a></p>
      </dt-context-dialog>
    </div>
  </div>
</header>
