<dt-top-bar-navigation aria-label="Main">
  <dt-top-bar-navigation-item align="start" uitestid="keptn-nav-projectMenu">
    <a routerLink="/" class="brand" fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="space-between center">
      <img class="m-0 ml-1" src="assets/branding/logo.png" />
      <p class="m-0" [textContent]="appTitle"></p>
    </a>
    <p class="m-2">/</p>
    <p class="m-0">
      <!-- Show projects picker -->
      <dt-select uitestid="keptn-nav-projectSelect" id="projectSelect" placeholder="Choose project" aria-label="Choose project" [value]="(project | async)?.projectName">
        <dt-option *ngFor="let project of projects | async"
                   [routerLink]="getRouterLink(project.projectName)"
                   [value]="project.projectName" [textContent]="project.projectName"></dt-option>
      </dt-select>
    </p>
  </dt-top-bar-navigation-item>
  <dt-top-bar-navigation-item align="end" uitestid="keptn-nav-userMenu">
    <button dtTopBarAction variant="nested" [dtContextDialogTrigger]="dialog" aria-label="Open user menu">
      <dt-icon name="user-uem"></dt-icon>
    </button>
  </dt-top-bar-navigation-item>
</dt-top-bar-navigation>
<dt-context-dialog #dialog aria-label="User menu" ariaLabelClose="Close user menu">
  <h3 class="m-0">Get started</h3>
  <div class="mt-1" *ngIf="keptnInfo?.bridgeInfo?.showApiToken" uitestid="keptn-nav-showApiLink">
    <a uitestid="keptn-nav-openKeptnApi" class="mt-1 mb-2" [href]="keptnInfo.bridgeInfo.apiUrl" rel="noopener noreferrer" target="_blank">Keptn API</a>
  </div>
  <div class="mt-1" fxLayout="row" fxLayoutAlign="flex-start center" *ngIf="keptnInfo?.bridgeInfo?.cliDownloadLink" uitestid="keptn-nav-showDownloadLink">
    <div fxFlex>
      <p class="m-0 mr-2 nobreak">
        <a uitestid="keptn-nav-downloadKeptnCli" [attr.href]="keptnInfo.bridgeInfo.cliDownloadLink" rel="noopener noreferrer" target="_blank">Download Keptn CLI</a></p>
    </div>
  </div>
  <div class="mt-2 mb-2" *ngIf="keptnInfo?.bridgeInfo?.showApiToken" uitestid="keptn-nav-showApiToken">
    <div class="mt-1" uitestid="keptn-nav-copyKeptnApiToken">
      <ktb-copy-to-clipboard [value]="keptnInfo.bridgeInfo.apiToken" [label]="'Keptn API token'"></ktb-copy-to-clipboard>
    </div>
    <div class="mt-1" uitestid="keptn-nav-copyKeptnAuthCommand">
      <ktb-copy-to-clipboard [value]="keptnInfo.bridgeInfo.authCommand" [label]="'keptn auth command'"></ktb-copy-to-clipboard>
    </div>
  </div>
  <hr/>
  <div class="mt-2 mb-3" fxLayout="row" fxLayoutAlign="flex-start center" *ngIf="keptnInfo?.bridgeInfo?.enableVersionCheckFeature && keptnInfo?.versionCheckEnabled === false">
    <dt-icon class="error" [name]="'criticalevent'"></dt-icon>
    <p class="small m-0">Automatic version and security check disabled</p>
  </div>
  <div class="mt-3 mb-2" fxLayout="column" fxLayoutAlign="flex-end end" uitestid="keptn-nav-versionInfo">
    <p class="small m-0">Keptn version: <span [textContent]="keptnInfo?.keptnVersion"></span><span *ngIf="keptnInfo?.keptnVersionInvalid">*</span></p>
    <p class="small m-0">Bridge version: <span [textContent]="keptnInfo?.bridgeInfo?.bridgeVersion"></span><span *ngIf="keptnInfo?.bridgeVersionInvalid">*</span></p>
  </div>
  <div *ngIf="keptnInfo?.bridgeInfo?.enableVersionCheckFeature" uitestid="keptn-nav-versionCheck">
    <div class="mt-3" fxLayout="row" fxLayoutAlign="flex-start" *ngIf="keptnInfo.keptnVersionInvalid || keptnInfo.bridgeVersionInvalid">
      <div>
        <dt-icon class="error mr-1" [name]="'criticalevent'"></dt-icon>
      </div>
      <div fxFlex>
        <p class="small m-0">*Invalid version for automatic version check. Please install one of the stable or prerelease versions.</p>
      </div>
    </div>
    <div class="mt-3" fxLayout="row" uitestid="keptn-nav-toggleVersionCheck">
      <div fxFlex>
        <p class="m-0">Version check</p>
      </div>
      <div>
        <dt-switch (change)="versionCheckClicked($event)" [checked]="keptnInfo?.versionCheckEnabled !== false"></dt-switch>
      </div>
    </div>
    <p class="m-0 mt-2 small">By enabling this feature (recommended), Keptn will notify about new versions and security patches for Keptn and therefore collect statistical data. Details can be found at <a [href]="versionCheckReference | keptnUrl" target="_blank" [textContent]="versionCheckReference | keptnUrl"></a></p>
  </div>
  <ktb-user uitestid="keptn-nav-oauthUserInfo" *ngIf="keptnInfo?.bridgeInfo.authType === 'OAUTH'" [user]="keptnInfo?.bridgeInfo.user"></ktb-user>
</dt-context-dialog>

<dt-confirmation-dialog [state]="versionCheckDialogState" aria-label="Version check feature info">
  <dt-confirmation-dialog-state name="info">
    Keptn provides an automatic version check to be notified about new versions and security patches for Keptn. It is recommended to have this check enabled. This setting can be changed in the user menu on the top right.
    <dt-confirmation-dialog-actions>
      <button dt-button (click)="acceptVersionCheck(true)">Accept (recommended)</button>
      <button dt-button variant="secondary" (click)="acceptVersionCheck(false)">Decline</button>
    </dt-confirmation-dialog-actions>
  </dt-confirmation-dialog-state>
  <dt-confirmation-dialog-state name="success">
    Automatic version check enabled successfully!
  </dt-confirmation-dialog-state>
</dt-confirmation-dialog>
