<div class="container p-0" fxFlex="40" fxLayout="column" fxLayoutGap="15px" *ngIf="project$ | async as project">
  <div fxFlex fxLayout="column" fxLayoutGap="15px">
    <dt-quick-filter [dataSource]="_filterDataSource" [filters]="_seqFilters" (filterChanges)="filtersChanged($event)" aria-label="Filter By Input value" label="Filter by" clearAllLabel="Clear all" fxFlex>
      <div class="container" fxFlex fxLayout="column">
        <ktb-root-events-list [events]="getFilteredSequences(project.sequences)" [selectedEvent]="currentSequence" (selectedEventChange)="selectSequence($event)" fxFlex></ktb-root-events-list>
        <div class="mb-3"></div>
      </div>
    </dt-quick-filter>
  </div>
</div>
<div class="container" fxFlex="60" fxLayout="column" fxLayoutGap="15px">
  <div *ngIf="currentSequence" fxFlex fxLayout="column" fxLayoutGap="15px">
    <div class="mt-2 mb-3">
      <dt-info-group>
        <dt-info-group-title>
          <div fxFlex fxLayout="row" fxLayoutAlign="flex-start center" fxLayoutGap="15px">
            <div fxLayout="row" fxLayoutAlign="start center">
              <button dt-icon-button disabled variant="nested" *ngIf="currentSequence.isFaulty()"><dt-icon name="criticalevent"></dt-icon></button>
              <p class="mb-1"><span class="bold" [textContent]="currentSequence.getLabel()"></span> started</p>
            </div>
          </div>
        </dt-info-group-title>
        <p class="m-0 mb-1"><span class="bold">Keptn ID: </span><span [textContent]="currentSequence.shkeptncontext"></span></p>
        <p class="m-0">
          <dt-tag class="mr-1" *ngIf="currentSequence.getShortImageName()" [textContent]="currentSequence.getShortImageName()"></dt-tag>
          <dt-tag class="mr-1" *ngIf="!currentSequence.getShortImageName()" [textContent]="currentSequence.getService()"></dt-tag>
        </p>
      </dt-info-group>
    </div>
    <ktb-sequence-timeline [currentSequence]="currentSequence" (selectedStageChange)="selectedStage = $event;"></ktb-sequence-timeline>
    <ktb-sequence-tasks-list [tasks]="currentSequence.traces" [stage]="selectedStage"></ktb-sequence-tasks-list>
    <div class="mb-3" fxLayout="row" fxLayoutAlign="end center">
      <dt-tag-list aria-label="fetch-info">
        <dt-tag>Last time fetched: <span [textContent]="getTracesLastUpdated(currentSequence) | amCalendar:dateUtil.getCalendarFormats(true)"></span></dt-tag>
        <dt-tag *ngIf="showReloadButton(currentSequence)"><button dt-button (click)="loadTraces(currentSequence)"><dt-icon name="refresh"></dt-icon> Reload</button></dt-tag>
      </dt-tag-list>
    </div>
  </div>
</div>
