{{- define "depRow" -}}
{{- range $i, $dep := . }}
| [{{ $dep.Name }}]({{ $dep.URL }}) | {{ $dep.Version }} | {{ $dep.LicenceType }} |
{{- end }}
{{- end -}}

## Direct dependencies

| Name | Version | Licence |
|------|---------|---------|{{ template "depRow" .Direct  }}


{{ if .Indirect }}
## Indirect dependencies

| Name | Version | Licence |
|------|---------|---------|{{ template "depRow" .Direct  }}
{{ end }}