@import '../../../variables';
@import '~@dynatrace/barista-components/core/src/style/variables';

.service-title {
  height: 32px;
}

.animation-pulse {
  box-shadow: 0 0 0 0 rgba(180, 180, 180, 1);
  transform: scale(1);
  animation: pulse 2s;
  animation-delay: .5s;
}

code {
  padding: 5px;
  background-color: $gray-200;
  border-radius: 5px;
}

.info {
  fill: $primary-color;
}
