<ng-container *ngIf="deployment" uitestid="keptn-service-details-deployment">
  <dt-loading-distractor *ngIf="!deployment.sequence, else details">Loading …</dt-loading-distractor>
  <ng-template #details>
    <dt-info-group class="mb-2">
      <dt-info-group-title>
        <div fxFlex fxLayout="row" fxLayoutAlign="flex-start center" fxLayoutGap="15px">
          <div class="mt-1 mb-1" fxLayout="row" fxLayoutAlign="start center" class="service-title">
            <span class="bold" [textContent]="deployment.sequence.getShortImageName() || deployment.service"></span>&nbsp;
            <dt-tag-list aria-label="deployment-labels" uitestid="keptn-service-details-deploymentTags">
              <dt-tag *ngFor="let label of (deployment.sequence.getLastTrace()?.getFinishedEvent()?.data.labels || deployment.sequence.data.labels) | keyvalue">
                <p *ngIf="!isUrl(label.value)" ><span [textContent]="label.key"></span>:&nbsp;<span [textContent]="label.value"></span></p>
                <a *ngIf="isUrl(label.value)" [href]="label.value" target="_blank" [textContent]="label.key"></a>
              </dt-tag>
            </dt-tag-list>
          </div>
        </div>
      </dt-info-group-title>
    </dt-info-group>
    <ktb-deployment-timeline [deployment]="deployment" [(selectedStage)]="selectedStage" (selectedStageChange)="selectStage($event)"></ktb-deployment-timeline>
    <ktb-sequence-list [shkeptncontext]="deployment.shkeptncontext" [sequences]="deployment.sequence.getTracesOfStage(selectedStage)" [stage]="selectedStage" [remediations]="deployment?.getStage(selectedStage)?.remediations"></ktb-sequence-list>
    <button *ngIf="deployment.getStage(selectedStage)?.remediations.length > 0" class="mt-1" dt-button variant="secondary" (click)="showRemediationConfigDialog()">
      <dt-icon name="services"></dt-icon>
      Show remediation config
    </button>
    <ng-container>

      <div class="mt-3" [class]="{'animation-pulse': selectedStage}" fxLayout="column" fxLayoutGap="15px" *ngIf="selectedStage && deployment.sequence.getPendingApproval(selectedStage)">
        <ktb-event-item [event]="deployment.sequence.getPendingApproval(selectedStage)">
        </ktb-event-item>
      </div>

      <div *ngIf="!deployment.sequence.getEvaluation(selectedStage)" fxLayout="row" fxLayoutAlign="start start" class="mt-2">
        <dt-icon class="event-icon info mr-1" name="information"></dt-icon>
        <div fxLayout="column">
          <span>No evaluation performed during the sequence execution.</span>
          <span>To perform an evaluation, add the <code>evaluation</code> task to the <code>delivery</code> sequence of the <code [textContent]="selectedStage"></code> stage in the Shipyard for this project.</span>
        </div>
      </div>

      <div class="mt-3" fxLayout="column" fxLayoutGap="15px" *ngIf="deployment.getEvaluation(selectedStage) as evaluationEvent">
        <ktb-event-item [showChartLink]="true" [event]="evaluationEvent" *ngIf="evaluationEvent.isFinished()" [showTime]="false" [showLabels]="false">
          <ktb-event-item-detail>
            <ktb-evaluation-details [evaluationData]="evaluationEvent.getFinishedEvent()" [isInvalidated]="evaluationEvent.isInvalidated()"></ktb-evaluation-details>
          </ktb-event-item-detail>
        </ktb-event-item>
      </div>
    </ng-container>
    <ng-template #remediationDialog let-data>
      <h1 mat-dialog-title>Remediation</h1>
      <div mat-dialog-content>
        <pre [textContent]="data"></pre>
      </div>
      <div mat-dialog-actions>
        <button dt-button variant="secondary" (click)="copyPayload(data)">Copy</button>
        <button dt-button class="ml-2" (click)="closeRemediationConfigDialog()">Close</button>
      </div>
    </ng-template>
  </ng-template>
</ng-container>
