<ktb-expandable-tile [expanded]="false" [error]="_task.isFaulty()" [warning]="_task.isWarning()" [success]="_task.isSuccessful()" [highlight]="_task.isApproval()" *ngIf="_task && (project$ | async) as project">
  <ktb-expandable-tile-header>
    <div fxLayout="row">
      <div fxFlex>
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
          <p class="m-0 mt-1 mb-1 mr-2" [textContent]="_task.time | amDateFormat:dateUtil.getTimeFormat()"></p>
          <button *ngIf="!_task.isFinished()" class="m-0 p-0" dt-button disabled variant="nested">
            <dt-loading-spinner aria-label="Task is running..."></dt-loading-spinner>
          </button>
          <dt-icon *ngIf="_task.isFinished()" class="event-icon" [class.error]="_task.isFaulty()" [class.success]="_task.isSuccessful()" [class.highlight]="_task.isApproval()" [name]="_task.getIcon()"></dt-icon>
          <h4 class="m-0 mt-1 mb-1" [class.error]="_task.isFaulty()" [textContent]="_task.getLabel()"></h4>
        </div>
        <div *ngIf="_task.data.canary">
          <p class="m-0 nobreak"><span class="bold">Action: </span><span [textContent]="_task.data.canary.action"></span> <span [textContent]="_task.data.canary.value"></span></p>
        </div>
        <div *ngIf="_task.data.teststrategy">
          <p class="m-0 nobreak"><span class="bold">Test strategy: </span><span [textContent]="_task.data.teststrategy"></span></p>
        </div>
        <div *ngIf="_task.data.ImpactedEntity">
          <p class="m-0 nobreak"><span class="bold">Problem: </span><span [textContent]="_task.data.ImpactedEntity"></span></p>
        </div>
      </div>
      <div fxLayout="column" fxLayoutAlign="start end">
        <div class="task-buttons" fxLayout="row" fxLayoutAlign="start start">
          <ng-container *ngIf="_task.isDeployment()">
            <a *ngFor="let deploymentURIPublic of _task.data?.deployment?.deploymentURIsPublic" [href]="deploymentURIPublic" target="_blank">
              <button dt-icon-button variant="nested"><dt-icon name="externallink"></dt-icon></button>
            </a>
          </ng-container>
          <button dt-icon-button variant="nested" [routerLink]="['/evaluation', _task.shkeptncontext, _task.getStage()]" *ngIf="_task.isEvaluation() && _task.isFinished()"><dt-icon name="chart-bar"></dt-icon></button>
          <button dt-icon-button variant="nested" (click)="showEventPayloadDialog($event, _task)"><dt-icon name="coding"></dt-icon></button>
        </div>
      </div>
    </div>
    <div *ngIf="_task.data.ProblemDetails">
      <div fxLayout="row" fxLayoutAlign="start start" *ngIf="_task.data.ProblemDetails.tagsOfAffectedEntities">
        <p class="bold nobreak m-0 mt-1 mb-1">Labels: </p>
        <dt-tag-list aria-label="affected-entities" (click)="$event.stopPropagation();">
          <dt-tag *ngFor="let tag of _task.data.ProblemDetails.tagsOfAffectedEntities">
            <p *ngIf="!isUrl(tag.value)" ><span [textContent]="tag.key"></span>:&nbsp;<span [textContent]="tag.value"></span></p>
            <a *ngIf="isUrl(tag.value)" [href]="tag.value" target="_blank" [textContent]="tag.key"></a>
          </dt-tag>
        </dt-tag-list>
      </div>
    </div>
    <div *ngIf="_task.hasLabels()">
      <div fxLayout="row" fxLayoutAlign="start center">
        <p class="bold">Labels: </p>
        <dt-tag-list aria-label="evaluation-labels">
          <dt-tag *ngFor="let label of _task.data.labels | keyvalue">
            <p *ngIf="!isUrl(label.value)" ><span [textContent]="label.key"></span>:&nbsp;<span [textContent]="label.value"></span></p>
            <a *ngIf="isUrl(label.value)" [href]="label.value" target="_blank" [textContent]="label.key"></a>
          </dt-tag>
        </dt-tag-list>
      </div>
    </div>
    <div *ngIf="_task.isApproval() && project.getRootEvent(project.getService(_task.data.service), _task).isApproval() == _task.data.stage">
      <table>
        <tr>
          <td><p class="m-0">Currently deployed artifact: </p></td>
          <td><p class="m-0" [textContent]="project.getLatestDeployment(project.getService(_task.data.service), project.getStage(_task.data.stage))?.getShortImageName() || 'N/A'"></p></td>
        </tr>
        <tr>
          <td><p class="m-0">Deployable artifact: </p></td>
          <td><ktb-approval-item [event]="_task"></ktb-approval-item></td>
        </tr>
      </table>
    </div>
  </ktb-expandable-tile-header>
  <div class="sub-task-item pt-2 pb-2" #subTaskRef *ngFor="let subTask of task.traces">
    <div fxLayout="row">
      <div fxFlex>
        <p class="m-0" *ngIf="!subTask.isFinished()"><span class="mr-2" [textContent]="subTask.time | amDateFormat:dateUtil.getTimeFormat()"></span> <span class="italic" [textContent]="subTask.source"></span> started</p>
        <p class="m-0" *ngIf="subTask.isFinished()"><span class="mr-2" [textContent]="subTask.time | amDateFormat:dateUtil.getTimeFormat()"></span> <span class="italic" [textContent]="subTask.source"></span> finished with result <span class="italic" [textContent]="subTask.data.result"></span></p>
        <p class="m-0 small" *ngIf="subTask.data.message" [textContent]="subTask.data.message"></p>
      </div>
      <div fxLayout="column" fxLayoutAlign="start end">
        <button dt-icon-button variant="nested" (click)="showEventPayloadDialog($event, subTask)"><dt-icon name="coding"></dt-icon></button>
      </div>
    </div>
  </div>
  <ng-content
    select="ktb-task-item-detail,
        [ktb-task-item-detail],
        [ktbEventItemDetail]"></ng-content>
</ktb-expandable-tile>
<ng-template #taskPayloadDialog let-data>
  <h1 mat-dialog-title>Event payload</h1>
  <div mat-dialog-content>
    <pre>{{ data | json }}</pre>
  </div>
  <div mat-dialog-actions>
    <button dt-button variant="secondary" (click)="copyEventPayload(data)">Copy</button>
    <button dt-button (click)="closeEventPayloadDialog()">Close</button>
  </div>
</ng-template>
