<div class="container" uitestid="keptn-dashboard-projectList">
  <ng-container *ngIf="projects$ | async as projects">
    <div
      *ngIf="!projects"
      fxLayout="row"
      fxLayoutAlign="start center"
      fxLayoutGap="15px"
      uitestid="keptn-dashboard-loading"
    >
      <dt-loading-spinner></dt-loading-spinner>
      <p>Loading ...</p>
    </div>

    <div fxLayout="row" fxLayoutAlign="start" class="p-3 project-dashboard-actions">
      <a [routerLink]="'/create/project'"><button dt-button>Create a new project</button></a>
      <div class="new-project-overlay p-3 animation-pulse" *ngIf="projects?.length === 0">
        <div fxLayout="row">
          <dt-icon name="information" class="event-icon mr-2"></dt-icon
          ><span>Ready for your automation journey?<br />Start here by creating your first project.</span>
        </div>
      </div>
    </div>

    <dt-empty-state *ngIf="projects?.length === 0">
      <dt-empty-state-item>
        <dt-empty-state-item-img>
          <img alt="Logo" class="mt-2" [src]="logoInvertedUrl" />
        </dt-empty-state-item-img>
        <dt-empty-state-item-title class="mt-2" aria-level="2"> No projects existing </dt-empty-state-item-title>
        <p>
          There are no projects available.<br />
          Create a new project by using the "Create a new project" button or check out the
          <a href="https://keptn.sh/docs/quickstart/" target="_blank" rel="noopener noreferrer"> Quick Start</a>
          instructions on how to <a [href]="'/manage/project/' | keptnUrl" target="_blank">create a project</a>
          <ng-container *ngIf="!isQualityGatesOnly">
            and to <a [href]="'/manage/service/#onboard-a-service' | keptnUrl" target="_blank">onboard a service</a>.
          </ng-container>
          <ng-container *ngIf="isQualityGatesOnly">
            and to <a [href]="'/manage/service/#create-a-service' | keptnUrl" target="_blank">create a service</a>.
          </ng-container>
        </p>
        <button dt-button (click)="loadProjects()">
          <dt-icon name="refresh"></dt-icon>
          Refresh projects
        </button>
      </dt-empty-state-item>
    </dt-empty-state>

    <div class="projects-wrapper">
      <dt-info-group *ngIf="projects.length > 0">
        <dt-info-group-title>
          <p><span [textContent]="projects.length"></span>&nbsp;<span i18n>Projects</span></p>
        </dt-info-group-title>
      </dt-info-group>
      <ktb-project-list [projects]="projects"></ktb-project-list>
    </div>
  </ng-container>
</div>
