---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: configuration-service
  namespace: keptn
  labels:
    app.kubernetes.io/name: configuration-service
    app.kubernetes.io/instance: keptn
    app.kubernetes.io/part-of: keptn-keptn
    app.kubernetes.io/component: control-plane
    app.kubernetes.io/version: develop
spec:
  selector:
    matchLabels:
      app.kubernetes.io/name: configuration-service
      app.kubernetes.io/instance: keptn
  replicas: 1
  # recreate the deployment if anything changes (we can not do a rolling upgrade of this deployment as we use a volume)
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app.kubernetes.io/name: configuration-service
        app.kubernetes.io/instance: keptn
        app.kubernetes.io/part-of: keptn-keptn
        app.kubernetes.io/component: control-plane
        app.kubernetes.io/version: develop
    spec:
      serviceAccountName: keptn-configuration-service
      containers:
      - name: configuration-service
        image: keptn/configuration-service:latest
        livenessProbe:
          httpGet:
            path: /health
            port: 8080
          initialDelaySeconds: 10
          periodSeconds: 5
        readinessProbe:
            httpGet:
              path: /health
              port: 8080
        env:
          - name: PREFIX_PATH
            value: ""
          - name: POD_NAMESPACE
            valueFrom:
              fieldRef:
                fieldPath: metadata.namespace
          - name: DATASTORE_URI
            value: mongodb-datastore:8080
        ports:
        - containerPort: 8080
        resources:
          requests:
            memory: "32Mi"
            cpu: "25m"
          limits:
            # limits is high on purpose to enable Debugging using skaffold
            # you can monitor memory usage using "kubectl -n keptn top pods"
            memory: "512Mi"
            cpu: "100m"
        volumeMounts:
        - mountPath: /data/config
          name: configuration-volume
      volumes:
      - name: configuration-volume
        persistentVolumeClaim:
          claimName: configuration-volume
---
apiVersion: v1
kind: Service
metadata:
  name: configuration-service
  namespace: keptn
  labels:
    app.kubernetes.io/name: configuration-service
    app.kubernetes.io/instance: keptn
    app.kubernetes.io/part-of: keptn-keptn
    app.kubernetes.io/component: control-plane
spec:
  ports:
  - port: 8080
    targetPort: 8080
    protocol: TCP
  selector:
    app.kubernetes.io/name: configuration-service
    app.kubernetes.io/instance: keptn
