---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: configuration-service
  namespace: keptn
spec:
  selector:
    matchLabels:
      run: configuration-service
  replicas: 1
  # recreate the deployment if anything changes (we can not do a rolling upgrade of this deployment as we use a volume)
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        run: configuration-service
    spec:
      serviceAccountName: keptn-default
      containers:
      - name: configuration-service
        image: keptn/configuration-service:latest
        env:
          - name: MONGO_DB_CONNECTION_STRING
            value: 'mongodb://user:password@mongodb.keptn-datastore.svc.cluster.local:27017/keptn'
          - name: MONGO_DB_NAME
            value: 'keptn'
        ports:
        - containerPort: 8080
        resources:
          requests:
            memory: "256Mi"
            cpu: "500m"
          limits:
            memory: "256Mi"
            cpu: "500m"
        volumeMounts:
        - mountPath: /data/config
          name: configuration-volume
      volumes:
      - name: configuration-volume
        persistentVolumeClaim:
          claimName: configuration-volume
---
apiVersion: v1
kind: Service
metadata:
  name: configuration-service
  namespace: keptn
  labels:
    run: configuration-service
spec:
  ports:
  - port: 8080
    targetPort: 8080
    protocol: TCP
  selector:
    run: configuration-service

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: configuration-service-distributor
  namespace: keptn
spec:
  selector:
    matchLabels:
      run: distributor
  replicas: 1
  template:
    metadata:
      labels:
        run: distributor
    spec:
      containers:
        - name: distributor
          image: keptn/distributor:latest
          ports:
            - containerPort: 8080
          resources:
            requests:
              memory: "32Mi"
              cpu: "50m"
            limits:
              memory: "128Mi"
              cpu: "500m"
          env:
            - name: PUBSUB_URL
              value: 'nats://keptn-nats-cluster'
            - name: PUBSUB_TOPIC
              value: 'sh.keptn.>'
            - name: PUBSUB_RECIPIENT
              value: 'configuration-service'
            - name: PUBSUB_RECIPIENT_PATH
              value: '/v1/event'
