<dt-confirmation-dialog [state]="dialogState" aria-label="Delete {{type}} confirmation">
  <dt-confirmation-dialog-state name="confirm">
    <h2 *ngIf="deleteMessage" uitestid="dialogWarningMessage" class="error mt-0" [textContent]="deleteMessage"></h2>
    <p>Are you sure you want to delete "<span [textContent]="name"></span>"?</p>
    <dt-confirmation-dialog-actions>
      <button dt-button uitestid="dialogDeleteButton" (click)="deleteAction()">Delete</button>
      <button dt-button variant="secondary" uitestid="dialogCancelButton" (click)="closeDialog()">Cancel</button>
    </dt-confirmation-dialog-actions>
  </dt-confirmation-dialog-state>
  <dt-confirmation-dialog-state name="deleting">
    Deleting {{type}} ...
  </dt-confirmation-dialog-state>
  <dt-confirmation-dialog-state name="success">
    {{type | titlecase}} deleted successfully!
  </dt-confirmation-dialog-state>
</dt-confirmation-dialog>
