mongo:
  enabled: true
  host: mongodb:27017
  architecture: standalone
  service:
    nameOverride: 'mongo'
    port: 27017
  auth:
    database: 'keptn'
    existingSecret: 'mongodb-credentials' # If the password and rootPassword values below are used, remove this field.
    username: 'keptn'
    password: null
    rootUser: 'admin'
    rootPassword: null
    bridgeAuthDatabase: 'keptn'
  external:
    connectionString:

prefixPath: ""

keptnSpecVersion: latest

features:
  automaticProvisioningURL: ""

nats:
  nameOverride: keptn-nats
  fullnameOverride: keptn-nats
  cluster:
    replicas: 3
    name: nats
  nats:
    healthcheck:
      startup:
        enabled: false
    jetstream:
      enabled: true

      memStorage:
        enabled: true
        size: 2Gi

      fileStorage:
        enabled: true
        size: 5Gi
        storageDirectory: /data/
        storageClassName: ""

  natsbox:
    enabled: false
  reloader:
    enabled: false

apiGatewayNginx:
  type: ClusterIP
  port: 80
  targetPort: 8080
  nodePort: 31090
  podSecurityContext:
    enabled: true
    defaultSeccompProfile: true
    fsGroup: 101
  containerSecurityContext:
    enabled: true
    runAsNonRoot: true
    runAsUser: 101
    readOnlyRootFilesystem: false
    allowPrivilegeEscalation: false
    privileged: false
  image:
    repository: docker.io/nginxinc/nginx-unprivileged
    tag: 1.21.6-alpine
  serviceAccountName: null
  nodeSelector: {}

remediationService:
  image:
    repository: docker.io/keptn/remediation-service
    tag: ""
  serviceAccountName: null
  nodeSelector: {}

apiService:
  tokenSecretName:
  image:
    repository: docker.io/keptn/api
    tag: ""
  config:
    maxAuthRequestsPerSecond: "1.0"
    maxAuthRequestBurst: "2"
  serviceAccountName: null
  nodeSelector: {}

bridge:
  image:
    repository: docker.io/keptn/bridge2
    tag: ""
  cliDownloadLink: null
  integrationsPageLink: null
  secret:
    enabled: true
  versionCheck:
    enabled: true
  showApiToken:
    enabled: true
  installationType: null
  lookAndFeelUrl: null
  podSecurityContext:
    enabled: true
    defaultSeccompProfile: true
    fsGroup: 65532
  containerSecurityContext:
    enabled: true
    runAsNonRoot: true
    runAsUser: 65532
    readOnlyRootFilesystem: true
    allowPrivilegeEscalation: false
    privileged: false
  oauth:
    enabled: false
    discovery: ""
    secureCookie: false
    trustProxy: ""
    sessionTimeoutMin: ""
    sessionValidatingTimeoutMin: ""
    baseUrl: ""
    clientID: ""
    clientSecret: ""
    IDTokenAlg: ""
    scope: ""
    userIdentifier: ""
    mongoConnectionString: ""
  nodeSelector: {}

distributor:
  metadata:
    hostname:
    namespace:
  image:
    repository: docker.io/keptn/distributor
    tag: ""
  config:
    queueGroup:
      enabled: true
    oauth:
      clientID: ""
      clientSecret: ""
      discovery: ""
      tokenURL: ""
      scopes: ""

shipyardController:
  image:
    repository: docker.io/keptn/shipyard-controller
    tag: ""
  config:
    taskStartedWaitDuration: "10m"
    uniformIntegrationTTL: "48h"
    disableLeaderElection: true
    replicas: 1
    validation:
      # On Database level, Keptn creates collections that are named like <PROJECTNAME>-<suffix>
      # Keep in mind that "suffix" can occupy up to 20 characters so that you will eventually
      # hit the database limit for max collection name size when your project name is too long.
      # projectNameMaxSize can be used to forbid project names longer than a certain size in Keptn
      projectNameMaxSize: 200
  nodeSelector: {}

secretService:
  image:
    repository: docker.io/keptn/secret-service
    tag: ""
  nodeSelector: {}

configurationService:
  image:
    repository: docker.io/keptn/configuration-service
    tag: ""
  # storage and storageClass are the settings for the PVC used by the configuration-storage
  storage: 100Mi
  storageClass: null
  fsGroup: 1001
  initContainer: true
  env:
    GIT_KEPTN_USER: "keptn"
    GIT_KEPTN_EMAIL: "keptn@keptn.sh"
  nodeSelector: {}

resourceService:
  enabled: false
  replicas: 1
  image:
    repository: docker.io/keptn/resource-service
    tag: ""
  env:
    GIT_KEPTN_USER: "keptn"
    GIT_KEPTN_EMAIL: "keptn@keptn.sh"
    DIRECTORY_STAGE_STRUCTURE: "false"
  nodeSelector: {}

mongodbDatastore:
  image:
    repository: docker.io/keptn/mongodb-datastore
    tag: ""
  nodeSelector: {}

lighthouseService:
  image:
    repository: docker.io/keptn/lighthouse-service
    tag: ""
  nodeSelector: {}

statisticsService:
  image:
    repository: docker.io/keptn/statistics-service
    tag: ""
  nodeSelector: {}

approvalService:
  image:
    repository: docker.io/keptn/approval-service
    tag: ""
  nodeSelector: {}

webhookService:
  enabled: true
  image:
    repository: docker.io/keptn/webhook-service
    tag: ""
  nodeSelector: {}

ingress:
  enabled: false
  annotations: {}
  host: {}
  path: /
  pathType: Prefix
  className: ""
  tls:
    []

logLevel: "info"

gracePeriod: 40

common:
  podSecurityContext:
    enabled: true
    defaultSeccompProfile: true
    fsGroup: 65532
  containerSecurityContext:
    enabled: true
    runAsNonRoot: true
    runAsUser: 65532
    readOnlyRootFilesystem: true
    allowPrivilegeEscalation: false
    privileged: false
  nodeSelector: {}
