mongo:
  enabled: true
  host: mongodb:27017
  architecture: standalone
  service:
    nameOverride: 'mongo'
    port: 27017
  auth:
    database: 'keptn'
    existingSecret: 'mongodb-credentials' # If the password and rootPassword values below are used, remove this field.
    username: 'keptn'
    password: null
    rootUser: 'admin'
    rootPassword: null
    bridgeAuthDatabase: 'keptn'
  external:
    connectionString:

prefixPath: ""

keptnSpecVersion: latest

nats:
  nameOverride: keptn-nats
  fullnameOverride: keptn-nats
  cluster:
    replicas: 3
    name: nats
  nats:
    healthcheck:
      startup:
        enabled: false
    jetstream:
      enabled: true

      memStorage:
        enabled: true
        size: 2Gi

      fileStorage:
        enabled: true
        size: 5Gi
        storageDirectory: /data/
        storageClassName: ""

  natsbox:
    enabled: false
  reloader:
    enabled: false

apiGatewayNginx:
  type: ClusterIP
  port: 80
  targetPort: 8080
  nodePort: 31090
  image:
    repository: docker.io/nginxinc/nginx-unprivileged
    tag: 1.21.6-alpine

remediationService:
  image:
    repository: docker.io/keptn/remediation-service
    tag: ""

apiService:
  tokenSecretName:
  image:
    repository: docker.io/keptn/api
    tag: ""
  config:
    maxAuthRequestsPerSecond: "1.0"
    maxAuthRequestBurst: "2"

bridge:
  image:
    repository: docker.io/keptn/bridge2
    tag: ""
  cliDownloadLink: null
  integrationsPageLink: null
  secret:
    enabled: true
  versionCheck:
    enabled: true
  showApiToken:
    enabled: true
  installationType: null
  lookAndFeelUrl: null
  oauth:
    enabled: false
    discovery: ""
    secureCookie: false
    trustProxy: ""
    sessionTimeoutMin: ""
    sessionValidatingTimeoutMin: ""
    baseUrl: ""
    clientID: ""
    clientSecret: ""
    IDTokenAlg: ""
    scope: ""
    userIdentifier: ""
    mongoConnectionString: ""

distributor:
  metadata:
    hostname:
    namespace:
  image:
    repository: docker.io/keptn/distributor
    tag: ""
  config:
    queueGroup:
      enabled: true

shipyardController:
  image:
    repository: docker.io/keptn/shipyard-controller
    tag: ""
  config:
    taskStartedWaitDuration: "10m"
    uniformIntegrationTTL: "48h"

secretService:
  image:
    repository: docker.io/keptn/secret-service
    tag: ""

configurationService:
  image:
    repository: docker.io/keptn/configuration-service
    tag: ""
  # storage and storageClass are the settings for the PVC used by the configuration-storage
  storage: 100Mi
  storageClass: null
  fsGroup: 1001
  initContainer: true
  env:
    GIT_KEPTN_USER: "keptn"
    GIT_KEPTN_EMAIL: "keptn@keptn.sh"

resourceService:
  enabled: false
  replicas: 1
  image:
    repository: docker.io/keptn/resource-service
    tag: ""
  env:
    GIT_KEPTN_USER: "keptn"
    GIT_KEPTN_EMAIL: "keptn@keptn.sh"
    DIRECTORY_STAGE_STRUCTURE: "false"

mongodbDatastore:
  image:
    repository: docker.io/keptn/mongodb-datastore
    tag: ""

lighthouseService:
  image:
    repository: docker.io/keptn/lighthouse-service
    tag: ""

statisticsService:
  image:
    repository: docker.io/keptn/statistics-service
    tag: ""

approvalService:
  image:
    repository: docker.io/keptn/approval-service
    tag: ""

webhookService:
  enabled: true
  image:
    repository: docker.io/keptn/webhook-service
    tag: ""

ingress:
  enabled: false
  annotations: {}
  host: {}
  path: /
  pathType: Prefix
  tls:
    []

logLevel: info

gracePeriod: 40
