mongodb:
  enabled: true
  host: mongodb:27017
  user: null
  password: null
  adminPassword: null

prefixPath: ""

nats:
  nameOverride: keptn-nats-cluster
  nats.cluster.replicas: 3

  natsbox:
    enabled: false

apiGatewayNginx:
  type: ClusterIP
  port: 80
  nodePort: 31090
  image:
    repository: docker.io/nginxinc/nginx-unprivileged
    tag: 1.19.4-alpine

remediationService:
  image:
    repository: docker.io/keptn/remediation-service

apiService:
  image:
    repository: docker.io/keptn/api

bridge:
  image:
    repository: docker.io/keptn/bridge2
  cliDownloadLink: null
  integrationsPageLink: null
  secret:
    enabled: true
  versionCheck:
    enabled: true
  showApiToken:
    enabled: true
  installationType: null

eventbroker:
  image:
    repository: docker.io/keptn/eventbroker-go

distributor:
  image:
    repository: docker.io/keptn/distributor

shipyardService:
  image:
    repository: docker.io/keptn/shipyard-service

shipyardController:
  image:
    repository: docker.io/keptn/shipyard-controller

configurationService:
  image:
    repository: docker.io/keptn/configuration-service
  # storage and storageClass are the settings for the PVC used by the configuration-storage
  storage: 100Mi
  storageClass: null

mongodbDatastore:
  image:
    repository: docker.io/keptn/mongodb-datastore

lighthouseService:
  image:
    repository: docker.io/keptn/lighthouse-service

statisticsService:
  image:
    repository: docker.io/keptn/statistics-service

