<div fxFlexFill fxLayout="column">
  <ktb-notification-bar></ktb-notification-bar>
  <div class="container" fxFlex fxLayout="column">
    <div [formGroup]="projectNameForm" *ngIf="isCreateMode" class="mb-3 settings-section">
      <h2>Project name *</h2>
      <dt-form-field>
        <input type="text" formControlName="projectName" required dtInput placeholder="e.g. sockshop"/>
        <dt-error>
          <ng-container *ngIf="projectNameControl.hasError('required')">Must not be empty</ng-container>
          <ng-container *ngIf="projectNameControl.hasError('projectName')">Project name already exists</ng-container>
        </dt-error>
      </dt-form-field>
    </div>
    <div class="mb-3 settings-section">
      <ktb-project-settings-git
        [isCreateMode]="isCreateMode"
        [gitData]="gitData"
        [isGitUpstreamInProgress]="isGitUpstreamInProgress"
        (onGitDataChanged)="updateGitData($event)"
        (onGitUpstreamSubmit)="setGitUpstream()"></ktb-project-settings-git>
    </div>
    <div class="mb-3 settings-section" *ngIf="isCreateMode">
      <ktb-project-settings-shipyard (shipyardFileChanged)="shipyardFile=$event" [isCreateMode]="isCreateMode"></ktb-project-settings-shipyard>
    </div>
    <div class="mt-3 settings-section settings-actions">
      <button *ngIf="isCreateMode"
              [disabled]="!shipyardFile || projectNameForm.invalid || !isGitFormValid() || isCreatingProjectInProgress"
              (click)="createProject()"
              dt-button>
        <dt-loading-spinner *ngIf="isCreatingProjectInProgress" aria-label="Creating project"></dt-loading-spinner>
        Create project
      </button>
      <div class="mt-2">
        * fields are required
      </div>
    </div>
  </div>
</div>
