@import '../../../variables';
@import '~@dynatrace/barista-components/core/src/style/variables';

.timeline {
  background-color: $gray-200;
  border-radius: 15px;
}

.pointer {
  cursor: pointer;
}

.timeline-icon {
  height: 25px;
  width: 25px;
}
:host::ng-deep {
  .dt-icon-button.active,
  .dt-icon-button:hover {
    background: $gray-100 !important;
  }
  .dt-button-icon {
    margin-top: 0;
    height: 25px !important;
    width: 25px !important;
  }
}

.link-icon {
  fill: $link-icon-color;
}
