<div fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="5px" class="timeline">
  <ng-container *ngFor="let stage of deployment.sequence.getStages()">
    <div fxLayout="row">
      <ktb-stage-badge
        class="pointer"
        [stage]="stage"
        [evaluation]="deployment.sequence.getEvaluation(stage)"
        [isSelected]="selectedStage === stage"
        [success]="deployment.sequence.getFirstTraceOfStage(stage).isFinished() && stage !== deployment.sequence.isFaulty()"
        [error]="stage == deployment.sequence.isFaulty()"
        [class.warning]="stage === deployment.sequence.isWarning()"
        [highlight]="deployment.sequence.hasPendingApproval(stage)"
        [fill]="deployment.stages.includes(stage)"
        (click)="$event.stopPropagation(); selectStage(stage)"></ktb-stage-badge>
      <a *ngIf="deployment.stages.includes(stage) && deployment.sequence.getDeploymentTrace(stage)?.getFinishedEvent().getDeploymentUrl() as url" [href]="url" target="_blank" class="link-icon">
        <dt-icon name="externallink"></dt-icon>
      </a>
    </div>
  </ng-container>
</div>
