<div fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="5px" class="timeline">
  <ng-container *ngFor="let stage of deployment.sequence.getStages()">
    <div fxLayout="row">
      <ktb-stage-badge
        class="pointer"
        [stage]="stage"
        [evaluation]="deployment.sequence.getEvaluation(stage)"
        [isSelected]="selectedStage === stage"
        [success]="deployment.sequence.getFirstTraceOfStage(stage).isFinished() && stage !== deployment.sequence.isFaulty()"
        [error]="stage == deployment.sequence.isFaulty()"
        [class.warning]="stage === deployment.sequence.isWarning()"
        [highlight]="deployment.sequence.hasPendingApproval(stage)"
        [fill]="deployment.hasStage(stage)"
        (click)="$event.stopPropagation(); selectStage(stage)"></ktb-stage-badge>

      <button *ngIf="deployment.getStage(stage).remediations.length !== 0" dt-icon-button variant="nested" (click)="selectRemediation(stage, deployment.getStage(stage).remediations)" class="timeline-icon" [class.active]="selectedRemediations?.stage === stage">
        <dt-icon name="criticalevent" class="event-icon error timeline-icon" ></dt-icon>
      </button>
      <a *ngIf="deployment.hasStage(stage) && deployment.sequence.getDeploymentTrace(stage)?.getFinishedEvent().getDeploymentUrl() as url" [href]="url" target="_blank" class="timeline-icon link-icon">
        <button dt-icon-button variant="nested" class="timeline-icon">
          <dt-icon name="externallink"></dt-icon>
        </button>
      </a>
    </div>
  </ng-container>
</div>
