<button
  dt-button
  variant="secondary"
  variant="nested"
  (click)="showEventPayloadDialog()"
  [disabled]="!type"
  uitestid="keptn-show-payload-dialog-button"
>
  <dt-icon name="coding"></dt-icon>
  <span [textContent]="buttonTitle"></span>
</button>

<ng-template #eventPayloadDialog let-data>
  <h1 mat-dialog-title>Payload viewer</h1>
  <div *ngIf="!loading; else loadingEvent">
    <div *ngIf="event; else noEvent">
      <p uitestid="keptn-payload-dialog-message">
        This is the latest <span class="bold" [textContent]="type"></span> event
        <span *ngIf="stage">from stage <span class="bold" [textContent]="stage"></span></span>&nbsp;
        <span *ngIf="service">for service <span class="bold" [textContent]="service"></span></span>
      </p>
      <div mat-dialog-content>
        <pre [textContent]="event | json"></pre>
      </div>
    </div>
    <ng-template #noEvent>
      <p class="error" uitestid="keptn-payload-dialog-message">
        Could not load any <span class="bold" [textContent]="type"></span> event
        <span *ngIf="stage">from stage <span class="bold" [textContent]="stage"></span></span>&nbsp;
        <span *ngIf="service">for service <span class="bold" [textContent]="service"></span></span>
      </p>
    </ng-template>
  </div>
  <ng-template #loadingEvent>
    <dt-loading-spinner></dt-loading-spinner>
  </ng-template>
  <div mat-dialog-actions>
    <button dt-button (click)="closeDialog()" uitestid="keptn-close-payload-dialog-button">Close</button>
  </div>
</ng-template>
