<div class="ktb-stage-overview container" fxFlexFill *ngIf="project$ | async as project">
  <div>
    <p><span [textContent]="project.stages.length"></span> Stages</p>
    <dt-filter-field
      class="mb-3"
      [dataSource]="_dataSource"
      [filters]="filter"
      (filterChanges)="filterChanged(project, $event)"
      label="Filter by service"
      aria-label="Filter by service"
      clearAllLabel="Clear all"
    ></dt-filter-field>
    <div *ngIf="!isTriggerSequenceOpen">
      <button dt-button class="mb-3" (click)="isTriggerSequenceOpen = true" uitestid="keptn-trigger-button-open">
        <dt-icon name="flash"></dt-icon>Trigger a new sequence
      </button>
    </div>
    <div class="mb-3 pr-1" *ngIf="isTriggerSequenceOpen">
      <ktb-trigger-sequence
        *ngIf="selectedStageName$ | async as selectedStageName"
        [projectName]="project.projectName"
        [stage]="selectedStageName"
        [stages]="project.getStageNames()"
        [services]="project.getServiceNames()"
        (formClosed)="isTriggerSequenceOpen = false"
      ></ktb-trigger-sequence>
    </div>
  </div>
  <div
    [ngClass]="{ 'stage-list': true, scrollable: project.getParentStages().length > 3 }"
    fxLayout="row"
    fxLayout.lt-sm="column"
    fxLayoutGap="15px"
    fxLayoutAlign="start"
    class="mt-3 pb-3"
  >
    <div
      class="stage-group"
      fxLayout="column"
      fxLayoutGap="15px"
      *ngFor="let parentStage of project.getParentStages(); let i = index; trackBy: trackStage"
    >
      <a
        *ngFor="let stage of project.getStages(parentStage)"
        [routerLink]="linkToStage(project, stage)"
        class="no-underline"
      >
        <ktb-selectable-tile [selected]="(selectedStageName$ | async) === stage.stageName">
          <h2 class="m-0 mt-1 mb-1" [textContent]="stage.stageName"></h2>
          <div class="stage-state" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="15px">
            <a
              fxLayout="row"
              fxLayoutAlign="start center"
              fxLayoutGap="5px"
              *ngIf="filterServices(stage.getServicesWithRemediations()) as problemServices"
              [routerLink]="linkToStage(project, stage)"
              [queryParams]="{ filterType: 'problem' }"
              (click)="$event.stopPropagation()"
            >
              <dt-icon
                class="stage-state-icon"
                name="criticalevent"
                [class.error]="problemServices.length > 0"
              ></dt-icon>
              <span [textContent]="problemServices.length"></span>
            </a>
            <a
              fxLayout="row"
              fxLayoutAlign="start center"
              fxLayoutGap="5px"
              *ngIf="filterServices(stage.getServicesWithFailedEvaluation()) as failedServices"
              [routerLink]="linkToStage(project, stage)"
              [queryParams]="{ filterType: 'evaluation' }"
              (click)="$event.stopPropagation()"
            >
              <dt-icon
                class="stage-state-icon"
                name="traffic-light"
                [class.error]="failedServices.length > 0"
              ></dt-icon>
              <span [textContent]="failedServices.length"></span>
            </a>
            <a
              fxLayout="row"
              fxLayoutAlign="start center"
              fxLayoutGap="5px"
              *ngIf="filterServices(stage.getServicesWithOpenApprovals()) as approvalServices"
              [routerLink]="linkToStage(project, stage)"
              [queryParams]="{ filterType: 'approval' }"
              (click)="$event.stopPropagation()"
            >
              <dt-icon class="stage-state-icon" name="deploy" [class.highlight]="approvalServices.length > 0"></dt-icon>
              <span [textContent]="approvalServices.length"></span>
            </a>
          </div>
          <ktb-services-list
            [projectName]="project.projectName"
            [services]="filterServices(stage.services)"
          ></ktb-services-list>
        </ktb-selectable-tile>
      </a>
    </div>
  </div>
</div>
