<div class="ktb-stage-overview" fxFlex fxLayout="column" *ngIf="project as project">
  <div class="container">
    <p><span [textContent]="project.stages.length"></span> Stages</p>
    <dt-filter-field
      class="mb-3"
      [dataSource]="_dataSource"
      [filters]="filter"
      (filterChanges)="filterChanged($event)"
      label="Filter by service"
      aria-label="Filter by service"
      clearAllLabel="Clear all"
    ></dt-filter-field>
  </div>
  <div class="container p-0" fxFlex fxLayout="column">
    <div [ngClass]="{'stage-list': true, 'scrollable': project.getParentStages().length > 3}" fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="15px" fxLayoutAlign="start">
      <div class="stage-group" fxLayout="column" fxLayoutGap="15px" *ngFor="let parentStage of project.getParentStages(); let i = index; trackBy:trackStage">
        <ktb-selectable-tile *ngFor="let stage of project.getStages(parentStage)"
                             (click)="selectStage($event, stage);" [selected]="selectedStage == stage">
          <h2 class="m-0 mt-1 mb-1" [textContent]="stage.stageName"></h2>
          <div class="stage-state" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="15px">
            <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px"
                 *ngIf="filterServices(stage.getServicesWithRemediations()) as problemServices"
                 (click)="problemServices.length > 0 && selectStage($event, stage, 'problem')">
              <dt-icon class="stage-state-icon" name="criticalevent" [class.error]="problemServices.length > 0"></dt-icon>
              <span [textContent]="problemServices.length"></span>
            </div>
            <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px"
                 *ngIf="filterServices(stage.getServicesWithFailedEvaluation()) as failedServices"
                 (click)="failedServices.length > 0 && selectStage($event, stage, 'evaluation')">
              <dt-icon class="stage-state-icon" name="traffic-light" [class.error]="failedServices.length > 0"></dt-icon>
              <span [textContent]="failedServices.length"></span>
            </div>
            <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px"
                 *ngIf="filterServices(stage.getServicesWithOpenApprovals()) as approvalServices"
                 (click)="approvalServices.length > 0 && selectStage($event, stage, 'approval')">
              <dt-icon class="stage-state-icon" name="deploy" [class.highlight]="approvalServices.length > 0"></dt-icon>
              <span [textContent]="approvalServices.length"></span>
            </div>
          </div>
          <ktb-services-list [services]="filterServices(stage.services)"></ktb-services-list>
        </ktb-selectable-tile>
      </div>
    </div>
  </div>
</div>
