@import '~@dynatrace/barista-components/style/main';

.ktb-stage-overview {
  overflow: hidden;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 100%;
    right: 0;
    top: 0;

    box-shadow: -7px 0 10px #f4f4f4 inset;
    border-right: 1px solid #f4f4f4;

    pointer-events: none;
  }
}

.stage-list {
  padding: 1rem;

  &.scrollable {
    .stage-group {
      min-width: 30%;
      @media screen and (max-width: 1560px) {
        min-width: 335px;
      }
    }
  }

  .stage-group {
    min-width: 33%;

    // prevent jumping horizontal scrollbar
    @media screen and (max-width: 2073px){
      min-width: 32.6%;
    }

    @media screen and (max-width: 1560px) {
      min-width: 335px;
    }
  }

  .stage-group:last-child {
    padding-right: 16px;
  }
}

.stage-state {
  border-top: 1px solid $gray-300;
  border-bottom: 1px solid $gray-300;
  padding: 10px;
  margin-bottom: 10px;
}

.no-deployment {
  color: $gray-500;
}
