@import '~@dynatrace/barista-components/style/main';

.ktb-stage-overview {
  box-shadow: -10px 0 20px #f4f4f4 inset;
  border-right: 1px solid #f4f4f4;
}

.stage-list {
  overflow: auto;

  .stage-group:last-child {
    padding-right: 10px;
  }
}

.stage-state {
  border-top: 1px solid $gray-300;
  border-bottom: 1px solid $gray-300;
  padding: 10px;
  margin-bottom: 10px;
}

.no-deployment {
  color: $gray-500;
}
