---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: keptn-default
  namespace: keptn
  labels:
    "app": "keptn"

---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: keptn-helm-service
  namespace: keptn
  labels:
    "app": "keptn"

---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: keptn-configuration-service
  namespace: keptn
  labels:
    "app": "keptn"

---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: keptn-lighthouse-service
  namespace: keptn
  labels:
    "app": "keptn"

---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: keptn-api-service
  namespace: keptn
  labels:
    "app": "keptn"

---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: keptn-manage-secrets
  namespace: keptn
  labels:
    "app": "keptn"
rules:
  - apiGroups:
      - ""
    resources:
      - secrets
    verbs:
      - create
      - get
      - delete

---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: keptn-read-keptndomain
  namespace: keptn
  labels:
    "app": "keptn"
rules:
  - apiGroups:
      - ""
    resources:
      - configmaps
    verbs:
      - get
    resourceNames:
      - "keptn-domain"

---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: keptn-create-update-configmaps
  namespace: keptn
  labels:
    "app": "keptn"
rules:
  - apiGroups:
      - ""
    resources:
      - configmaps
    verbs:
      - create
      - update

---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: keptn-configure-bridge
  namespace: keptn
  labels:
    "app": "keptn"
rules:
  - apiGroups:
      - ""
    resources:
      - pods
    verbs:
      - get
      - delete
      - deletecollection
  - apiGroups:
      - ""
    resources:
      - secrets
    verbs:
      - create
  - apiGroups:
      - ""
    resources:
      - secrets
    verbs:
      - get
      - update
    resourceNames:
      - "bridge-credentials"
  - apiGroups:
      - "networking.istio.io"
    resources:
      - virtualservices
      - destinationrules
    verbs:
      - get
      - create
      - delete
  - apiGroups:
      - "networking.istio.io"
    resources:
      - virtualservices
    verbs:
      - get
    resourceNames:
      - "api"
  - apiGroups:
      - "extensions"
      - "networking.k8s.io"
    resources:
      - ingresses
    verbs:
      - get
      - update
    resourceNames:
      - "keptn-ingress"
  - apiGroups:
      - ""
    resources:
      - namespaces
    verbs:
      - get
    resourceNames:
      - "openshift"
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: keptn-lighthouse-service
  namespace: keptn
  labels:
    "app": "keptn"
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: keptn-create-update-configmaps
subjects:
  - kind: ServiceAccount
    name: keptn-lighthouse-service
    namespace: keptn

---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: keptn-api-service-configure-bridge
  namespace: keptn
  labels:
    "app": "keptn"
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: keptn-configure-bridge
subjects:
  - kind: ServiceAccount
    name: keptn-api-service
    namespace: keptn

---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: keptn-api-service-read-keptndomain
  namespace: keptn
  labels:
    "app": "keptn"
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: keptn-read-keptndomain
subjects:
  - kind: ServiceAccount
    name: keptn-api-service
    namespace: keptn

---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: keptn-configuration-service-manage-secrets
  namespace: keptn
  labels:
    "app": "keptn"
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: keptn-manage-secrets
subjects:
  - kind: ServiceAccount
    name: keptn-configuration-service
    namespace: keptn
