<div fxFlexFill fxLayout="column" class="container" *ngIf="projectName$ | async as projectName">
  <div fxLayout="column" fxFlex="0 0 60%" class="overflow-y-scroll">
    <dt-loading-spinner *ngIf="!uniformRegistrations.data"></dt-loading-spinner>

    <div *ngIf="uniformRegistrations.data && uniformRegistrations.data.length === 0">
      No integrations available.
    </div>

    <dt-table uitestid="keptn-uniform-integrations-table" [dataSource]="uniformRegistrations" dtSort (dtSortChange)="sortData($event)" interactiveRows *ngIf="uniformRegistrations.data && uniformRegistrations.data.length > 0">
      <ng-container dtColumnDef="name" dtColumnAlign="text" dtColumnProportion="2">
        <dt-header-cell dt-sort-header *dtHeaderCellDef>Name</dt-header-cell>
        <dt-cell *dtCellDef="let row" [textContent]="(row | toType : UniformRegistrationClass).name || 'n/a'"></dt-cell>
      </ng-container>

      <ng-container dtColumnDef="version" dtColumnAlign="text" dtColumnProportion="2">
        <dt-header-cell *dtHeaderCellDef>Version</dt-header-cell>
        <dt-cell *dtCellDef="let row" [textContent]="(row | toType : UniformRegistrationClass).metadata.integrationversion || 'n/a'"></dt-cell>
      </ng-container>

      <ng-container dtColumnDef="host" dtColumnAlign="text" dtColumnProportion="3" >
        <dt-header-cell dt-sort-header *dtHeaderCellDef>Cluster / Host</dt-header-cell>
        <dt-cell *dtCellDef="let row" [textContent]="(row | toType : UniformRegistrationClass).metadata.hostname || 'n/a'"></dt-cell>
      </ng-container>

      <ng-container dtColumnDef="namespace" dtColumnAlign="text" dtColumnProportion="2">
        <dt-header-cell dt-sort-header *dtHeaderCellDef>Namespace</dt-header-cell>
        <dt-cell *dtCellDef="let row" [textContent]="(row | toType : UniformRegistrationClass).metadata.kubernetesmetadata.namespace || 'n/a'"></dt-cell>
      </ng-container>

      <ng-container dtColumnDef="location" dtColumnAlign="text" dtColumnProportion="2">
        <dt-header-cell dt-sort-header *dtHeaderCellDef>Location</dt-header-cell>
        <dt-cell *dtCellDef="let row" [textContent]="(row | toType : UniformRegistrationClass).metadata.location || 'n/a'"></dt-cell>
      </ng-container>

      <ng-container dtColumnDef="subscription" dtColumnAlign="text" dtColumnProportion="3">
        <dt-header-cell *dtHeaderCellDef>Active subscriptions</dt-header-cell>
        <dt-cell *dtCellDef="let row" [innerHtml]="(row | toType : UniformRegistrationClass).formatSubscriptions(projectName) || 'n/a'"></dt-cell>
      </ng-container>

      <dt-header-row
        *dtHeaderRowDef="['name', 'version', 'host', 'namespace', 'location', 'subscription']"
      ></dt-header-row>
      <dt-row
        *dtRowDef="
          let row;
          columns: ['name', 'version', 'host', 'namespace', 'location', 'subscription']
        "
        class="pointer"
        [class.active]="selectedUniformRegistration === row"
        [attr.disabled]="!(row | toType : UniformRegistrationClass).hasSubscriptions(projectName)"
        [dtOverlay]="(row | toType : UniformRegistrationClass).hasSubscriptions(projectName) ? null : noRegistration"
        (click)="setSelectedUniformRegistration(row)"
      >
        <ng-template #noRegistration>
          <span>{{(row | toType : UniformRegistrationClass).name}} is not active for this project.</span>
          <br/>
          <span>Add subscription to activate it for {{projectName}}.</span>
        </ng-template>
      </dt-row>
    </dt-table>
  </div>
  <div fxLayout="column" fxFlex="0 0 40%">
    <div class="no-integration-selected p-3 mt-3" fxLayout="row" *ngIf="!selectedUniformRegistration">
      <dt-icon class="event-icon info mr-1" name="information"></dt-icon>
      Select an integration to show error events
    </div>

    <ng-container *ngIf="selectedUniformRegistration">
      <h3 class="mt-3 mb-0"><span class="mr-1 bold" [textContent]="selectedUniformRegistration.name"></span></h3>

      <ktb-expandable-tile [alignment]="'left'" class="mb-2" [expanded]="true">
        <ktb-expandable-tile-header>
          <h3 class="mt-0 mb-0">Subscriptions</h3>
        </ktb-expandable-tile-header>
        <ktb-uniform-subscriptions *ngIf="selectedUniformRegistration.hasSubscriptions(projectName), else noSubscriptions" [uniformRegistration]="selectedUniformRegistration"></ktb-uniform-subscriptions>
        <ng-template #noSubscriptions>
          No subscriptions for this integration available
        </ng-template>
      </ktb-expandable-tile>

      <ktb-expandable-tile [alignment]="'left'" [expanded]="true">
        <ktb-expandable-tile-header>
          <h3 class="mt-0 mb-0">Error events</h3>
        </ktb-expandable-tile-header>

        <dt-loading-spinner *ngIf="isLoadingLogs"></dt-loading-spinner>

        <div fxLayout="column" *ngIf="!isLoadingLogs">
          <ktb-uniform-registration-logs [projectName]="projectName"
                                         [logs]="uniformRegistrationLogs$ | async"></ktb-uniform-registration-logs>
        </div>
      </ktb-expandable-tile>
    </ng-container>
  </div>


</div>
