<div class="ktb-trigger-sequence pl-3 pr-3 pb-3">
  <div fxFlex="66">
    <div fxLayout="column" *ngIf="state === 'ENTRY'">
      <h2 uitestid="ktb-trigger-headline">Trigger a new sequence for project {{ projectName }}</h2>

      <div class="mb-3" fxLayout="row" fxLayoutGap="15px">
        <dt-form-field>
          <dt-label class="required">Service</dt-label>
          <dt-select
            [disabled]="services.length === 0"
            [(ngModel)]="selectedService"
            placeholder="Select ..."
            uitestid="keptn-trigger-service-selection"
          >
            <ng-container *ngIf="services">
              <dt-option *ngFor="let service of services" [value]="service">{{ service }}</dt-option>
            </ng-container>
          </dt-select>
        </dt-form-field>

        <dt-form-field>
          <dt-label class="required">Stage</dt-label>
          <dt-select
            [disabled]="stages.length === 0"
            [(ngModel)]="selectedStage"
            (selectionChange)="selectedStageChanged()"
            placeholder="Select ..."
            uitestid="keptn-trigger-stage-selection"
          >
            <ng-container *ngIf="stages">
              <dt-option *ngFor="let stage of stages" [value]="stage">{{ stage }}</dt-option>
            </ng-container>
          </dt-select>
        </dt-form-field>
      </div>

      <!--   Sequence Selection   -->
      <dt-form-field>
        <dt-label class="mb-1 mt-2">Sequence</dt-label>
        <dt-radio-group
          class="mb-3"
          name="sequenceType"
          fxLayout="row"
          fxLayoutGap="15px"
          fxLayoutAlign="start center"
          [(ngModel)]="sequenceType"
          uitestid="keptn-trigger-sequence-selection"
        >
          <dt-radio-button
            *ngIf="!isQualityGatesOnly"
            [value]="TRIGGER_SEQUENCE.DELIVERY"
            uitestid="ktb-trigger-sequence-delivery-radio"
          >
            Delivery
          </dt-radio-button>
          <dt-radio-button [value]="TRIGGER_SEQUENCE.EVALUATION" uitestid="ktb-trigger-sequence-evaluation-radio"
            >Evaluation</dt-radio-button
          >
          <div
            *ngIf="customSequencesOfStage?.length === 0; else customSequencesSelect"
            [dtOverlay]="noCustomSequencesOverlay"
            fxFlex="0 1 300px"
          >
            <ng-container *ngTemplateOutlet="customSequencesSelect"></ng-container>
          </div>
          <ng-template #customSequencesSelect>
            <dt-radio-button
              [value]="TRIGGER_SEQUENCE.CUSTOM"
              [disabled]="!customSequencesOfStage?.length"
              uitestid="ktb-trigger-sequence-custom-radio"
              class="custom-sequence-radio"
              fxFlex="0 1 300px"
            >
              <dt-select
                [disabled]="!customSequencesOfStage?.length"
                [(ngModel)]="customFormData.sequence"
                class="sequence-select"
                name="customSequence"
                placeholder="Select ..."
                uitestid="keptn-trigger-custom-sequence-select"
              >
                <dt-option
                  *ngFor="let sequence of customSequencesOfStage"
                  [value]="sequence"
                  [textContent]="sequence"
                ></dt-option>
              </dt-select>
            </dt-radio-button>
          </ng-template>
          <ktb-loading-distractor *ngIf="!customSequences" class="smaller"
            >Loading custom sequences ...
          </ktb-loading-distractor>

          <ng-template #noCustomSequencesOverlay>
            There are no custom sequences available for this stage in the shipyard.yaml file
          </ng-template>
        </dt-radio-group>
      </dt-form-field>
      <!--   Sequence Selection   -->

      <div class="mt-3" fxLayout="row" fxLayoutAlign="space-between">
        <button dt-button variant="secondary" (click)="formClosed.emit()" uitestid="keptn-trigger-button-close">
          Cancel
        </button>
        <button
          dt-button
          variant="secondary"
          uitestid="keptn-trigger-button-next"
          [disabled]="
            !selectedService || !selectedStage || (sequenceType === TRIGGER_SEQUENCE.CUSTOM && !customFormData.sequence)
          "
          (click)="setFormState()"
        >
          Next
          <dt-icon name="right"></dt-icon>
        </button>
      </div>
    </div>

    <div fxLayout="column" *ngIf="state === TRIGGER_SEQUENCE.DELIVERY">
      <h2 uitestid="ktb-trigger-headline">Trigger a delivery for {{ selectedService }} in {{ selectedStage }}</h2>
      <div class="mb-3 mt-2" fxLayout="row" fxLayoutGap="15px">
        <dt-form-field>
          <dt-label class="required">Image</dt-label>
          <input
            uitestid="keptn-trigger-delivery-image"
            [(ngModel)]="deliveryFormData.image"
            dtInput
            placeholder="docker.io/keptnexamples/carts"
          />
        </dt-form-field>
        <dt-form-field>
          <dt-label class="required">Tag</dt-label>
          <input
            uitestid="keptn-trigger-delivery-tag"
            [(ngModel)]="deliveryFormData.tag"
            dtInput
            placeholder="0.12.3"
          />
        </dt-form-field>
      </div>
      <dt-form-field class="mb-3">
        <dt-label>Labels</dt-label>
        <input
          uitestid="keptn-trigger-delivery-labels"
          [(ngModel)]="deliveryFormData.labels"
          dtInput
          placeholder="e.g. key1=value1,key2=value2"
        />
        <dt-hint>Comma separated. Allowed: key=value</dt-hint>
      </dt-form-field>

      <dt-form-field class="mb-3">
        <dt-label>Values</dt-label>
        <textarea
          [errorStateMatcher]="jsonErrorStateMatcher"
          [(ngModel)]="deliveryFormData.values"
          dtInput
          placeholder='e.g.: {"key1": "stringVal", "key2": {"key3": true}'
          style="resize: vertical"
          uitestid="keptn-trigger-delivery-values"
        ></textarea>
        <dt-hint>JSON object</dt-hint>
        <dt-error uitestid="keptn-trigger-delivery-values-error">Must be valid JSON</dt-error>
      </dt-form-field>

      <ng-container
        [ngTemplateOutlet]="triggerActions"
        [ngTemplateOutletContext]="{
          isValid:
            isValidString(deliveryFormData.image) &&
            isValidString(deliveryFormData.tag) &&
            isValidJSON(deliveryFormData.values)
        }"
      ></ng-container>
    </div>

    <div fxLayout="column" *ngIf="state === TRIGGER_SEQUENCE.EVALUATION">
      <h2 uitestid="ktb-trigger-headline">Trigger an evaluation for {{ selectedService }} in {{ selectedStage }}</h2>
      <dt-radio-group
        class="mb-3 mt-2"
        name="evaluationTimeSelect"
        fxLayout="row"
        fxLayoutGap="15px"
        uitestid="keptn-trigger-evaluation-type"
        [(ngModel)]="evaluationFormData.evaluationType"
      >
        <dt-radio-button [value]="TRIGGER_EVALUATION_TIME.TIMEFRAME" uitestid="ktb-trigger-sequence-radio-timeframe">
          Use timeframe
        </dt-radio-button>
        <dt-radio-button [value]="TRIGGER_EVALUATION_TIME.START_END" uitestid="ktb-trigger-sequence-radio-end-date">
          Use start / end time
        </dt-radio-button>
      </dt-radio-group>
      <div
        fxLayout="row"
        class="mb-3"
        fxLayoutGap="15px"
        *ngIf="evaluationFormData.evaluationType === TRIGGER_EVALUATION_TIME.TIMEFRAME"
      >
        <dt-form-field class="overlay-origin">
          <dt-label>Start at</dt-label>
          <div class="input-overlay" (click)="timeframeStartButton?._elementRef?.nativeElement.click()"></div>
          <input readonly dtInput [(ngModel)]="evaluationFormData.timeframeStart | formatDate" />
          <dt-hint>Defaults to now if not filled in</dt-hint>
          <button
            dt-icon-button
            dtSuffix
            variant="nested"
            [disabled]="!evaluationFormData.timeframeStart"
            (click)="evaluationFormData.timeframeStart = undefined"
          >
            <dt-icon name="abort"></dt-icon>
          </button>
          <button
            uitestid="keptn-trigger-button-starttime"
            #timeframeStartButton
            dt-icon-button
            dtSuffix
            ktbDatetimePicker
            [timeEnabled]="true"
            [secondsEnabled]="true"
            (selectedDateTime)="evaluationFormData.timeframeStart = $event"
          >
            <dt-icon name="calendar"></dt-icon>
          </button>
        </dt-form-field>

        <ktb-time-input
          [label]="'Timeframe'"
          [hint]="'Min. 1m, defaults to 5m if not filled in'"
          [error]="isValidTimeframe ? '' : 'Timeframe has to be minimum 1 minute'"
          [timeframe]="evaluationFormData.timeframe"
          (timeChanged)="setTimeframe($event)"
        ></ktb-time-input>
      </div>

      <div
        fxLayout="row"
        class="mb-3"
        fxLayoutGap="15px"
        *ngIf="evaluationFormData.evaluationType === TRIGGER_EVALUATION_TIME.START_END"
      >
        <dt-form-field class="overlay-origin">
          <dt-label class="required">Start at</dt-label>
          <div class="input-overlay" (click)="startDateButton?._elementRef?.nativeElement.click()"></div>
          <input
            readonly
            dtInput
            [ngModel]="evaluationFormData.startDatetime | formatDate"
            [errorStateMatcher]="showErrorStateMatcher"
          />
          <button
            dt-icon-button
            dtSuffix
            variant="nested"
            [disabled]="!evaluationFormData.startDatetime"
            (click)="setStartDate(undefined)"
          >
            <dt-icon name="abort"></dt-icon>
          </button>
          <button
            #startDateButton
            dt-icon-button
            dtSuffix
            ktbDatetimePicker
            uitestid="keptn-trigger-button-starttime"
            [timeEnabled]="true"
            [secondsEnabled]="true"
            (selectedDateTime)="setStartDate($event)"
          >
            <dt-icon name="calendar"></dt-icon>
          </button>
          <dt-hint>Has to be before end date</dt-hint>
        </dt-form-field>
        <dt-form-field class="overlay-origin full-width-error">
          <dt-label class="required">End at</dt-label>
          <div class="input-overlay" (click)="endDateButton?._elementRef?.nativeElement.click()"></div>
          <input
            readonly
            dtInput
            [ngModel]="evaluationFormData.endDatetime | formatDate"
            [errorStateMatcher]="showErrorStateMatcher"
          />
          <button
            dt-icon-button
            dtSuffix
            variant="nested"
            [disabled]="!evaluationFormData.endDatetime"
            (click)="setEndDate(undefined)"
          >
            <dt-icon name="abort"></dt-icon>
          </button>
          <button
            #endDateButton
            dt-icon-button
            dtSuffix
            ktbDatetimePicker
            uitestid="keptn-trigger-button-end-date"
            [timeEnabled]="true"
            [secondsEnabled]="true"
            (selectedDateTime)="setEndDate($event)"
          >
            <dt-icon name="calendar"></dt-icon>
          </button>
          <dt-hint>Has to be after start date</dt-hint>
          <dt-error
            *ngIf="!isValidStartBeforeEnd || !isValidStartEndDuration"
            uitestid="keptn-trigger-evaluation-date-error"
          >
            <ng-container *ngIf="!isValidStartBeforeEnd">Start date must be before end date</ng-container>
            <ng-container *ngIf="isValidStartBeforeEnd && !isValidStartEndDuration"
              >The duration has to be minimum 1 minute
            </ng-container>
          </dt-error>
        </dt-form-field>
      </div>

      <div class="mb-3 full-width" fxLayout="row">
        <dt-form-field>
          <dt-label>Labels</dt-label>
          <input
            [(ngModel)]="evaluationFormData.labels"
            dtInput
            placeholder="e.g. key1=value1,key2=value2"
            uitestid="keptn-trigger-evaluation-labels"
          />
          <dt-hint>Comma separated. Allowed: key=value</dt-hint>
        </dt-form-field>
      </div>

      <ng-container
        [ngTemplateOutlet]="triggerActions"
        [ngTemplateOutletContext]="{
          isValid:
            (evaluationFormData.evaluationType === TRIGGER_EVALUATION_TIME.TIMEFRAME && isValidTimeframe) ||
            (evaluationFormData.evaluationType === TRIGGER_EVALUATION_TIME.START_END && isValidStartEndTime())
        }"
      ></ng-container>
    </div>

    <div fxLayout="column" *ngIf="state === TRIGGER_SEQUENCE.CUSTOM">
      <h2 uitestid="ktb-trigger-headline">
        Trigger a {{ customFormData.sequence }} sequence for {{ selectedService }} in {{ selectedStage }}
      </h2>

      <dt-form-field class="mb-3 full-width">
        <dt-label>Labels</dt-label>
        <input
          [(ngModel)]="customFormData.labels"
          dtInput
          placeholder="e.g. key1=value1,key2=value2"
          uitestid="keptn-trigger-custom-labels"
        />
        <dt-hint>Comma separated. Allowed: key=value</dt-hint>
      </dt-form-field>

      <ng-container
        [ngTemplateOutlet]="triggerActions"
        [ngTemplateOutletContext]="{ isValid: customFormData.sequence }"
      ></ng-container>
    </div>
  </div>
</div>

<ng-template #triggerActions let-isValid="isValid">
  <div class="mt-3" fxLayout="row" fxLayoutAlign="space-between">
    <div fxLayoutGap="15px">
      <button dt-button variant="secondary" uitestid="keptn-trigger-button-back" (click)="state = 'ENTRY'">
        <dt-icon name="left"></dt-icon>
        Back
      </button>
      <button dt-button variant="secondary" uitestid="keptn-trigger-button-close" (click)="formClosed.emit()">
        Cancel
      </button>
    </div>
    <button
      dt-button
      uitestid="keptn-trigger-button-trigger"
      [disabled]="!isValid || isLoading"
      (click)="triggerSequence()"
    >
      <dt-icon name="flash" *ngIf="!isLoading"></dt-icon>
      <ktb-loading-spinner *ngIf="isLoading"></ktb-loading-spinner>
      Trigger sequence
    </button>
  </div>
</ng-template>
