# Folder to test service onboarding with Helm chart
carts

# Idea
.idea

#binary - go build
cli

# ignore support-archive folder if it exists
support-archive

# ignore the keptn cli binary generated after running go build -o keptn
keptn
