<div class="container" fxFlexFill>
  <ng-container *ngIf="project$ | async as project; else loading">
    <ktb-stage-overview
      fxFlex="70"
      (selectedStageChange)="stageDetails.selectStage($event)"
      (filteredServicesChange)="stageDetails.filteredServices = $event"
    ></ktb-stage-overview>
    <ktb-stage-details fxFlex="30" #stageDetails [project]="project"></ktb-stage-details>
  </ng-container>
</div>
<ng-template #loading>
  <div fxFlexFill fxLayout="row" fxLayoutAlign="center center" uitestid="ktb-environment-is-loading">
    <ktb-loading-distractor>Loading …</ktb-loading-distractor>
  </div>
</ng-template>
