@import '~@dynatrace/barista-components/style/main';

:host ::ng-deep {
  .stage-state-icon {
    width: 25px;
    height: 25px;
    color: $gray-300;
    fill: $gray-300;

    &.error {
      fill: $error-color;
    }
    &.highlight {
      fill: $blue-400;
    }
  }
}
