@import '../../../variables';
@import '~@dynatrace/barista-components/style/main';

.container {
  padding: 0;

  > div {
    flex-wrap: wrap;
  }
}

:host ::ng-deep {
  .stage-state-icon {
    width: 25px;
    height: 25px;
    color: $gray-300;
    fill: $gray-300;

    &.error {
      fill: $error-color;
    }
    &.highlight {
      fill: $approval-color;
    }
  }
}
