<div fxFlexFill *ngIf="project$ | async as project; else loading">
  <div fxFlex="70" fxLayout="column">
    <ktb-stage-overview
      fxFlex
      fxLayout="column"
      (selectedStageChange)="stageDetails.selectStage($event)"
      (filteredServicesChange)="stageDetails.filteredServices = $event"
    ></ktb-stage-overview>
  </div>
  <div fxFlex="30" fxLayout="column">
    <ktb-stage-details fxFlex fxLayout="column" #stageDetails [project]="project"></ktb-stage-details>
  </div>
</div>
<ng-template #loading>
  <div fxFlexFill fxLayout="row" fxLayoutAlign="center center">
    <dt-loading-distractor>Loading …</dt-loading-distractor>
  </div>
</ng-template>
