<div class="container" fxFlex="34" fxLayout="column" fxLayoutGap="15px" *ngIf="project$ | async as project">
  <div fxFlex fxLayout="column" fxLayoutGap="15px">
    <div>
      <dt-info-group>
        <dt-info-group-title>
          <p class="mb-0"><span [textContent]="project.getServices().length"></span> Services</p>
        </dt-info-group-title>
      </dt-info-group>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center" *ngIf="project.getServices().length == 0">
      <dt-icon class="icon" name="information"></dt-icon>
      <p>No service onboarded yet. Follow the instructions to <a [href]="'/manage/service/#onboard-a-service' | keptnUrl" target="_blank" rel="noopener noreferrer">onboard a service</a>.</p>
    </div>
    <ktb-expandable-tile *ngFor="let service of project.getServices()" [expanded]="service.serviceName == serviceName">
      <ktb-expandable-tile-header>
        <dt-info-group>
          <dt-info-group-title>
            <div fxLayout="row">
              <div fxFlex>
                <h2 class="m-0" [textContent]="service.serviceName"></h2>
              </div>
              <div fxLayout="column" fxLayoutAlign="start end" *ngIf="eventTypes">
                <div class="buttons-container" fxLayout="row" fxLayoutAlign="start start">
                  <button dt-icon-button (click)="$event.stopPropagation()" [dtContextDialogTrigger]="filterEventsDialog" variant="nested" aria-label="Open context dialog">
                    <dt-icon name="filter"></dt-icon>
                  </button>
                  <dt-context-dialog #filterEventsDialog aria-label="Open context dialog" ariaLabelClose="Close context dialog">
                    <p *ngFor="let eventType of eventTypes">
                      <dt-checkbox (change)="filterEvents($event, eventType)" [checked]="true || isFilteredEvent(eventType)" [textContent]="eventType"></dt-checkbox>
                    </p>
                  </dt-context-dialog>
                </div>
              </div>
            </div>
          </dt-info-group-title>
          <div *ngIf="service.roots">
            <p class="m-0 mb-1 mt-1" *ngIf="project.getLatestArtifact(service) as artifact; else noDeployment">
              <span class="bold">Last processed artifact: </span><span *ngIf="artifact.getShortImageName()" [textContent]="artifact.getShortImageName()"></span><span *ngIf="!artifact.getShortImageName()">unknown</span>
            </p>
          </div>
          <button dt-button disabled variant="nested" *ngIf="!service.roots">
            <dt-loading-spinner></dt-loading-spinner>
            Loading ...
          </button>
        </dt-info-group>
      </ktb-expandable-tile-header>
      <div class="mb-1" fxLayout="row" fxLayoutAlign="end center">
        <dt-tag-list aria-label="fetch-info">
          <dt-tag>Last time fetched: <span [textContent]="getRootsLastUpdated(project) | amCalendar:dateUtil.getCalendarFormats(true)"></span></dt-tag>
        </dt-tag-list>
      </div>
      <ktb-root-events-list [events]="getFilteredRoots(service.roots)" [selectedEvent]="currentRoot" (selectedEventChange)="selectRoot($event)"></ktb-root-events-list>
      <button dt-button disabled variant="nested" *ngIf="!service.roots">
        <dt-loading-spinner></dt-loading-spinner>
        Loading ...
      </button>
    </ktb-expandable-tile>
    <div class="mb-3"></div>
  </div>
</div>
<div class="container dark" fxFlex="66" fxLayout="column" fxLayoutGap="15px">
  <div *ngIf="currentRoot" fxFlex fxLayout="column" fxLayoutGap="15px">
    <div class="mt-2 mb-3">
      <dt-info-group>
        <dt-info-group-title>
          <div fxFlex fxLayout="row" fxLayoutAlign="flex-start center" fxLayoutGap="15px">
            <div class="mt-1 mb-1" fxLayout="row" fxLayoutAlign="start center">
              <p class="m-0">
                <span class="bold" [textContent]="currentRoot.getLabel()"></span>&nbsp;
                <span [textContent]="currentRoot.getStatusLabel()"></span>
              </p>
              <button class="ml-1" *ngIf="currentRoot.isFaulty()" dt-icon-button disabled variant="nested"><dt-icon name="criticalevent"></dt-icon></button>
            </div>
          </div>
        </dt-info-group-title>
        <p class="m-0 mb-1" *ngIf="currentRoot.data.configurationChange?.values"><span class="bold">New artifact: </span><dt-tag [textContent]="currentRoot.data.configurationChange.values.image"></dt-tag></p>
        <p class="m-0 mb-1"><span class="bold">Context: </span><dt-tag [textContent]="currentRoot.shkeptncontext"></dt-tag></p>
      </dt-info-group>
    </div>
    <ktb-sequence-timeline *ngIf="currentRoot.getStages().length > 0" [currentSequence]="currentRoot" [selectedStage]="selectedStage" (selectedStageChange)="selectStage($event)"></ktb-sequence-timeline>
    <p class="m-0 mb-1">
      <span class="bold" *ngIf="!currentRoot.isFinished()">Recent task: </span>
      <span class="bold" *ngIf="currentRoot.isFinished()">Last task: </span>
      <span [textContent]="currentRoot.getLastTraceOfStage(selectedStage)?.getLabel()"></span>
    </p>
    <p class="m-0 mb-1" *ngIf="currentRoot.isFinished() && currentRoot.getLastTraceOfStage(selectedStage)?.getFinishedEvent().data.message">
      <span class="bold">Status: </span>
      <span [textContent]="currentRoot.getLastTraceOfStage(selectedStage)?.getFinishedEvent().data.message"></span>
    </p>
    <div>
      <button dt-button variant="secondary" [routerLink]="['/project', currentRoot.getProject(), 'sequence', currentRoot.shkeptncontext, 'stage', selectedStage]">View sequence</button>
    </div>
    <div fxLayout="column" fxLayoutGap="15px" *ngIf="currentRoot.getEvaluation(selectedStage) as evaluationEvent">
      <ktb-event-item [event]="evaluationEvent" *ngIf="evaluationEvent.isFinished()">
        <ktb-event-item-detail>
          <ktb-evaluation-details [evaluationData]="evaluationEvent.getFinishedEvent()" [isInvalidated]="evaluationEvent.isInvalidated()"></ktb-evaluation-details>
        </ktb-event-item-detail>
      </ktb-event-item>
    </div>
    <div fxLayout="column" fxLayoutGap="15px" *ngIf="selectedStage && currentRoot.getPendingApprovals(selectedStage).length > 0">
      <ktb-event-item *ngFor="let approvalEvent of currentRoot.getPendingApprovals(selectedStage)" [event]="approvalEvent"></ktb-event-item>
    </div>
    <div class="mb-3" fxLayout="row" fxLayoutAlign="end center">
      <dt-tag>Last time fetched: <span [textContent]="getTracesLastUpdated(currentRoot) | amCalendar:dateUtil.getCalendarFormats(true)"></span></dt-tag>
      <button class="ml-2" dt-button (click)="loadTraces(currentRoot)" *ngIf="showReloadButton(currentRoot)"><dt-icon name="refresh"></dt-icon> Reload</button>
    </div>
  </div>
</div>
<ng-template #noDeployment>
  <p class="m-0">Service not deployed yet. Use <a [href]="'/reference/cli/commands/keptn_trigger_delivery/' | keptnUrl" target="_blank" rel="noopener noreferrer">keptn trigger delivery</a> to trigger a deployment.</p>
</ng-template>
