<div class="container" fxFlex="34" fxLayout="column" fxLayoutGap="15px" *ngIf="project$ | async as project">
  <div fxFlex fxLayout="column" fxLayoutGap="15px">
    <div>
      <dt-info-group>
        <dt-info-group-title>
          <p class="mb-0"><span [textContent]="project.getServices().length"></span> Services</p>
        </dt-info-group-title>
      </dt-info-group>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center" *ngIf="project.getServices().length == 0">
      <dt-icon class="icon" name="information"></dt-icon>
      <p>No service onboarded yet. Follow the instructions to <a [href]="'/manage/service/#onboard-a-service' | keptnUrl" target="_blank" rel="noopener noreferrer">onboard a service</a>.</p>
    </div>
    <ktb-expandable-tile *ngFor="let service of project.getServices()" [expanded]="service.serviceName == serviceName">
      <ktb-expandable-tile-header>
        <dt-info-group>
          <dt-info-group-title>
            <div fxLayout="row">
              <div fxFlex>
                <h2 class="m-0" [textContent]="service.serviceName"></h2>
              </div>
            </div>
          </dt-info-group-title>
          <div *ngIf="service.roots">
            <p class="m-0 mb-1 mt-1" *ngIf="project.getLatestArtifact(service) as artifact; else noDeployment">
              <span class="bold">Last processed artifact: </span><span *ngIf="artifact.getShortImageName()" [textContent]="artifact.getShortImageName()"></span><span *ngIf="!artifact.getShortImageName()">unknown</span>
            </p>
          </div>
          <button dt-button disabled variant="nested" *ngIf="!service.roots">
            <dt-loading-spinner></dt-loading-spinner>
            Loading ...
          </button>
        </dt-info-group>
      </ktb-expandable-tile-header>
      <ktb-deployment-list [service]="service"></ktb-deployment-list>
    </ktb-expandable-tile>
    <div class="mb-3"></div>
  </div>
</div>
<div class="container dark" fxFlex="66" fxLayout="column" fxLayoutGap="15px">

</div>
<ng-template #noDeployment>
  <p class="m-0">Service not deployed yet. Use <a [href]="'/reference/cli/commands/keptn_trigger_delivery/' | keptnUrl" target="_blank" rel="noopener noreferrer">keptn trigger delivery</a> to trigger a deployment.</p>
</ng-template>
