# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
vendor/*

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# vscode internals
launch.json
NOTES.md

# debug files
MANIFEST
skaffold.yaml

# swagger docs (temp files)
swagger-ui/swagger.json 

# binary - go build
mongodb-datastore