---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: mongodb-datastore
  annotations:
    fluentbit.io/exclude: "true"
  labels:
    app.kubernetes.io/name: mongodb-datastore
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/managed-by: {{ .Release.Service }}
    app.kubernetes.io/part-of: keptn-{{ .Release.Namespace }}
    app.kubernetes.io/component: {{ include "control-plane.name" . }}
    app.kubernetes.io/version: {{ .Values.mongodbDatastore.image.tag | default .Chart.AppVersion }}
    helm.sh/chart: {{ include "control-plane.chart" . }}     
spec:
  selector:
    matchLabels:
      app.kubernetes.io/name: mongodb-datastore
      app.kubernetes.io/instance: {{ .Release.Name }}
  replicas: 1
  template:
    metadata:
      labels:
        app.kubernetes.io/name: mongodb-datastore
        app.kubernetes.io/instance: {{ .Release.Name }}
        app.kubernetes.io/managed-by: {{ .Release.Service }}
        app.kubernetes.io/part-of: keptn-{{ .Release.Namespace }}
        app.kubernetes.io/component: {{ include "control-plane.name" . }}
        app.kubernetes.io/version: {{ .Values.mongodbDatastore.image.tag | default .Chart.AppVersion }}
        helm.sh/chart: {{ include "control-plane.chart" . }}     
    spec:
      {{- list .Values.mongodbDatastore .Values.distributor | dict "context" . "indent" 6 "bases" | include "keptn.image.pullSecrets" }}
      securityContext:
        fsGroup: 65532
      serviceAccountName: keptn-default
      containers:
      - name: mongodb-datastore
        image: {{ dict "space" .Values.mongodbDatastore "context" . | include "keptn.image.name" }}
        livenessProbe:
          httpGet:
            path: /health
            port: 10998
          initialDelaySeconds: 10
          periodSeconds: 5
        readinessProbe:
          httpGet:
            path: /event
            port: 8080
          initialDelaySeconds: 10
          periodSeconds: 5
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 8080
        resources:
          requests:
            memory: "32Mi"
            cpu: "50m"
          limits:
            memory: "128Mi"
            cpu: "200m"
        env:
        - name: PREFIX_PATH
          value: "{{ .Values.prefixPath }}"
        - name: MONGODB_HOST
          value: '{{ .Values.mongodb.host }}'
        - name: MONGODB_DATABASE
          value: 'keptn'
        - name: MONGODB_USER
          valueFrom:
            secretKeyRef:
                name: mongodb-credentials
                key: user
        - name: MONGODB_PASSWORD
          valueFrom:
            secretKeyRef:
                name: mongodb-credentials
                key: password
        securityContext:
          runAsNonRoot: true
          runAsUser: 65532
          readOnlyRootFilesystem: true
          allowPrivilegeEscalation: false
      - name: distributor
        image: {{ include "keptn.distributor.imageName" . }}
        {{- include "control-plane.dist.livenessProbe" . | nindent 8 }}
        {{- include "control-plane.dist.readinessProbe" . | nindent 8 }}
        imagePullPolicy: IfNotPresent
        ports:
          - containerPort: 8080
        {{- include "keptn.distributor.resources" . | nindent 8 }}
        env:
          - name: PUBSUB_IMPL
            value: nats
          - name: PUBSUB_URL
            value: 'nats://keptn-nats-cluster'
          - name: PUBSUB_TOPIC
            value: 'sh.keptn.>'
          - name: PUBSUB_RECIPIENT
            value: '127.0.0.1'
          - name: PUBSUB_RECIPIENT_PATH
            value: '/event'
          {{- include "control-plane.dist.common.env.vars" . | nindent 10 }}
        securityContext:
          runAsNonRoot: true
          runAsUser: 65532
          readOnlyRootFilesystem: true
          allowPrivilegeEscalation: false
---
apiVersion: v1
kind: Service
metadata:
  name: mongodb-datastore
  labels:
    app.kubernetes.io/name: mongodb-datastore
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/managed-by: {{ .Release.Service }}
    app.kubernetes.io/part-of: keptn-{{ .Release.Namespace }}
    app.kubernetes.io/component: {{ include "control-plane.name" . }}
    helm.sh/chart: {{ include "control-plane.chart" . }}         
spec:
  ports:
  - port: 8080
    protocol: TCP
  selector:
    app.kubernetes.io/name: mongodb-datastore
    app.kubernetes.io/instance: {{ .Release.Name }}
