@import '../../../variables';
@import '~@dynatrace/barista-components/core/src/style/variables';

.resize-vertical {
  resize: vertical;
  min-height: 33px;
}

.code {
  font-family: monospace;
}

.dt-icon.info {
  width: 16px;
  height: 16px;
  fill: var(--dt-theme-main-default-color);
}

.send-finished-input + .dt-overlay-trigger,
.send-started-input + .dt-overlay-trigger {
  margin-top: 2.7em;
  margin-left: .3em;
}

::ng-deep {
  #webhook-config-form {
    .dt-form-field {
      .dt-form-field-suffix {
        align-items: start;
        position: absolute;
        right: 0;
        top: -10px;
      }
    }

    .dt-suffix:last-child:not(.dt-button) {
      margin-right: 0;
    }
  }


}

.settings-section {
  margin-bottom: 2em;

  &:last-of-type {
    margin-bottom: 0;
  }
}

h2 {
  margin-top: 2em;
}

.settings-section:first-of-type .dt-form-field {
  width: calc(50% - 0.2em);
}
