<h2>Webhook configuration</h2>
<form class="mb-2" (input)="onWebhookFormChange()" [formGroup]="webhookConfigForm" id="webhook-config-form">
  <div class="settings-section" fxLayout="row" fxLayoutAlign="start stretch">
    <dt-form-field uitestid="edit-webhook-field-method">
      <dt-label class="required">Request Method</dt-label>
      <dt-select
        (selectionChange)="onWebhookFormChange()"
        formControlName="method"
        class="mr-2 item"
        placeholder="Choose method"
        aria-label="Choose method"
      >
        <dt-option *ngFor="let method of webhookMethods" [value]="method" [textContent]="method"></dt-option>
      </dt-select>
      <dt-error *ngIf="getFormControl('method').errors?.required">Method must not be empty</dt-error>
    </dt-form-field>
  </div>
  <div class="settings-section">
    <dt-form-field class="text-area" fxFlex="calc(100% - 175px)" uitestid="edit-webhook-field-url">
      <dt-label class="required">URL</dt-label>
      <textarea
        #urlInput
        formControlName="url"
        placeholder="https://keptn.sh/"
        dtInput
        cols="60"
        rows="1"
        class="resize-vertical url-input"
      ></textarea>
      <dt-error *ngIf="getFormControl('url').errors?.required">URL must not be empty</dt-error>
      <dt-error *ngIf="getFormControl('url').errors?.urlOrSecret">
        Must either be a URL starting with http(s):// or a reference to a secret. A combination of both is possible too:
        https://{{ '{{.secret.a.b}}' }}
      </dt-error>
      <dt-error *ngIf="getFormControl('url').errors?.space"> URL must not contain spaces </dt-error>
      <div dtSuffix uitestid="event-url">
        <ng-container
          [ngTemplateOutlet]="payloadButton"
          [ngTemplateOutletContext]="{
            $implicit: undefined,
            controlName: 'url',
            selectionStart: urlInput.selectionStart
          }"
        ></ng-container>
      </div>
      <div dtSuffix uitestid="secret-url">
        <ng-container
          [ngTemplateOutlet]="secretButton"
          [ngTemplateOutletContext]="{
            $implicit: undefined,
            controlName: 'url',
            selectionStart: urlInput.selectionStart
          }"
        ></ng-container>
      </div>
    </dt-form-field>
  </div>
  <div class="settings-section">
    <p>Custom headers</p>
    <button
      type="button"
      dt-button
      variant="secondary"
      aria-label="Add key-value pair"
      title="Add Header"
      uitestid="ktb-webhook-settings-add-header-button"
      (click)="addHeader()"
    >
      <dt-icon name="addrowonbottom"></dt-icon>
      Add custom header
    </button>
  </div>
  <div formArrayName="header" class="settings-section">
    <ng-container *ngFor="let headerGroup of headerControls; let i = index">
      <form [formGroup]="headerGroup">
        <div class="mb-3" fxLayout="row" fxLayoutAlign="start end">
          <dt-form-field class="mr-2" uitestid="edit-webhook-field-headerName">
            <dt-label class="required">Name</dt-label>
            <input formControlName="name" type="text" dtInput placeholder="e.g. Content-Type" autocomplete="false" />
            <dt-error>Must not be empty</dt-error>
          </dt-form-field>
          <dt-form-field class="mr-2" uitestid="edit-webhook-field-headerValue">
            <dt-label class="required">Value</dt-label>
            <input
              #headerInput
              formControlName="value"
              type="text"
              dtInput
              placeholder="e.g. application/json"
              autocomplete="false"
            />
            <dt-error>Must not be empty</dt-error>
            <div dtSuffix uitestid="event-header">
              <ng-container
                [ngTemplateOutlet]="payloadButton"
                [ngTemplateOutletContext]="{
                  $implicit: undefined,
                  controlName: 'header',
                  index: i,
                  selectionStart: headerInput.selectionStart
                }"
              ></ng-container>
            </div>
            <div dtSuffix uitestid="secret-header">
              <ng-container
                [ngTemplateOutlet]="secretButton"
                [ngTemplateOutletContext]="{
                  $implicit: '',
                  controlName: 'header',
                  index: i,
                  selectionStart: headerInput.selectionStart
                }"
              ></ng-container>
            </div>
          </dt-form-field>
          <button
            type="button"
            dt-icon-button
            variant="nested"
            aria-label="Remove Header"
            title="Remove Header"
            (click)="removeHeader(i)"
          >
            <dt-icon name="removerow"></dt-icon>
          </button>
        </div>
      </form>
    </ng-container>
  </div>
  <div class="settings-section">
    <dt-form-field class="text-area" uitestid="edit-webhook-field-payload">
      <dt-label>Custom payload</dt-label>
      <textarea
        #payloadInput
        class="resize-vertical code"
        formControlName="payload"
        dtInput
        cols="60"
        rows="5"
      ></textarea>
      <dt-error *ngIf="getFormControl('payload').errors?.specialChar"
        >Not allowed characters: $ | ; > & ` /var/run</dt-error
      >
      <div dtSuffix uitestid="event-payload">
        <ng-container
          [ngTemplateOutlet]="payloadButton"
          [ngTemplateOutletContext]="{
            $implicit: undefined,
            controlName: 'payload',
            selectionStart: payloadInput.selectionStart
          }"
        ></ng-container>
      </div>
      <div dtSuffix uitestid="secret-payload">
        <ng-container
          [ngTemplateOutlet]="secretButton"
          [ngTemplateOutletContext]="{
            $implicit: undefined,
            controlName: 'payload',
            selectionStart: payloadInput.selectionStart
          }"
        ></ng-container>
      </div>
    </dt-form-field>
  </div>
  <div class="settings-section">
    <dt-form-field uitestid="edit-webhook-field-proxy">
      <dt-label>Proxy</dt-label>
      <input formControlName="proxy" type="url" dtInput placeholder="Proxy" />
      <dt-error *ngIf="getFormControl('proxy').errors?.url"> URL must start with http(s):// </dt-error>
      <dt-error *ngIf="getFormControl('proxy').errors?.space"> URL must not contain spaces </dt-error>
    </dt-form-field>
  </div>
  <div class="settings-section" fxLayout="row" fxLayoutAlign="start center">
    <dt-form-field uitestid="edit-webhook-field-sendStarted" class="send-started-input">
      <dt-label>Send started event</dt-label>
      <dt-radio-group name="sendStarted" formControlName="sendStarted" (change)="onWebhookFormChange()">
        <dt-radio-button value="true" class="mr-2"> automatically </dt-radio-button>
        <dt-radio-button value="false"> by webhook receiver </dt-radio-button>
      </dt-radio-group>
    </dt-form-field>
    <div [dtOverlay]="sendStartedOverlay" style="cursor: pointer" [dtOverlayConfig]="overlayConfig">
      <dt-icon name="information" class="info mr-1"></dt-icon>
    </div>
    <ng-template #sendStartedOverlay>
      <p>
        If you subscribe your webhook to a task event of type triggered, the corresponding started and finished events
        are sent automatically.
        <br /><br />
        To move the responsibility of sending the started event to the webhook receiver, select the option 'by webhook
        receiver'.
      </p>
    </ng-template>
  </div>
  <div class="settings-section" fxLayout="row" fxLayoutAlign="start center">
    <dt-form-field uitestid="edit-webhook-field-sendFinished" class="send-finished-input">
      <dt-label>Send finished event</dt-label>
      <dt-radio-group name="sendFinished" formControlName="sendFinished" (change)="onWebhookFormChange()">
        <dt-radio-button value="true" class="mr-2"> automatically </dt-radio-button>
        <dt-radio-button value="false"> by webhook receiver </dt-radio-button>
      </dt-radio-group>
    </dt-form-field>
    <div [dtOverlay]="sendFinishedOverlay" style="cursor: pointer" [dtOverlayConfig]="overlayConfig">
      <dt-icon name="information" class="info mr-1"></dt-icon>
    </div>
    <ng-template #sendFinishedOverlay>
      <p>
        If you subscribe your webhook to a task event of type triggered, the corresponding started and finished events
        are sent automatically.
        <br /><br />
        To move the responsibility of sending the finished event to the webhook receiver, select the option 'by webhook
        receiver'. This is especially required for webhooks that trigger a long-running task.
      </p>
    </ng-template>
  </div>
</form>

<ng-template #secretButton let-controlName="controlName" let-index="index" let-selectionStart="selectionStart">
  <ng-template #secretEmpty>
    <div class="container">
      No secrets for the scope keptn-webhook-service are available.
      <p>
        Configure secrets for the scope keptn-webhook-service under the menu entry
        <a
          [routerLink]="['/project', projectName, 'settings', 'uniform', 'secrets', 'add']"
          [queryParams]="{ scope: 'keptn-webhook-service' }"
          ><span class="&quot;bold&quot;">Secrets</span></a
        >
        in the Uniform.
      </p>
    </div>
  </ng-template>

  <ktb-variable-selector
    [data]="secretDataSource"
    [title]="'Select secret'"
    [label]="'Add secret'"
    [emptyText]="secretEmpty"
    [hintText]="'Only secrets of scope keptn-webhook-secret can be referenced.'"
    [control]="getFormControl(controlName, index)"
    [selectionStart]="selectionStart"
    (changed)="onWebhookFormChange()"
  ></ktb-variable-selector>
</ng-template>

<ng-template #payloadButton let-controlName="controlName" let-index="index" let-selectionStart="selectionStart">
  <ktb-variable-selector
    iconName="coding"
    title="Select payload variable"
    label="Add payload variable"
    [data]="eventDataSource"
    [control]="getFormControl(controlName, index)"
    [selectionStart]="selectionStart"
    (changed)="onWebhookFormChange()"
  >
  </ktb-variable-selector>
</ng-template>
