    
apiVersion: apps/v1
kind: Deployment
metadata:
  name: remediation-service
  namespace: keptn
spec:
  selector:
    matchLabels:
      run: remediation-service
  replicas: 1
  template:
    metadata:
      labels:
        run: remediation-service
    spec:
      containers:
      - name: remediation-service
        image: keptn/remediation-service:latest
        imagePullPolicy: Always
        ports:
        - containerPort: 8080
        resources:
          requests:
            memory: "64Mi"
            cpu: "50m"
          limits:
            memory: "1024Mi"
            cpu: "500m"
        env:
          - name: EVENTBROKER
            value: 'http://event-broker.keptn.svc.cluster.local/keptn'
          - name: CONFIGURATION_SERVICE
            value: 'http://configuration-service.keptn.svc.cluster.local:8080'
          - name: ENVIRONMENT
            value: 'production'
          - name: DT_API_TOKEN
            valueFrom:
              secretKeyRef:
                name: dynatrace
                key: DT_API_TOKEN
          - name: DT_TENANT
            valueFrom:
              secretKeyRef:
                name: dynatrace
                key: DT_TENANT
          - name: UNLEASH_SERVER_URL
            valueFrom:
              secretKeyRef:
                name: unleash
                key: UNLEASH_SERVER_URL
          - name: UNLEASH_USER
            valueFrom:
              secretKeyRef:
                name: unleash
                key: UNLEASH_USER
          - name: UNLEASH_TOKEN
            valueFrom:
              secretKeyRef:
                name: unleash
                key: UNLEASH_TOKEN
---
apiVersion: v1
kind: Service
metadata:
  name: remediation-service
  namespace: keptn
  labels:
    run: remediation-service
spec:
  ports:
  - port: 8080
    targetPort: 8080
    protocol: TCP
  selector:
    run: remediation-service