<div class="ktb-expandable-tile-container">
  <div class="ktb-expandable-tile-header" (click)="toggle()" [class.header-left]="alignment === 'left'">
    <button *ngIf="alignment === 'left'" class="show-more-left" dt-show-more [showLess]="expanded"></button>
    <ng-content
      select="
    ktb-expandable-tile-header,
    [ktb-expandable-tile-header],
    [ktbTileHeader]"></ng-content>

    <button *ngIf="alignment === 'right'" class="show-more-right" dt-show-more [showLess]="expanded"></button>
  </div>
  <div class="ktb-expandable-tile-content">
    <dt-expandable-panel [expanded]="expanded">
      <div class="container">
        <ng-content></ng-content>
      </div>
    </dt-expandable-panel>
  </div>
</div>
