<div class="ktb-expandable-tile-container">
  <div class="ktb-expandable-tile-header" (click)="toggle()">
    <ng-content
      select="
    ktb-expandable-tile-header,
    [ktb-expandable-tile-header],
    [ktbTileHeader]"></ng-content>
    <button class="show-more" dt-show-more [showLess]="expanded"></button>
  </div>
  <div class="ktb-expandable-tile-content">
    <dt-expandable-panel [expanded]="expanded">
      <div class="container">
        <ng-content></ng-content>
      </div>
    </dt-expandable-panel>
  </div>
</div>
