@import '../../../variables';
@import '~@dynatrace/barista-components/core/src/style/variables';

.ktb-expandable-tile {
  .ktb-expandable-tile-container {
    position: relative;
    cursor: pointer;
    border-radius: 3px;
    border: 1px solid $gray-200;
    text-decoration: none;

    .ktb-expandable-tile-header {
      position: relative;
      padding: 8px 11px;
      background-color: $white;
    }

    .header-left {
      margin-left: 34px;
    }

    .ktb-expandable-tile-content {
      position: relative;
      background-color: $gray-100;
    }

    .show-more-left {
      position: absolute;
      margin-left: -30px;
      width: 24px;
    }

    .show-more-right {
      position: absolute;
      right: 10px;
      top: 13px;
      width: auto;
    }

    .show-more-right, .show-more-left {
      .dt-icon {
        width: 24px !important;
        height: 24px !important;
      }
    }
  }

  &.ktb-tile-disabled {
    .ktb-expandable-tile-container {
      cursor: default;
    }
  }

  &:hover .ktb-expandable-tile-container {
    border-color: $gray-300;
  }

  &.ktb-tile-selected .ktb-expandable-tile-container {
    border-color: $gray-300;
    background-color: $gray-100;
  }

  &.ktb-tile-error .ktb-expandable-tile-container {
    border-color: $error-color;
  }

  &.ktb-tile-warning .ktb-expandable-tile-container {
    border-color: $warning-color;
  }

  &.ktb-tile-success .ktb-expandable-tile-container {
    border-color: $cta-color;
  }

  &.ktb-tile-highlight .ktb-expandable-tile-container {
    border-color: $blue-400;
  }
}
