<h2>Sequences</h2>
<dt-table [dataSource]="dataSource">
  <ng-container dtColumnDef="time" dtColumnAlign="text" dtColumnProportion="2">
    <dt-header-cell *dtHeaderCellDef>Started at</dt-header-cell>
    <dt-cell *dtCellDef="let row">
      <ng-container *ngIf="isRemediation(row) as sequence, else trace">
        <div fxLayout="row" fxLayoutAlign="start center">
          <button *ngIf="sequence.isLoading(), else finished" class="m-0 p-0" dt-button disabled variant="nested">
            <dt-loading-spinner aria-label="Remediation is running..."></dt-loading-spinner>
          </button>
          <ng-template #finished>
            <dt-icon name="criticalevent" [class]="sequence.isFaulty(this.stage) ? 'error' : 'success'" class="event-icon"></dt-icon>
          </ng-template>
          <span [textContent]="sequence.time | amDateFormat:dateUtil.getDateTimeFormat()"></span>
        </div>
      </ng-container>
      <ng-template #trace>
        <ng-container *ngIf="isTrace(row) as trace">
          <dt-icon *ngIf="!trace.isLoading() || trace.isApproval() || trace.getLastTrace().isApproval()" class="event-icon"
                   [class.error]="trace.isFaulty()"
                   [class.success]="trace.isSuccessful()"
                   [class.highlight]="trace.isApproval() || trace.getLastTrace().isApproval()"
                   [name]="trace.isFinished() ? trace.getIcon() : trace.getLastTrace().getIcon()"></dt-icon>
          <ng-container *ngIf="trace.isLoading()">
            <button class="m-0 p-0" dt-button disabled variant="nested">
              <dt-loading-spinner aria-label="Task is running..."></dt-loading-spinner>
            </button>
          </ng-container>
          <span *ngIf="trace.time" [textContent]="trace.time | amCalendar:dateUtil.getCalendarFormats()"></span>
        </ng-container>
      </ng-template>
    </dt-cell>
  </ng-container>

  <ng-container dtColumnDef="sequence" dtColumnAlign="text" dtColumnProportion="1">
    <dt-header-cell *dtHeaderCellDef>Sequence</dt-header-cell>
    <dt-cell *dtCellDef="let row">
      <a *ngIf="isRemediation(row) as sequence" [textContent]="sequence.name" [routerLink]="getRemediationLink(sequence)"></a>
      <a *ngIf="isTrace(row) as trace" [textContent]="trace.getLabel()" [routerLink]="getSequenceLink(trace)"></a>
    </dt-cell>
  </ng-container>

  <ng-container dtColumnDef="message" dtColumnAlign="text" dtColumnProportion="4">
    <dt-header-cell *dtHeaderCellDef>Message</dt-header-cell>
    <dt-cell *dtCellDef="let row">
      <span *ngIf="isRemediation(row) as sequence, else traceMessage" [textContent]="sequence.problemTitle"></span>
      <ng-template #traceMessage>
        <span [textContent]="getTraceMessage(row)"></span>
      </ng-template>
    </dt-cell>
  </ng-container>

  <dt-header-row
    *dtHeaderRowDef="['time', 'sequence', 'message']"
  ></dt-header-row>
  <dt-row
    *dtRowDef="
        let row;
        columns: ['time', 'sequence', 'message']
      "
  ></dt-row>
</dt-table>
