@import '~@dynatrace/barista-components/style/main';

.ktb-stage-overview {
  position: relative;

  > div {
    overflow: auto;
  }
}

.stage-list {
  &.scrollable {
    .stage-group {
      min-width: 30%;
      @media screen and (max-width: 1560px) {
        min-width: 335px;
      }
    }
  }

  .stage-group {
    min-width: 32.6%;

    // prevent jumping horizontal scrollbar
    @media screen and (max-width: 2073px) {
      min-width: 32%;
    }

    @media screen and (max-width: 1560px) {
      min-width: 330px;
    }
  }

  .stage-group:last-child {
    margin-right: 0;
    padding-right: 0;
  }
}

.stage-state {
  border-top: 1px solid $gray-300;
  border-bottom: 1px solid $gray-300;
  padding: 10px;
  margin-bottom: 10px;
}

.no-deployment {
  color: $gray-500;
}
