<form [formGroup]="gitUpstreamForm" (input)="dataChanged()" id="git-upstream-form" fxLayout="row" fxLayoutAlign=" end">
  <div fxLayout="column" fxFlexFill>
    <dt-form-field>
      <dt-label class="required">Git remote URL</dt-label>
      <input formControlName="gitUrl" type="text" dtInput placeholder="ssh://git-repo.com/repo.git" />
      <dt-loading-spinner *ngIf="isLoading" dtprefix aria-label="Loading data"></dt-loading-spinner>
      <dt-error *ngIf="gitUrlControl.errors?.required">Must not be empty</dt-error>
      <dt-error *ngIf="gitUrlControl.errors?.ssh">Must start with ssh://</dt-error>
    </dt-form-field>
    <dt-form-field class="mt-2">
      <dt-label>Git user</dt-label>
      <input formControlName="gitUser" type="text" dtInput placeholder="Username" />
      <dt-loading-spinner *ngIf="isLoading" dtprefix aria-label="Loading data"></dt-loading-spinner>
    </dt-form-field>
  </div>
</form>
