apiVersion: apps/v1
kind: Deployment
metadata:
  name: helm-service
  namespace: keptn
spec:
  selector:
    matchLabels:
      run: helm-service
  replicas: 1
  template:
    metadata:
      labels:
        run: helm-service
    spec:
      containers:
      - name: helm-service
        image: keptn/helm-service:latest
        ports:
        - containerPort: 8080
        resources:
          requests:
            memory: "128Mi"
            cpu: "50m"
          limits:
            memory: "512Mi"
            cpu: "1000m"
        env:
        - name: CONFIGURATION_SERVICE
          value: 'http://configuration-service.keptn.svc.cluster.local:8080'
        - name: EVENTBROKER
          value: 'http://event-broker.keptn.svc.cluster.local/keptn'
        - name: API
          value: 'ws://api.keptn.svc.cluster.local'
        - name: ENVIRONMENT
          value: 'production'
        - name: PRE_WORKFLOW_ENGINE
          value: 'true'
        - name: CANARY
          value: 'deployment'
---
apiVersion: v1
kind: Service
metadata:
  name: helm-service
  namespace: keptn
  labels:
    run: helm-service
spec:
  ports:
  - port: 8080
    protocol: TCP
  selector:
    run: helm-service