apiVersion: apps/v1
kind: Deployment
metadata:
  name: helm-service
  namespace: keptn
  labels:
    app.kubernetes.io/name: helm-service
    app.kubernetes.io/instance: keptn
    app.kubernetes.io/part-of: keptn-keptn
    app.kubernetes.io/component: control-plane
    app.kubernetes.io/version: develop
spec:
  selector:
    matchLabels:
      app.kubernetes.io/name: helm-service
      app.kubernetes.io/instance: keptn
  replicas: 1
  template:
    metadata:
      labels:
        app.kubernetes.io/name: helm-service
        app.kubernetes.io/instance: keptn
        app.kubernetes.io/part-of: keptn-keptn
        app.kubernetes.io/component: control-plane
        app.kubernetes.io/version: develop
    spec:
      serviceAccountName: keptn-helm-service
      containers:
      - name: helm-service
        image: keptn/helm-service:latest
        livenessProbe:
          httpGet:
            path: /health
            port: 10999
          initialDelaySeconds: 5
          periodSeconds: 5
        ports:
        - containerPort: 8080
        resources:
          requests:
            memory: "128Mi"
            cpu: "50m"
          limits:
            memory: "512Mi"
            cpu: "1000m"
        env:
        - name: CONFIGURATION_SERVICE
          value: 'http://configuration-service:8080'
        - name: EVENTBROKER
          value: 'http://event-broker/keptn'
        - name: API
          value: 'ws://api-service:8080/websocket'
        - name: ENVIRONMENT
          value: 'production'
        - name: INGRESS_HOSTNAME_SUFFIX
          valueFrom:
            configMapKeyRef:
              name: ingress-config
              key: ingress_hostname_suffix
              optional: true
        - name: INGRESS_PROTOCOL
          valueFrom:
            configMapKeyRef:
              name: ingress-config
              key: ingress_protocol
              optional: true
        - name: INGRESS_PORT
          valueFrom:
            configMapKeyRef:
              name: ingress-config
              key: ingress_port
              optional: true
        - name: ISTIO_GATEWAY
          valueFrom:
            configMapKeyRef:
              name: ingress-config
              key: istio_gateway
              optional: true
      - name: distributor
        image: keptn/distributor:latest
        livenessProbe:
          httpGet:
            path: /health
            port: 10999
          initialDelaySeconds: 5
          periodSeconds: 5
        imagePullPolicy: Always
        ports:
          - containerPort: 8080
        resources:
          requests:
            memory: "32Mi"
            cpu: "50m"
          limits:
            memory: "128Mi"
            cpu: "500m"
        env:
          - name: PUBSUB_URL
            value: 'nats://keptn-nats-cluster'
          - name: PUBSUB_TOPIC
            value: 'sh.keptn.internal.event.service.create,sh.keptn.event.deployment.triggered,sh.keptn.event.release.triggered,sh.keptn.event.action.triggered,sh.keptn.internal.event.service.delete'
          - name: PUBSUB_RECIPIENT
            value: '127.0.0.1'
---
apiVersion: v1
kind: Service
metadata:
  name: helm-service
  namespace: keptn
  labels:
    app.kubernetes.io/name: helm-service
    app.kubernetes.io/instance: keptn
    app.kubernetes.io/part-of: keptn-keptn
    app.kubernetes.io/component: control-plane
spec:
  ports:
  - port: 8080
    protocol: TCP
  selector:
    app.kubernetes.io/name: helm-service
    app.kubernetes.io/instance: keptn