$base-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans" sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

$primary-color: #006bb8;
$secondary-color: #002c66;
$link-icon-color: #00a1b2;

$gap-normal: 8px;
