$base-font: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans' sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

/* sequence and task status colors */
$aborted-color: #b7b7b7;
$approval-color: #2ab6f4;
$approval-color-hover: #14a8f5;

$gap-normal: 8px;
