@import 'variables';
@import '~normalize.css';

@import '~@dynatrace/barista-components/style/main';
@import '~@dynatrace/barista-components/style/index';

html {
  box-sizing: border-box;
}

pre, code {
  font-family: monospace;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.container {
  padding: 1rem;
  overflow: auto;
}
.container.dark {
  background-color: $gray-100;
}

app-root {
  width: 100%;
  height: 100%;
  position: absolute;

  display: flex;
  flex-direction: column;
  place-content: stretch stretch;
}

.nobreak {
  white-space: nowrap;
}

p.small,
span.small {
  font-family: BerninaSansWeb,OpenSans,sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 28px;
  color: $gray-700;
}

p.error,
span.error {
  color: $error-color;
}

p.error-line,
span.error-line {
  text-decoration: line-through;
}

.m-0 {
  margin: 0;
}
.mb-0 {
  margin-bottom: 0;
}
.mr-0 {
  margin-right: 0;
}
.ml-0 {
  margin-left: 0;
}
.mt-0 {
  margin-top: 0;
}

.m-1 {
  margin: .3em;
}
.mr-1 {
  margin-right: .3em;
}
.ml-1 {
  margin-left: .3em;
}
.mt-1 {
  margin-top: .3em;
}
.mb-1 {
  margin-bottom: .3em;
}

.m-2 {
  margin: .6em;
}
.mr-2 {
  margin-right: .6em;
}
.ml-2 {
  margin-left: .6em;
}
.mt-2 {
  margin-top: .6em;
}
.mb-2 {
  margin-bottom: .6em;
}

.mr-3 {
  margin-right: 2em;
}
.ml-3 {
  margin-left: 2em;
}
.mt-3 {
  margin-top: 2em;
}
.mb-3 {
  margin-bottom: 2em;
}

.mr-minus-15 {
  margin-right: -15px;
}


.p-0 {
  padding: 0;
}
.p-1 {
  padding: .3em;
}
.p-2 {
  padding: .6em;
}
.p-3 {
  padding: 1.2em;
}
.p-4 {
  padding: 2.5em;
}

.pr-1 {
  padding-right: .3em;
}
.pl-1 {
  padding-left: .3em;
}
.pt-1 {
  padding-top: .3em;
}
.pb-1 {
  padding-bottom: .3em;
}

.pr-4 {
  padding-right: 2.5em;
}
.pl-4 {
  padding-left: 2.5em;
}
.pt-4 {
  padding-top: 2.5em;
}
.pb-4 {
  padding-bottom: 2.5em;
}

.bold {
  font-weight: bold;
}

[fxFLex] {
  min-height: 0;
}
