$fonts-dir: '^./assets/fonts';

@import 'variables';
@import '~normalize.css';

@import '~@dynatrace/barista-components/style/main';
@import '~@dynatrace/barista-components/style/index';

@import 'barista';

pre, code {
  font-family: monospace;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.container {
  padding: 1rem;
  overflow: auto;
}

.container.dark {
  background-color: $gray-100;
}

ktb-root {
  width: 100%;
  height: 100%;
  position: absolute;

  display: flex;
  flex-direction: column;
  place-content: stretch stretch;
}

.nobreak {
  white-space: nowrap;
}

.dt-info-group-content > * {
  white-space: normal;
}

p.small,
span.small {
  font-family: BerninaSansWeb, OpenSans, sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: $gray-700;
}

p.light,
span.light {
  color: $gray-500;
}

p.error,
p.fail,
span.error,
span.fail,
h1.error,
h2.error,
h3.error,
h4.error {
  color: $error-color;
}

p.warning,
span.warning {
  color: $warning-color;
}

p.success,
span.success {
  color: $cta-color-active;
}

p.highlight,
span.highlight {
  color: $blue-400;
}

p.error-line,
span.error-line {
  text-decoration: line-through;
}

p.italic,
span.italic {
  font-style: italic;;
}

ul.list-style-none {
  list-style: none;
  padding-left: 20px;
}

a {
  color: $gray-800;
}

a:hover {
  color: $primary-color;
}

button.dt-button-primary.danger-button:not([disabled]),
button.dt-button-primary.error-button:not([disabled]) {
  background-color: $error-color;
  border-color: $error-color;

  &:hover:not([disabled]) {
    background-color: $error-color-hover;
    border-color: $error-color-hover;
  }

  &:active:not([disabled]) {
    background-color: $error-color-active;
    border-color: $error-color-active;
  }
}

button.dt-button-secondary.danger-button:not([disabled]),
button.dt-button-secondary.error-button:not([disabled]) {
  border-color: $error-color;
  color: $error-color;

  &:hover:not([disabled]) {
    border-color: $error-color-hover;
    color: $error-color-hover;
  }

  &:active:not([disabled]) {
    border-color: $error-color-active;
    color: $error-color-active;
  }
}


.m-0 {
  margin: 0 !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mr-0 {
  margin-right: 0 !important;
}

.ml-0 {
  margin-left: 0 !important;
}

.mt-0 {
  margin-top: 0 !important;
}

.m-1 {
  margin: .3em !important;
}

.mr-1 {
  margin-right: .3em !important;
}

.ml-1 {
  margin-left: .3em !important;
}

.mt-1 {
  margin-top: .3em !important;
}

.mb-1 {
  margin-bottom: .3em !important;
}

.m-2 {
  margin: .6em !important;
}

.mr-2 {
  margin-right: .6em !important;
}

.ml-2 {
  margin-left: .6em !important;
}

.mt-2 {
  margin-top: .6em !important;
}

.mb-2 {
  margin-bottom: .6em !important;
}

.mr-3 {
  margin-right: 2em !important;
}

.ml-3 {
  margin-left: 2em !important;
}

.mt-3 {
  margin-top: 2em !important;
}

.mb-3 {
  margin-bottom: 2em !important;
}

.mr-minus-15 {
  margin-right: -15px;
}


.p-0 {
  padding: 0 !important;
}

.p-1 {
  padding: .3em !important;
}

.p-2 {
  padding: .6em !important;
}

.p-3 {
  padding: 1.2em !important;
}

.p-4 {
  padding: 2.5em !important;
}

.pr-1 {
  padding-right: .3em !important;
}

.pl-1 {
  padding-left: .3em !important;
}

.pt-1 {
  padding-top: .3em !important;
}

.pb-1 {
  padding-bottom: .3em !important;
}

.pr-2 {
  padding-right: .6em !important;
}

.pl-2 {
  padding-left: .6em !important;
}

.pt-2 {
  padding-top: .6em !important;
}

.pb-2 {
  padding-bottom: .6em !important;
}

.pr-3 {
  padding-right: 1.2em !important;
}

.pl-3 {
  padding-left: 1.2em !important;
}

.pt-3 {
  padding-top: 1.2em !important;
}

.pb-3 {
  padding-bottom: 1.2em !important;
}

.pr-4 {
  padding-right: 2.5em !important;
}

.pl-4 {
  padding-left: 2.5em !important;
}

.pt-4 {
  padding-top: 2.5em !important;
}

.pb-4 {
  padding-bottom: 2.5em !important;
}

.bold {
  font-weight: bold;
}

.align-left {
  text-align: left;
}

pre.code {
  padding: 16px;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  background-color: #f6f8fa;
  border-radius: 6px;
}

.dt-icon.event-icon {
  width: 20px;
  height: 20px;

  &.error {
    fill: $error-color;
  }

  &.warning {
    fill: $orange-400;
  }

  &.success {
    fill: $cta-color-active;
  }

  &.highlight {
    fill: $blue-400;
  }
}

.dt-show-more {
  &.small {
    vertical-align: sub;

    .dt-icon {
      width: 16px;
      height: 16px;
    }
  }

  &.inline {
    width: auto;
    display: inline-block;
  }
}

.dt-confirmation-dialog-wrapper {
  margin-left: 66px !important;
}

.ktb-drag-and-drop {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border: 1px solid $link-icon-color;
  border-radius: 5px;
  background-color: transparent;
  text-align: center;
  position: relative;

  p.drop-error {
    position: absolute;
    bottom: -6px;
    color: $error-color;
  }

  &.drag-over {
    background-color: $gray-200;
  }
}

[fxFLex] {
  min-height: 0;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(180, 180, 180, 0.6);
  }

  70% {
    box-shadow: 0 0 0 25px rgba(180, 180, 180, 0);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(180, 180, 180, 0);
  }
}

@keyframes slideDown {
  0%, 10% {
    transform: translateY(-100%);
  }
  10%, 100% {
    transform: translateY(0px);
  }
}

button.action-btn {
  .dt-button-icon .dt-icon svg {
    fill: var(--dt-neutral-active-color);
  }
}

button.small-btn {
  &.dt-button {
    .dt-button-icon {
      width: 16px;
      height: 16px;
    }
  }

  &.dt-button.dt-icon-button {
    width: 28px;
  }
}

.dt-tag {
  &.justify-content-center {
    justify-content: center;
  }

  &.error {
    background-color: $error-color;
    color: $white;
  }

  &.warning {
    background-color: $warning-color;
    color: $white;
  }

  &.success {
    background-color: $cta-color-active;
    color: $white;
  }

  &.highlight {
    border-color: $blue-400;
  }
}
