$fonts-dir: '^./assets/fonts';

@import 'variables';
@import '~normalize.css';

@import '~@angular/cdk/overlay-prebuilt.css';

@import '~@dynatrace/barista-components/style/main';
@import '~@dynatrace/barista-components/style/index';

dt-loading-spinner.gray-loading svg {
  stroke: #898989 !important;
}

.relative {
  position: relative;
}
.notification-indicator, .notification-indicator-text {
  border-radius: 11px;
  background-color: $red-500;
  pointer-events: none;
  border: 2px solid $white;
}

.notification-indicator {
  width: 13px;
  height: 13px;
  position: absolute;
  right: 5px;
  top: 5px;
  z-index: 1;
}

.notification-indicator-text {
  min-width: 22px;
  height: 22px;
  padding: 0 5px;
  color: $white;
  font-size: 11px;
  text-align: center;
}

pre,
code {
  font-family: monospace;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.container {
  padding: 1rem;
  overflow: auto;
}

.container.dark {
  background-color: $gray-100;
}

ktb-root {
  width: 100%;
  height: 100%;
  position: absolute;

  display: flex;
  flex-direction: column;
  place-content: stretch stretch;
}

ktb-root,
.cdk-overlay-container {
  .dt-icon {
    height: 20px;
    width: 20px;
  }
}

.nobreak {
  white-space: nowrap;
}

.overflow-ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.display-inline-block {
  display: inline-block;
}

.dt-info-group-content > * {
  white-space: normal;
}

p.smaller,
span.smaller {
  font-family: BerninaSansWeb, OpenSans, sans-serif;
  font-weight: 400;
  font-size: 13px;
  color: $gray-700;
}

p.small,
span.small {
  font-family: BerninaSansWeb, OpenSans, sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: $gray-700;
}

p.light,
span.light {
  color: $gray-500;
}

p.error,
p.fail,
span.error,
span.fail,
h1.error,
h2.error,
h3.error,
h4.error {
  color: $error-color;
}

p.warning,
span.warning {
  color: $warning-color;
}

p.success,
span.success {
  color: $cta-color-active;
}

p.highlight,
span.highlight {
  color: $approval-color;
}

p.error-line,
span.error-line {
  text-decoration: line-through;
}

p.italic,
span.italic {
  font-style: italic;
}

ul.list-style-none {
  list-style: none;
  padding-left: 20px;
}

a {
  color: $gray-800;
}

a:hover {
  color: var(--dt-theme-main-default-color);
}

button.dt-button-primary.danger-button:not([disabled]),
button.dt-button-primary.error-button:not([disabled]) {
  background-color: $error-color;
  border-color: $error-color;

  &:hover:not([disabled]) {
    background-color: $error-color-hover;
    border-color: $error-color-hover;
  }

  &:active:not([disabled]) {
    background-color: $error-color-active;
    border-color: $error-color-active;
  }
}

button.dt-button-secondary.danger-button:not([disabled]),
button.dt-button-secondary.error-button:not([disabled]) {
  border-color: $error-color;
  color: $error-color;

  &:hover:not([disabled]) {
    border-color: $error-color-hover;
    color: $error-color-hover;
  }

  &:active:not([disabled]) {
    border-color: $error-color-active;
    color: $error-color-active;
  }
}

.dt-menu.submenu .dt-menu-group:first-of-type {
  margin-top: 15px;
}

.dt-menu.submenu .dt-menu-item.active,
.dt-menu.submenu .dt-menu-item:hover,
.dt-menu.submenu .dt-menu-item:active {
  background-color: $gray-200;
}

.dt-menu.submenu,
.dt-menu.submenu .dt-menu-group-header,
.dt-menu.submenu .dt-menu-item {
  color: $default-font-color;
  background-color: $gray-100;
}

.dt-checkbox.dt-checkbox-disabled .dt-checkbox-content {
  color: #ccc;
}

.m-0 {
  margin: 0 !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mr-0 {
  margin-right: 0 !important;
}

.ml-0 {
  margin-left: 0 !important;
}

.mt-0 {
  margin-top: 0 !important;
}

.m-1 {
  margin: 0.3em !important;
}

.mr-1 {
  margin-right: 0.3em !important;
}

.ml-1 {
  margin-left: 0.3em !important;
}

.mt-1 {
  margin-top: 0.3em !important;
}

.mb-1 {
  margin-bottom: 0.3em !important;
}

.m-2 {
  margin: 0.6em !important;
}

.mr-2 {
  margin-right: 0.6em !important;
}

.ml-2 {
  margin-left: 0.6em !important;
}

.mt-2 {
  margin-top: 0.6em !important;
}

.mb-2 {
  margin-bottom: 0.6em !important;
}

.mr-3 {
  margin-right: 2em !important;
}

.ml-3 {
  margin-left: 2em !important;
}

.mt-3 {
  margin-top: 2em !important;
}

.mb-3 {
  margin-bottom: 2em !important;
}

.mr-minus-15 {
  margin-right: -15px;
}

.p-0 {
  padding: 0 !important;
}

.p-1 {
  padding: 0.3em !important;
}

.p-2 {
  padding: 0.6em !important;
}

.p-3 {
  padding: 1.2em !important;
}

.p-4 {
  padding: 2.5em !important;
}

.pr-1 {
  padding-right: 0.3em !important;
}

.pl-1 {
  padding-left: 0.3em !important;
}

.pt-1 {
  padding-top: 0.3em !important;
}

.pb-1 {
  padding-bottom: 0.3em !important;
}

.pr-2 {
  padding-right: 0.6em !important;
}

.pl-2 {
  padding-left: 0.6em !important;
}

.pt-2 {
  padding-top: 0.6em !important;
}

.pb-2 {
  padding-bottom: 0.6em !important;
}

.pr-3 {
  padding-right: 1.2em !important;
}

.pl-3 {
  padding-left: 1.2em !important;
}

.pt-3 {
  padding-top: 1.2em !important;
}

.pb-3 {
  padding-bottom: 1.2em !important;
}

.pr-4 {
  padding-right: 2.5em !important;
}

.pl-4 {
  padding-left: 2.5em !important;
}

.pt-4 {
  padding-top: 2.5em !important;
}

.pb-4 {
  padding-bottom: 2.5em !important;
}

.bold {
  font-weight: bold;
}

.align-left {
  text-align: left;
}

pre.code {
  padding: 16px;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  background-color: #f6f8fa;
  border-radius: 6px;
}

.inline-text-icon {
  position: relative;
  top: 1px;
}

.icon-inline-left {
  .inline-text-icon {
    margin-right: 5px;
  }
}

.icon-inline-right {
  margin-left: 5px;
}

.icon-inline-center {
  margin: 0 5px;
}

.dt-icon.event-icon {
  &.error {
    fill: $error-color;
  }

  &.warning {
    fill: $warning-color;
  }

  &.success {
    fill: $cta-color-active;
  }

  &.highlight {
    fill: $approval-color;
  }

  &.aborted {
    fill: $aborted-color;
  }
}

.dt-show-more {
  &.small {
    vertical-align: sub;

    .dt-icon {
      width: 16px;
      height: 16px;
    }
  }

  &.inline {
    width: auto;
    display: inline-block;
  }
}

.dt-confirmation-dialog-wrapper {
  margin-left: 66px !important;
}

.ktb-drag-and-drop {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border: 1px solid var(--dt-theme-main-default-color);
  border-radius: 5px;
  background-color: transparent;
  text-align: center;
  position: relative;

  p.drop-error {
    position: absolute;
    bottom: -6px;
    color: $error-color;
  }

  &.drag-over {
    background-color: $gray-200;
  }
}

.settings-section {
  width: 50%;
  transition: padding-bottom 0.2s ease;

  &.notification-open {
    padding-bottom: 100px;
  }

  &.column-2 {
    > dt-form-field {
      width: 50%;
    }
  }
}

[fxFLex] {
  min-height: 0;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(180, 180, 180, 0.6);
  }

  70% {
    box-shadow: 0 0 0 25px rgba(180, 180, 180, 0);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(180, 180, 180, 0);
  }
}

@keyframes slideDown {
  0%,
  10% {
    transform: translateY(-100%);
  }
  10%,
  100% {
    transform: translateY(0px);
  }
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

.shake {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

button.action-btn {
  .dt-button-icon .dt-icon svg {
    fill: var(--dt-neutral-active-color);
  }
}

button.small-btn {
  &.dt-button {
    .dt-button-icon {
      width: 16px;
      height: 16px;
    }
  }

  &.dt-button.dt-icon-button {
    width: 28px;
  }
}

.dt-tag {
  &.justify-content-center {
    justify-content: center;
  }

  &.error {
    background-color: $error-color;
    color: $white;
  }

  &.warning {
    background-color: $warning-color;
    color: $white;
  }

  &.success {
    background-color: $cta-color-active;
    color: $white;
  }

  &.highlight {
    border-color: $approval-color;
  }
}

.required-info::before {
  color: $red-500;
  content: '*';
}

.required::after {
  color: $red-500;
  content: '*';
}

.inline-block {
  display: inline-block;
}

input[type=number].hide-arrows {
  -moz-appearance: textfield; /* Firefox */

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

textarea.resize-vertical {
  resize: vertical;
  min-height: 100px;
}
