<dt-label [class.required]="gitUpstreamRequired" class="dt-form-field-label">Connect via</dt-label>
<dt-radio-group (change)="setSelectedForm($event)" fxLayout="row">
  <dt-radio-button
    *ngIf="!gitUpstreamRequired && isCreateMode"
    [value]="FormType.NO_UPSTREAM"
    [checked]="selectedForm === FormType.NO_UPSTREAM"
    class="mr-2"
    uitestid="ktb-no-upstream-form-button"
  >
    No upstream
  </dt-radio-button>
  <dt-radio-button
    [value]="FormType.HTTPS"
    [checked]="selectedForm === FormType.HTTPS"
    class="mr-2"
    uitestid="ktb-https-form-button"
  >
    HTTPS
  </dt-radio-button>
  <dt-radio-button [value]="FormType.SSH" [checked]="selectedForm === FormType.SSH" uitestid="ktb-ssh-form-button">
    SSH
  </dt-radio-button>
</dt-radio-group>
<div class="mt-3">
  <!-- hidden instead of switch to keep the component instance and related data  -->
  <ktb-project-settings-git-https
    [hidden]="selectedForm !== FormType.HTTPS"
    (dataChange)="dataChanged(FormType.HTTPS, $event)"
    [gitInputData]="gitInputDataHttps"
  ></ktb-project-settings-git-https>
  <ktb-project-settings-git-ssh
    [hidden]="selectedForm !== FormType.SSH"
    (sshChange)="dataChanged(FormType.SSH, $event)"
    [gitInputSshData]="gitInputDataSsh"
  ></ktb-project-settings-git-ssh>
</div>
