<div class="container" uitestid="keptn-not-found-page">
  <dt-empty-state>
    <dt-empty-state-item>
      <dt-empty-state-item-img>
        <img alt="Logo" class="mt-2" [src]="logoInvertedUrl" />
      </dt-empty-state-item-img>
      <dt-empty-state-item-title class="mt-2" aria-level="2"> Page not found </dt-empty-state-item-title>
      <p>The requested URL <code [textContent]="routerUrl"></code> doesn't exist.</p>
      <button dt-button routerLink="/">Go to dashboard</button>
    </dt-empty-state-item>
  </dt-empty-state>
</div>
