@import '../../variables';
@import '~@dynatrace/barista-components/core/src/style/variables';

code {
  padding: 0.2em 0.4em;
  margin: 0;
  font-size: 85%;
  background-color: $gray-100;
  border-radius: 6px;
}
