# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

openshift-route-service

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

vendor/*
.DS_Store

#binary - go build
openshift-route-service
