<ktb-project-settings-git
  [isCreateMode]="true"
  [gitData]="gitDataRequired"
  [isLoading]="isLoading"
  (gitDataChanged)="gitUpstreamChanged($event); inputChanged()"
></ktb-project-settings-git>
<form>
  <dt-form-field>
    <dt-checkbox [formControl]="isInsecureControl" class="mt-2" uitestid="ktb-proxy-insecure">
      Skip SSL certificate check
    </dt-checkbox>
  </dt-form-field>
</form>
<h3>Certificate</h3>
<p class="mt-0">
  If a certificate is needed for the Git repository connection, upload the certificate file or add it directly as text.
</p>
<ktb-certificate-input
  #certificateInputElement
  [isLoading]="isLoading"
  [certificateInput]="certificateInput"
  (certificateChange)="
    certificate = $event; isCertificateValid = certificateInputElement.certificateForm.valid; inputChanged()
  "
></ktb-certificate-input>
<h3 class="mt-3">Proxy</h3>
<dt-switch
  (change)="proxyEnabled = $event.checked; inputChanged()"
  [checked]="proxyEnabled"
  uitestid="ktb-enable-git-proxy"
  >Use proxy
  <ktb-loading-spinner *ngIf="isLoading" class="smaller" aria-label="Loading data"></ktb-loading-spinner>
</dt-switch>
<ktb-proxy-input
  [hidden]="!proxyEnabled"
  [proxy]="proxyInput"
  (proxyChange)="proxy = $event; inputChanged()"
></ktb-proxy-input>
