<dt-alert
  [class.dt-alert-success]="notification.severity === NotificationType.SUCCESS"
  [severity]="notification.severity === NotificationType.SUCCESS ? NotificationType.INFO : notification.severity"
  [@fade]="{ value: fadeStatus, params: { duration: fadeOutDuration } }"
  [attr.uitestid]="'ktb-notification-' + notification.severity"
>
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <dt-icon *ngIf="notification.isPinned" name="pin" class="pin-icon"></dt-icon>
    <span *ngIf="!notification.componentInfo" [innerHTML]="notification.message"></span>
    <ng-template #showComponent></ng-template>
    <div>
      <button
        dt-icon-button
        variant="nested"
        aria-label="Hide Notification"
        (click)="closeComponent()"
        title="close"
        class="close-button"
      >
        <dt-icon name="abort"></dt-icon>
      </button>
    </div>
  </div>
</dt-alert>
