apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "jmeter-service.serviceAccountName" . }}
  labels: {{- include "keptn.common.labels.standard" . | nindent 4 }}
    app.kubernetes.io/name: jmeter-service
  {{- with .Values.serviceAccount.annotations }}
  annotations:
  {{- toYaml . | nindent 4 }}
  {{- end }}


