.tooltip-container {
  font-family: BerninaSansWeb,OpenSans,sans-serif;
  font-weight: 400;
  line-height: 1.6;
  background-color: #fff;
  border: 1px solid var(--dt-theme-main-default-color);
  border-radius: 4px;
  font-size: 14px;
  color: #454646;
  padding: 12px;
  max-width: 620px;
  min-width: 150px;
}
