<div class="mb-2" fxLayout="row" fxLayoutAlign="space-between center">
  <div class="bold">Abort sequence</div>
  <button dt-icon-button variant="nested" (click)="dialogRef.close()">
    <dt-icon name="abort"></dt-icon>
  </button>
</div>
<div fxLayout="column" fxLayoutAlign="stretch">
  <div class="mb-1">
    <p>
      This action will abort the <span class="bold">{{ data.sequence.name }}</span> sequence for the service
      <span class="bold">{{ data.sequence.service }}</span
      >.
    </p>
    <p>
      All <span class="bold">currently running task</span> will be completed before the sequence is aborted.<br />The
      sequence cannot be restarted, so please be certain.
    </p>
  </div>
  <button dt-button class="danger-button" (click)="confirm()">
    I understand the consequences, abort this sequence
  </button>
</div>
