<div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px" *ngIf="_event && _event.isApproval()">
  <h4 class="m-0" [textContent]="_event.getShortImageName()"></h4>
  <ng-container *ngIf="evaluationExists">
    <ng-container *ngIf="evaluation; else loading">
      <ktb-evaluation-badge
        uitestid="ktb-approval-evaluation-bubble"
        [evaluationState]="getEvaluationBadgeState(evaluation, EvaluationBadgeVariant.FILL)"
        [evaluation]="evaluation"
        [overlayDisabled]="false"
      ></ktb-evaluation-badge>
    </ng-container>
  </ng-container>
  <ng-template #loading>
    <ktb-loading-spinner class="smaller" uitestid="ktb-approval-evaluation-loading"></ktb-loading-spinner>
  </ng-template>
  <div class="ml-2">
    <ng-container *ngIf="approvalResult === undefined">
      <button dt-icon-button (click)="handleApproval(_event, true)" variant="nested" aria-label="Approve">
        <dt-icon class="success" name="checkmark"></dt-icon>
      </button>
      <button dt-icon-button (click)="handleApproval(_event, false)" variant="nested" aria-label="Decline">
        <dt-icon class="error" name="abort"></dt-icon>
      </button>
    </ng-container>
    <ng-container *ngIf="approvalResult !== undefined">
      <span class="approval-result">
        <dt-icon *ngIf="approvalResult" class="success" name="checkmark"></dt-icon>
        <dt-icon *ngIf="!approvalResult" class="error" name="abort"></dt-icon>
      </span>
    </ng-container>
  </div>
</div>
