@import '../../../variables';
@import '~@dynatrace/barista-components/core/src/style/variables';


.dt-tag {
  &.justify-content-center {
    justify-content: center;
  }
  &.error {
    background-color: $error-color;
    color: $white;
  }
  &.warning {
    background-color: $orange-400;
    color: $white;
  }
  &.success {
    background-color: $cta-color-active;
    color: $white;
  }
}
