@import '~@dynatrace/barista-components/core/src/style/variables';

::ng-deep .subscription-list {
  display: table;

  > ktb-subscription-item {
    display: table-row;

    > * {
      display: table-cell;
    }
  }
}

button[dt-button].disabled {
  background: $gray-600;
  border-color: $gray-600;

  &:hover {
    background: $gray-500;
    border-color: $gray-500;
  }
}
