@import '~@dynatrace/barista-components/core/src/style/variables';

::ng-deep .subscription-list {
  display: table;

  > ktb-subscription-item {
    display: table-row;

    > * {
      display: table-cell;
    }
  }
}
