<ng-container *ngIf="currentSequence">
  <div class="ktb-sequence-timeline-container" uitestid="keptn-sequence-timeline-container">
    <div class="timeline"></div>
    <div fxLayout="row" fxLayoutAlign="space-between">
      <div class="text-center pointer stage-item" *ngFor="let stage of currentSequence.getStages(); last as isLast" (click)="selectStage(stage)">
        <div class="stage-info">
          <dt-icon *ngIf="!currentSequence.getLastSequenceOfStage(stage).isLoading(); else showLoading" class="event-icon"
                   [name]="currentSequence.getFirstTraceOfStage(stage).isFinished() ? currentSequence.getIcon() : currentSequence.getLastTrace().getIcon()"
                   [class.error]="currentSequence.isFaulty(stage)"
                   [class.success]="currentSequence.getFirstTraceOfStage(stage).isFinished() && !currentSequence.isFaulty(stage)"
                   [class.highlight]="currentSequence.hasPendingApproval(stage)"></dt-icon>
          <ng-template #showLoading>
            <button class="m-0 p-0" dt-button disabled variant="nested">
              <dt-loading-spinner aria-label="Task is running..."></dt-loading-spinner>
            </button>
          </ng-template>
          <span class="stage-text"
                [class.error]="currentSequence.isFaulty(stage)"
                [class.success]="!currentSequence.hasPendingApproval(stage) && !currentSequence.isFaulty(stage)"
                [class.highlight]="currentSequence.hasPendingApproval(stage)"
                [class.warning]="currentSequence.isWarning(stage)"
                [class.focused]="stage === selectedStage"
                [textContent]="stage"></span>
        </div>
        <p class="m-0">|</p>
        <p class="m-0" [textContent]="currentSequence.getFirstTraceOfStage(stage)?.time | date:'HH:mm'"></p>
      </div>
    </div>
  </div>
</ng-container>
