<ng-container *ngIf="currentRoot">
  <div class="ktb-sequence-timeline-container">
    <div class="timeline"></div>
    <div fxLayout="row" fxLayoutAlign="space-between">
      <div class="text-center pointer"  *ngFor="let stage of currentRoot.getStages(); last as isLast" (click)="selectStage(stage)">
        <div>
          <dt-icon class="stage-state-icon event-icon" [name]="isLast ?  currentRoot.getIcon() : currentRoot.getIconType()" [class.error]="stage === currentRoot.isFaulty()" [class.success]=" !isLast || stage !== currentRoot.isFaulty() && currentRoot.isFinished()" ></dt-icon>
          <span [textContent]="stage"></span>
        </div>
        <p class="m-0">|</p>
        <p class="m-0" [textContent]="currentRoot.getFirstTraceOfStage(stage)?.time | date:'HH:mm'"></p>
      </div>
    </div>
  </div>
</ng-container>
