<div fxLayout="column" fxLayoutGap="5px">
  <ng-container *ngIf="sequenceStates && sequenceStates.length > 0; else noSequence">
    <dt-table [dataSource]="dataSource">
      <ng-container dtColumnDef="recentSequence" [dtColumnProportion]="4">
        <dt-cell *dtCellDef="let row">
          <ng-container *ngIf="row | toType : SequenceClass as sequence">
            <ktb-sequence-state-info [sequence]="sequence" [showOnlyLastStage]="true"></ktb-sequence-state-info>
          </ng-container>
        </dt-cell>
      </ng-container>
      <ng-container dtColumnDef="recentEvaluation" dtColumnAlign="number" [dtColumnProportion]="2">
        <dt-cell *dtCellDef="let row">
          <ng-container *ngIf="row | toType : SequenceClass as sequence">
            <p class="m-0 small" [textContent]="sequence.time | toDate | amCalendar:dateUtil.getCalendarFormats()"></p>
          </ng-container>
        </dt-cell>
      </ng-container>
      <dt-row *dtRowDef="let row; columns: ['recentSequence', 'recentEvaluation']"></dt-row>
    </dt-table>
  </ng-container>
</div>
<ng-template #noSequence>
  <div fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="start center" uitestid="keptn-sequence-state-list-noSequences">
    <dt-icon class="icon" name="information"></dt-icon>
    <p class="m-0">No sequences have been executed yet.</p>
  </div>
</ng-template>
