<div fxLayout="column" fxLayoutGap="5px">
  <ng-container *ngIf="sequenceStates && sequenceStates.length > 0; else noSequence">
    <dt-table [dataSource]="dataSource">
      <ng-container dtColumnDef="serviceName" [dtColumnProportion]="3" uitestid="keptn-sequence-states-list-container">
        <dt-cell *dtCellDef="let row">
          <div class="mt-1 mb-1" fxLayout="row" fxLayoutAlign="start center">
            <p class="m-0 nobreak">
              <a [routerLink]="getServiceLink(row)" [textContent]="row.service"></a>
              in
              <span [textContent]="row.getLastStage()"></span>
            </p>
          </div>
        </dt-cell>
      </ng-container>
      <ng-container dtColumnDef="recentSequence" [dtColumnProportion]="5">
        <dt-cell *dtCellDef="let row">
          <div class="mt-1 mb-1" fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="start center">
            <dt-icon *ngIf="!row.isLoading() || row.hasPendingApproval(); else showLoading" class="event-icon"
                     [name]="row.getIcon()"
                     [class.success]="row.isSuccessful()"
                     [class.error]="row.isProblem() && row.isFaulty() && !row.isSuccessful()"
                     [class.highlight]="row.hasPendingApproval()"></dt-icon>
            <ng-template #showLoading>
              <button class="m-0 p-0" dt-button disabled variant="nested">
                <dt-loading-spinner aria-label="Task is running..."></dt-loading-spinner>
              </button>
            </ng-template>
            <a [routerLink]="getSequenceLink(row)" class="m-0" [class.error]="row.isProblem() && row.isFaulty() && !row.isSuccessful()">
              <span class="bold" [textContent]="row.getLabel()"></span>&nbsp;
              <span [textContent]="row.getStatusLabel()"></span>
            </a>
          </div>
        </dt-cell>
      </ng-container>
      <ng-container dtColumnDef="recentEvaluation" dtColumnAlign="number" [dtColumnProportion]="3">
        <dt-cell *dtCellDef="let row">
          <p class="m-0 small nobreak" [textContent]="row.time | amCalendar:dateUtil.getCalendarFormats()"></p>
          <!--div *ngIf="row.roots">
            <ktb-evaluation-info [evaluation]="row.getRecentEvaluation()"></ktb-evaluation-info>
          </div>
          <p class="m-0" *ngIf="!row.roots">-</p-->
        </dt-cell>
      </ng-container>
      <dt-row *dtRowDef="let row; columns: ['serviceName', 'recentSequence', 'recentEvaluation']"></dt-row>
    </dt-table>
  </ng-container>
</div>
<ng-template #noSequence>
  <div fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="start center" uitestid="keptn-sequence-state-list-noSequences">
    <dt-icon class="icon" name="information"></dt-icon>
    <p class="m-0">No sequences have been executed yet.</p>
  </div>
</ng-template>
