html
  include common.pug

  head
    link(rel="stylesheet", href="static/error.v1.css")
    title="Logout"
  body
    div.container

      div.image
        img(src="branding/logo_inverted.png", alt="Logo")

      div.text
        h2="You haven been logged out"

        if location
          div.location
            a(href= location ) Go to dashboard
