.show-more-button {
  position: absolute;
}

::ng-deep {
  $axis-identifier-size: 12px;

  .x-axis-container, .y-axis-container, .legend-text {
    font-size: $axis-identifier-size;
  }

  .legend-text {
    alignment-baseline: middle;
  }

  .x-axis-identifier {
    text-anchor: end;
    transform: rotate(-45deg);
  }

  .tooltip {
    position: fixed;
    z-index: 1070;
    background-color: white;
    border: 2px solid;
    border-radius: 5px;
    padding: 5px;
    pointer-events: none;
    display: inline-block;
  }

  .hidden {
    opacity: 0;
  }

  .legend-item {
    cursor: pointer;
  }

  .data-point, .legend-circle {
    cursor: pointer;

    &:hover {
      opacity: 0.5;
    }

    &.pass {
      fill: #7dc540
    }

    &.warning {
      fill: #e6be00;
    }

    &.fail {
      fill: #dc172a;
    }

    &.info {
      fill: #ddf4ff;
    }

    &.disabled {
      fill: #cccccc;
    }
  }

  .highlight-primary {
    stroke-width: 2;
    stroke: #6d6d6d;
    fill: hsla(0,0%,43%,.4);
    pointer-events: none;
  }

  .highlight-secondary {
    stroke-width: 1;
    stroke-dasharray: 5,5;
    stroke: #898989;
    fill: hsla(0,0%,54%,.3);
    pointer-events: none;
  }
}
