@import '../../../variables';
@import '~@dynatrace/barista-components/core/src/style/variables';

.active {
  background-color: $yellow-100 !important;
}

.tag-icon {
  height: 17px;
  width: 17px;
  vertical-align: middle;
}
