---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: bridge
  namespace: keptn
spec:
  selector:
    matchLabels:
      run: bridge
  replicas: 1
  template:
    metadata:
      labels:
        run: bridge
    spec:
      serviceAccountName: keptn-default
      containers:
      - name: bridge
        image: keptn/bridge2:latest
        imagePullPolicy: Always
        env:
         - name: API_URL
           value: "http://api-gateway-nginx.keptn.svc.cluster.local/keptn/api"
         - name: API_TOKEN
           valueFrom:
             secretKeyRef:
               name: keptn-api-token
               key: keptn-api-token
        envFrom:
          - secretRef:
              name: bridge-credentials
              optional: true
        ports:
        - containerPort: 3000
        resources:
          requests:
            memory: "64Mi"
            cpu: "100m"
          limits:
            memory: "256Mi"
            cpu: "500m"
---
apiVersion: v1
kind: Service
metadata:
  name: bridge
  namespace: keptn
  labels:
    run: bridge
spec:
  ports:
  - port: 8080
    targetPort: 3000
    protocol: TCP
  selector:
    run: bridge
