---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: bridge
  namespace: keptn
  labels:
    app.kubernetes.io/name: bridge
    app.kubernetes.io/instance: keptn
    app.kubernetes.io/part-of: keptn-keptn
    app.kubernetes.io/component: control-plane
    app.kubernetes.io/version: develop
spec:
  selector:
    matchLabels:
      app.kubernetes.io/name: bridge
      app.kubernetes.io/instance: keptn
  replicas: 1
  template:
    metadata:
      labels:
        app.kubernetes.io/name: bridge
        app.kubernetes.io/instance: keptn
        app.kubernetes.io/part-of: keptn-keptn
        app.kubernetes.io/component: control-plane
        app.kubernetes.io/version: develop
    spec:
      serviceAccountName: keptn-default
      containers:
      - name: bridge
        image: keptn/bridge2:latest
        imagePullPolicy: Always
        env:
         - name: API_URL
           value: "http://api-gateway-nginx.keptn.svc.cluster.local/api"
         - name: API_TOKEN
           valueFrom:
             secretKeyRef:
               name: keptn-api-token
               key: keptn-api-token
         - name: CLI_DOWNLOAD_LINK
           value: "https://github.com/keptn/keptn/releases/tag/0.7.1"
        envFrom:
          - secretRef:
              name: bridge-credentials
              optional: true
        ports:
        - containerPort: 3000
        resources:
          requests:
            memory: "64Mi"
            cpu: "100m"
          limits:
            memory: "256Mi"
            cpu: "500m"
---
apiVersion: v1
kind: Service
metadata:
  name: bridge
  namespace: keptn
  labels:
    app.kubernetes.io/name: bridge
    app.kubernetes.io/instance: keptn
    app.kubernetes.io/part-of: keptn-keptn
    app.kubernetes.io/component: control-plane
spec:
  ports:
  - port: 8080
    targetPort: 3000
    protocol: TCP
  selector:
    app.kubernetes.io/name: bridge
    app.kubernetes.io/instance: keptn
