<ng-container *ngIf="project && subscription as subscription">
  <input class="item" placeholder="Subscription name" dtInput [(ngModel)]="name" required [readonly]="true">
  <span class="bold pl-3 mt-1 pr-2">subscribes to:</span>
  <span class="mr-1 mt-1 pr-3" [textContent]="subscription.topics[0]"></span>
  <span class="bold mt-1 pr-2">in stage:</span>
  <div class="pr-3">
    <dt-select [disabled]="true" [(ngModel)]="subscription.filter.stage[0]" class="item pr-3" placeholder="Choose your task" aria-label="Choose your task" required>
      <dt-option *ngFor="let stage of project.stages" [value]="stage.stageName" [textContent]="stage.stageName"></dt-option>
    </dt-select>
  </div>
  <dt-filter-field
    [disabled]="true"
    [dataSource]="_dataSource"
    [filters]="subscription.getFilter(_dataSource.data)"
    (filterChanges)="subscription.filterChanged($event)"
    label="Filter by service"
    aria-label="Filter service"
    clearAllLabel="Clear all"
  ></dt-filter-field>
</ng-container>
