<div fxFlexFill>
  <div class="container" fxFlex fxLayout="column">
    <div class="mb-3" fxFlex fxLayout="column">
      <h2>Secrets</h2>
      <p class="mt-0 mb-1">
        Secrets are used to store sensitive data like credentials or URIs for integrations.
      </p>

      <div fxLayout="row" fxLayoutAlign="none end" fxLayoutGap="15px" class="mb-1">
        <button dt-button routerLink="add">
          <dt-icon name="plus-add"></dt-icon>
          Add secret
        </button>
      </div>

      <dt-table [dataSource]="tableEntries">
        <ng-container dtColumnDef="secretname" dtColumnAlign="text" dtColumnProportion="8">
          <dt-header-cell *dtHeaderCellDef>Name</dt-header-cell>
          <dt-cell *dtCellDef="let row" [textContent]="(row | toType : SecretClass).name || 'n/a'"></dt-cell>
        </ng-container>

        <ng-container dtColumnDef="action" dtColumnAlign="right" dtColumnProportion="1">
          <dt-header-cell *dtHeaderCellDef></dt-header-cell>
          <dt-cell *dtCellDef="let row">
            <button dt-icon-button variant="nested" aria-label="An example nested button containing an icon" (click)="triggerDeleteSecret(row)">
              <dt-icon name="delete"></dt-icon>
            </button>
          </dt-cell>
        </ng-container>

        <dt-header-row
          *dtHeaderRowDef="['secretname', 'action']"
        ></dt-header-row>
        <dt-row
          *dtRowDef="
            let row;
            columns: ['secretname', 'action']
          "
          class="pointer"
        ></dt-row>
      </dt-table>
    </div>
  </div>
</div>
<ktb-delete-confirmation
                         type="secret"
                         [dialogState]="deleteState"
                         [name]="currentSecret?.name"
                         (confirmClicked)="deleteSecret(currentSecret)"
></ktb-delete-confirmation>
