@import '../../../variables';
@import '~@dynatrace/barista-components/core/src/style/variables';

.dt-menu.uniform-submenu,
::ng-deep .dt-menu.uniform-submenu .dt-menu-group-header,
.dt-menu.uniform-submenu .dt-menu-item {
  color: $default-font-color !important;
  background-color: $gray-100 !important;
}

.dt-menu.uniform-submenu .dt-menu-item.active,
.dt-menu.uniform-submenu .dt-menu-item:hover,
.dt-menu.uniform-submenu .dt-menu-item:active {
  background-color: $gray-200 !important;
}
