<div fxFlexFill>
  <div fxFlex fxLayout="row">
    <dt-menu class="submenu" aria-label="Keptn Uniform Submenu" fxFlex="0 0 200px">
      <dt-menu-group>
        <button dtMenuItem variant="nested" aria-label="Open uniform services" routerLinkActive="active" routerLink="services">
          Uniform
        </button>
        <button dtMenuItem variant="nested" aria-label="Open uniform secrets" routerLinkActive="active" routerLink="secrets">
          Secrets
        </button>
      </dt-menu-group>
    </dt-menu>
    <div class="uniform-container" fxFlex>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
