@import '../variables';
@import '~@dynatrace/barista-components/core/src/style/variables';

#page-content {
  position: relative;
}

#page-loading-bar {
  position: absolute;
  z-index: 1001;
  width: 100%;
  top: 0;
}

#version-info {
  position: absolute;
  right: 5px;
  bottom: 0px;

  p {
    cursor: default;
    color: $gray-500;
  }
}
