@import '../variables';
@import '~@dynatrace/barista-components/core/src/style/variables';
@import '~@dynatrace/barista-components/style/main';
@import '~@dynatrace/barista-components/style/index';

#page-content {
  position: relative;
}

#page-loading-bar {
  position: absolute;
  z-index: 1001;
  width: 100%;
  top: 0;
}

#version-info {
  position: absolute;
  right: 5px;
  bottom: 0px;

  p {
    cursor: default;
    color: $gray-500;
  }
}

.page-note {
  z-index: 101;
  width: 100%;
  text-align: center;
  line-height: 2.5;
  overflow: hidden;

  animation: slideDown 4s ease 0s 1 forwards;
}

.info-note {
  background-color: $linkcolor;
}
.error-note {
  background-color: $error-color;
}
.success-note {
  background-color: $cta-color-active;
}
.warning-note {
  background-color: $warning-color;
}
