---
# remediation-service
apiVersion: apps/v1
kind: Deployment
metadata:
  name: remediation-service
  labels: {{- include "common.labels.standard" . | nindent 4 }}
    app.kubernetes.io/part-of: keptn-{{ .Release.Namespace }}
    app.kubernetes.io/component: {{ include "keptn.name" . }}
spec:
  selector:
    matchLabels: {{- include "common.labels.selectorLabels" . | nindent 6 }}
  replicas: 1
  {{- include "keptn.common.update-strategy" . | nindent 2 }}
  template:
    metadata:
      labels: {{- include "common.labels.standard" . | nindent 8 }}
        app.kubernetes.io/part-of: keptn-{{ .Release.Namespace }}
        app.kubernetes.io/component: {{ include "keptn.name" . }}
    spec:
      {{- include "keptn.common.pod-security-context" . | nindent 6 }}
      containers:
        - name: remediation-service
          image: {{ .Values.remediationService.image.repository }}:{{ .Values.remediationService.image.tag | default .Chart.AppVersion }}
          {{- $prestop := .Values.remediationService.preStopHookTime | default 90 | quote -}}
          {{- include "keptn.prestop" $prestop | nindent 10 }}
          imagePullPolicy: IfNotPresent
          livenessProbe:
            httpGet:
              path: /health
              port: 8080
            initialDelaySeconds: 10
            periodSeconds: 5
          readinessProbe:
            httpGet:
              path: /health
              port: 8080
            initialDelaySeconds: 10
            periodSeconds: 5
          ports:
            - containerPort: 8080
          resources:
            {{- toYaml .Values.remediationService.resources | nindent 12 }}
          env:
            - name: EVENTBROKER
              value: 'http://localhost:8081/event'
            - name: CONFIGURATION_SERVICE
              value: 'http://configuration-service:8080'
            - name: ENVIRONMENT
              value: 'production'
          {{- include "keptn.common.container-security-context" . | nindent 10 }}
          {{- if .Values.remediationService.extraVolumeMounts }}
          volumeMounts:
          {{- include "keptn.tpl-value" ( dict "value" .Values.remediationService.extraVolumeMounts "context" $) | nindent 12 }}
          {{- end }}
        - name: distributor
          image: {{ .Values.distributor.image.repository }}:{{ .Values.distributor.image.tag | default .Chart.AppVersion }}
          imagePullPolicy: IfNotPresent
          {{- include "keptn.dist.livenessProbe" . | nindent 10 }}
          {{- include "keptn.dist.readinessProbe" . | nindent 10 }}
          ports:
            - containerPort: 8080
          resources:
            {{- toYaml .Values.distributor.resources | nindent 12 }}
          env:
            - name: PUBSUB_TOPIC
              value: 'sh.keptn.event.get-action.triggered'
            - name: PUBSUB_RECIPIENT
              value: '127.0.0.1'
          {{- include "keptn.dist.common.env.vars" . | nindent 12 }}
          {{- include "keptn.common.container-security-context" . | nindent 10 }}
        {{- with .Values.remediationService.sidecars }}
        {{- include "keptn.tpl-value" ( dict "value" . "context" $ ) | nindent 8 }}
        {{- end }}
      {{- if .Values.remediationService.extraVolumes }}
      volumes:
      {{- include "keptn.tpl-value" ( dict "value" .Values.remediationService.extraVolumes "context" $) | nindent 8 }}
      {{- end }}
      serviceAccountName: keptn-default
      terminationGracePeriodSeconds: {{ .Values.remediationService.gracePeriod | default 120 }}
      {{- include "keptn.nodeSelector" (dict "value" .Values.remediationService.nodeSelector "default" .Values.nodeSelector "indent" 6 "context" . )}}
---
apiVersion: v1
kind: Service
metadata:
  name: remediation-service
  labels: {{- include "common.labels.standard" . | nindent 4 }}
    app.kubernetes.io/part-of: keptn-{{ .Release.Namespace }}
    app.kubernetes.io/component: {{ include "keptn.name" . }}
spec:
  ports:
  - port: 8080
    targetPort: 8080
    protocol: TCP
  selector: {{- include "common.labels.selectorLabels" . | nindent 4 }}

