---
# remediation-service
apiVersion: apps/v1
kind: Deployment
metadata:
  name: remediation-service
  labels: {{- include "common.labels.standard" . | nindent 4 }}
    app.kubernetes.io/part-of: keptn-{{ .Release.Namespace }}
    app.kubernetes.io/component: remediation-service
spec:
  selector:
    matchLabels: {{- include "common.labels.selectorLabels" . | nindent 6 }}
      app.kubernetes.io/component: remediation-service
  replicas: 1
  {{- include "keptn.common.update-strategy" . | nindent 2 }}
  template:
    metadata:
      labels: {{- include "common.labels.standard" . | nindent 8 }}
        app.kubernetes.io/part-of: keptn-{{ .Release.Namespace }}
        app.kubernetes.io/component: remediation-service
    spec:
      {{- include "keptn.common.pod-security-context" . | nindent 6 }}
      containers:
        - name: remediation-service
          image: {{ .Values.remediationService.image.repository }}:{{ .Values.remediationService.image.tag | default .Chart.AppVersion }}
          {{- $prestop := .Values.remediationService.preStopHookTime | default 5 | quote -}}
          {{- include "keptn.prestop" $prestop | nindent 10 }}
          imagePullPolicy: IfNotPresent
          livenessProbe:
            httpGet:
              path: /health
              port: 8080
            initialDelaySeconds: 10
            periodSeconds: 5
          readinessProbe:
            httpGet:
              path: /health
              port: 8080
            initialDelaySeconds: 10
            periodSeconds: 5
          ports:
            - containerPort: 8080
          resources:
            {{- toYaml .Values.remediationService.resources | nindent 12 }}
          env:
            - name: ENVIRONMENT
              value: 'production'
            - name: LOG_LEVEL
              value: {{ .Values.logLevel | default "info" }}
            - name: PUBSUB_TOPIC
              value: 'sh.keptn.event.get-action.triggered'
            {{- include "keptn.common.env.vars" . | nindent 12 }}
          {{- include "keptn.common.container-security-context" . | nindent 10 }}
          {{- if .Values.remediationService.extraVolumeMounts }}
          volumeMounts:
          {{- include "common.tplvalues.render" ( dict "value" .Values.remediationService.extraVolumeMounts "context" $) | nindent 12 }}
          {{- end }}
          {{- include "keptn.common.container-security-context" . | nindent 10 }}
        {{- with .Values.remediationService.sidecars }}
        {{- include "common.tplvalues.render" ( dict "value" . "context" $ ) | nindent 8 }}
        {{- end }}
      {{- if .Values.remediationService.extraVolumes }}
      volumes:
      {{- include "common.tplvalues.render" ( dict "value" .Values.remediationService.extraVolumes "context" $) | nindent 8 }}
      {{- end }}
      serviceAccountName: keptn-default
      terminationGracePeriodSeconds: {{ .Values.remediationService.gracePeriod | default 60 }}
      {{- include "keptn.nodeSelector" (dict "value" .Values.remediationService.nodeSelector "default" .Values.nodeSelector "indent" 6 "context" . )}}
---
apiVersion: v1
kind: Service
metadata:
  name: remediation-service
  labels: {{- include "common.labels.standard" . | nindent 4 }}
    app.kubernetes.io/part-of: keptn-{{ .Release.Namespace }}
    app.kubernetes.io/component: remediation-service
spec:
  ports:
    - port: 8080
      targetPort: 8080
      protocol: TCP
  selector: {{- include "common.labels.selectorLabels" . | nindent 4 }}
    app.kubernetes.io/component: remediation-service

