@import '../../../variables';
@import '~@dynatrace/barista-components/core/src/style/variables';

.dt-tag.error {
  background-color: $error-color;
  color: $white;
}

ktb-task-item.focused {
  box-shadow: 0 0 0 0 rgba(180, 180, 180, 1);
  transform: scale(1);
  animation: pulse 2s;
  animation-delay: .5s;
}
