<div fxLayout="column" fxLayoutGap="15px" uitestid="keptn-sequence-tasks-list-tasks" *ngIf="stage; else noStage">
  <div
    #taskRef
    fxLayout="column"
    fxLayoutGap="15px"
    *ngFor="let task of getTasksByStage(tasks, stage); let i = index; trackBy: identifyEvent"
  >
    <ktb-task-item
      [task]="task"
      [isExpanded]="isFocusedTask(task)"
      [class.focused]="task.id === focusedEventId && scrollIntoView(taskRef)"
      (itemClicked)="focusEvent($event)"
      (click)="focusEvent(task)"
      [attr.uitestid]="'keptn-task-item-' + task.getShortType()"
    ></ktb-task-item>
  </div>
</div>
<ng-template #noStage>
  <ktb-task-item *ngIf="tasks[0]" [task]="tasks[0]" [isExpanded]="isFocusedTask(tasks[0])"></ktb-task-item>
</ng-template>
