<ng-container *ngFor="let notification of notifications$ | async">
  <div uitestid="keptn-notification-bar-message" [className]="'page-note '+notification.type+'-note'" fxLayout="row">
    <p *ngIf="!notification.isTemplateRendered" class="m-0" [innerHtml]="notification.message" fxFlex></p>

    <ng-container *ngIf="notification.isTemplateRendered">
      <p *ngIf="notification.message === notificationTypes.CREATE_PROJECT" class="m-0" fxFlex>
        Your project {{ notification.data?.projectName }} was created successfully. Consult the <a [href]="'/manage/service' | keptnUrl" target="_blank">docs</a> on how to create and onboard a service.
      </p>
    </ng-container>


    <button dt-icon-button variant="nested" aria-label="Hide Notification" (click)="hideNotification(notification)">
      <dt-icon name="abort"></dt-icon>
    </button>
  </div>
</ng-container>
