.notification-container {
  pointer-events: none;
  position: absolute;
  width: 100%;

  ktb-notification {
    pointer-events: auto;
    z-index: 1001; // has to be higher than the user panel
  }
}
