@import '../../../variables';
@import '~@dynatrace/barista-components/core/src/style/variables';

.page-note {
  z-index: 101;
  width: 100%;
  text-align: center;
  line-height: 2.5;
  overflow: hidden;

  animation: slideDown 4s ease 0s 1 forwards;
}

:host ::ng-deep {
  .info-note,
  .error-note,
  .success-note {
    a {
      color: #ffffff;
    }

    .dt-button-nested .dt-button-icon .dt-icon svg {
      fill: #ffffff;
    }

    .long-note {
      line-height: 1.4;
    }

    span.small {
      color: #ffffff;
    }
  }
}

.info-note, .error-note, .success-note {
  color: #ffffff;
}

.info-note {
  background-color: $secondary-color;
}
.error-note {
  background-color: $error-color;
}
.success-note {
  background-color: $cta-color-active;
}
.warning-note {
  background-color: $warning-color;
}
