@import '../../../variables';
@import '~@dynatrace/barista-components/core/src/style/variables';

::ng-deep ktb-project-tile .dt-tile-header {
  height: auto;
}

.error {
  color: $error-color;
}

.dt-icon {
  width: 16px;
  height: 16px;

  &.info {
    fill: $primary-color;
  }
  &.error{
    fill: $error-color;
  }
}

.bottom {
  vertical-align: bottom;
}
