@import '../../../variables';
@import '~@dynatrace/barista-components/core/src/style/variables';

::ng-deep ktb-project-tile .dt-tile-header {
  height: auto;
}

p {
  word-break: break-word;
  white-space: normal;
}

.error {
  color: $error-color;
}

.dt-icon {
  width: 16px;
  height: 16px;

  &.info {
    fill: var(--dt-theme-main-default-color);
  }
  &.error {
    fill: $error-color;
  }
}

.bottom {
  vertical-align: bottom;
}

dt-tile-title a {
  text-decoration: none;
}
