---
apiVersion: rbac.authorization.k8s.io/v1beta1
kind: ClusterRoleBinding
metadata:
  name: keptn-{{ .Release.Namespace }}-helm-service-cluster-admin
  labels:
    "app": "keptn"
subjects:
  - kind: ServiceAccount
    name: keptn-helm-service
    namespace: {{ .Release.Namespace }}
roleRef:
  kind: ClusterRole
  name: cluster-admin
  apiGroup: rbac.authorization.k8s.io

---
# gatekeeper-service
apiVersion: apps/v1
kind: Deployment
metadata:
  name: gatekeeper-service
spec:
  selector:
    matchLabels:
      run: gatekeeper-service
  replicas: 1
  template:
    metadata:
      labels:
        run: gatekeeper-service
    spec:
      serviceAccountName: keptn-default
      containers:
        - name: gatekeeper-service
          image: {{ .Values.gatekeeperService.image.repository }}:{{ .Values.gatekeeperService.image.tag | default .Chart.AppVersion }}
          {{- include "continuous-delivery.livenessProbe" . | nindent 10 }}
          imagePullPolicy: Always
          ports:
          - containerPort: 8080
          resources:
            requests:
              memory: "32Mi"
              cpu: "50m"
            limits:
              memory: "128Mi"
              cpu: "500m"
          env:
          - name: CONFIGURATION_SERVICE
            value: 'http://configuration-service:8080'
          - name: EVENTBROKER
            value: 'http://event-broker/keptn'
        - name: distributor
          image: {{ .Values.distributor.image.repository }}:{{ .Values.distributor.image.tag | default .Chart.AppVersion }}
          {{- include "continuous-delivery.livenessProbe" . | nindent 10 }}
          imagePullPolicy: Always
          ports:
            - containerPort: 8080
          resources:
            requests:
              memory: "32Mi"
              cpu: "50m"
            limits:
              memory: "128Mi"
              cpu: "500m"
          env:
            - name: PUBSUB_URL
              value: 'nats://keptn-nats-cluster'
            - name: PUBSUB_TOPIC
              value: 'sh.keptn.events.evaluation-done,sh.keptn.event.approval.>'
            - name: PUBSUB_RECIPIENT
              value: '127.0.0.1'
---
apiVersion: v1
kind: Service
metadata:
  name: gatekeeper-service
  labels:
    run: gatekeeper-service
spec:
  ports:
  - port: 8080
    protocol: TCP
  selector:
    run: gatekeeper-service
---
## helm-service: sh.keptn.event.configuration.change
apiVersion: apps/v1
kind: Deployment
metadata:
  name: helm-service-continuous-deployment-distributor
spec:
  selector:
    matchLabels:
      run: distributor
  replicas: 1
  template:
    metadata:
      labels:
        run: distributor
    spec:
      serviceAccountName: keptn-default
      containers:
        - name: distributor
          image: {{ .Values.distributor.image.repository }}:{{ .Values.distributor.image.tag | default .Chart.AppVersion }}
          {{- include "continuous-delivery.livenessProbe" . | nindent 10 }}
          imagePullPolicy: Always
          ports:
          - containerPort: 8080
          resources:
            requests:
              memory: "32Mi"
              cpu: "50m"
            limits:
              memory: "128Mi"
              cpu: "500m"
          env:
          - name: PUBSUB_URL
            value: 'nats://keptn-nats-cluster'
          - name: PUBSUB_TOPIC
            value: 'sh.keptn.event.configuration.change,sh.keptn.event.action.triggered'
          - name: PUBSUB_RECIPIENT
            value: 'helm-service'
---
# jmeter-service
apiVersion: apps/v1
kind: Deployment
metadata:
  name: jmeter-service
spec:
  selector:
    matchLabels:
      run: jmeter-service
  replicas: 1
  template:
    metadata:
      labels:
        run: jmeter-service
    spec:
      serviceAccountName: keptn-default
      containers:
        - name: jmeter-service
          image: {{ .Values.jmeterService.image.repository }}:{{ .Values.jmeterService.image.tag | default .Chart.AppVersion }}
          {{- include "continuous-delivery.livenessProbe" . | nindent 10 }}
          imagePullPolicy: Always
          ports:
          - containerPort: 8080
          env:
          - name: CONFIGURATION_SERVICE
            value: 'http://configuration-service:8080'
          - name: EVENTBROKER
            value: 'http://event-broker/keptn'
        - name: distributor
          image: {{ .Values.distributor.image.repository }}:{{ .Values.distributor.image.tag | default .Chart.AppVersion }}
          {{- include "continuous-delivery.livenessProbe" . | nindent 10 }}
          imagePullPolicy: Always
          ports:
            - containerPort: 8080
          resources:
            requests:
              memory: "32Mi"
              cpu: "50m"
            limits:
              memory: "128Mi"
              cpu: "500m"
          env:
            - name: PUBSUB_URL
              value: 'nats://keptn-nats-cluster'
            - name: PUBSUB_TOPIC
              value: 'sh.keptn.events.deployment-finished'
            - name: PUBSUB_RECIPIENT
              value: '127.0.0.1'
---
apiVersion: v1
kind: Service
metadata:
  name: jmeter-service
  labels:
    run: jmeter-service
spec:
  ports:
  - port: 8080
    protocol: TCP
  selector:
    run: jmeter-service