---
apiVersion: v1
kind: ConfigMap
metadata:
  name: ingress-config
  labels:
    app.kubernetes.io/name: {{ include "continuous-delivery.name" . }}-cm 
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/managed-by: {{ .Release.Service }}
    app.kubernetes.io/part-of: keptn
    app.kubernetes.io/component: {{ include "continuous-delivery.name" . }}
    helm.sh/chart: {{ include "continuous-delivery.chart" . }}
data:
  ingress_hostname_suffix: "{{ .Values.ingressConfig.ingress_hostname_suffix }}"
  ingress_protocol: "{{ .Values.ingressConfig.ingress_protocol }}"
  ingress_port: "{{ .Values.ingressConfig.ingress_port }}"
  istio_gateway: "{{ .Values.ingressConfig.istio_gateway }}"
