@import '../../../variables';
@import '~@dynatrace/barista-components/core/src/style/variables';

.ktb-copy-to-clipboard {
  .copy-to-clipboard-input {
    display: none;
  }

  &.ktb-copy-input-visible {
    .copy-to-clipboard-label {
      display: none;
    }
    .copy-to-clipboard-input {
      display: block;
    }
  }
}

.dt-copy-to-clipboard-btn-button, .dt-copy-to-clipboard-successful {
  min-width: 10px !important;
  padding: 0 6px;

  .dt-icon {
    position: relative;
    top: 5px;
    fill: $white;
  }

  .dt-button-icon {
    margin: 0;
  }
}

.safari-input {
  color: $gray-300 !important;
  -webkit-text-fill-color: $gray-300 !important;
}
