:host {
  background-color: var(--ktb-loading-distractor-background-color);
  display: inline-flex;
  align-items: center;
  height: 50px;
  padding: 0 28px;
  border-radius: 3px;
}

.ktb-loading-distractor-label {
  font-size: 20px;
  line-height: 1.6;
  font-weight: 400;
  display: block;
  box-sizing: border-box;
  text-decoration: none;
  color: var(--ktb-loading-distractor-color);
  padding-left: 8px;
}
