<div fxLayout="row" fxLayoutAlign="start center" *ngIf="sequence">
  <ng-container *ngIf="smallButtons; else largeButtons">
    <button *ngIf="!sequence.isPaused()" class="action-btn small-btn" dt-icon-button variant="nested" title="Pause sequence" (click)="$event.stopPropagation(); triggerPauseSequence(sequence)" [disabled]="sequence.isFinished() || sequence?.isUnkownState()"><dt-icon name="pause"></dt-icon></button>
    <button *ngIf="sequence.isPaused()" class="action-btn small-btn" dt-icon-button variant="nested" title="Resume sequence" (click)="$event.stopPropagation(); triggerResumeSequence(sequence)" [disabled]="sequence.isFinished() || sequence?.isUnkownState()"><dt-icon name="resume"></dt-icon></button>
    <button class="action-btn small-btn" dt-icon-button variant="nested" title="Abort sequence" (click)="$event.stopPropagation(); triggerAbortSequence(sequence)" [disabled]="sequence?.isFinished() || sequence?.isUnkownState()"><dt-icon name="abort"></dt-icon></button>
  </ng-container>
  <ng-template #largeButtons>
    <button *ngIf="!sequence.isPaused()" class="action-btn" dt-button variant="nested" title="Pause sequence" (click)="$event.stopPropagation(); triggerPauseSequence(sequence)" [disabled]="sequence.isFinished() || sequence?.isUnkownState()"><dt-icon name="pause"></dt-icon> Pause</button>
    <button *ngIf="sequence.isPaused()" class="action-btn" dt-button variant="nested" title="Resume sequence" (click)="$event.stopPropagation(); triggerResumeSequence(sequence)" [disabled]="sequence.isFinished() || sequence?.isUnkownState()"><dt-icon name="resume"></dt-icon> Resume</button>
    <button class="action-btn" dt-button variant="nested" title="Abort sequence" (click)="$event.stopPropagation(); triggerAbortSequence(sequence)" [disabled]="sequence?.isFinished() || sequence?.isUnkownState()"><dt-icon name="abort"></dt-icon> Abort</button>
  </ng-template>
</div>
