@import '../../../variables';
@import '~@dynatrace/barista-components/core/src/style/variables';

.uniform-registration-error-log > div:nth-of-type(even) {
  background-color: $gray-100;
}

.uniform-registration-error-log {
  display: table;

  > div {
    display: table-row;

    > div {
      display: table-cell;

      &:nth-of-type(2),
      &:nth-of-type(3) {
        white-space: pre;
      }

      &:nth-last-of-type(1) {
        width: 100%;
      }
    }
  }

}
