<div class="container">
  <div class="image">
    <img [src]="logoUrl" alt="Logo" />
  </div>
  <div class="text">
    <ng-container [ngSwitch]="error$ | async">
      <ng-container *ngSwitchCase="ServerErrors.INSUFFICIENT_PERMISSION">
        <h2>Permission denied</h2>
        <p>User is not allowed to access the instance.</p>
      </ng-container>
      <ng-container *ngSwitchCase="ServerErrors.NOT_ALLOWED">
        <h2>Action not permitted</h2>
        <p>User is not allowed to perform this action.</p>
      </ng-container>
      <ng-container *ngSwitchDefault>
        <h2>Internal error</h2>
        <p>Error while handling the redirect. Please retry and check whether the problem still exists.</p>
        <div class="location">
          <a routerLink="/" uitestid="ktb-location-link">Go to dashboard</a>
        </div>
      </ng-container>
    </ng-container>
  </div>
</div>
