<ng-container *ngIf="!isInGitExtended">
  <p class="mt-0 mb-3">
    It is recommended to set a Git upstream repository. In future releases, projects without a Git repository will not
    be supported. Please specify the Git remote url, the user and the token. Instructions on how to set your Git
    provider can be found in the
    <a [href]="'/manage/git_upstream/' | keptnUrl" target="_blank">Git-based upstream documentation</a>.
  </p>
</ng-container>
<form
  [formGroup]="gitUpstreamForm"
  (input)="onGitUpstreamFormChange()"
  id="git-upstream-form"
  fxLayout="row"
  fxLayoutAlign=" end"
>
  <div fxLayout="column" [ngClass]="{ 'full-width': isCreateMode }">
    <dt-form-field>
      <dt-label [class.required]="required">Git remote URL</dt-label>
      <input
        formControlName="gitUrl"
        type="text"
        dtInput
        placeholder="https://git-repo.com/repo.git"
        uitestid="ktb-git-url-input"
      />
      <ktb-loading-spinner *ngIf="isLoading" dtPrefix aria-label="Loading data"></ktb-loading-spinner>
      <dt-error *ngIf="gitUrlControl.hasError('required')">Must not be empty</dt-error>
      <dt-error *ngIf="gitUrlControl.hasError('url')">Must start with http(s)://</dt-error>
      <dt-error *ngIf="gitUrlControl.hasError('space')">Must not contain spaces</dt-error>
    </dt-form-field>
    <div class="mt-2" fxLayout="row" fxLayoutAlign="start end">
      <dt-form-field class="mr-3">
        <dt-label>Git user</dt-label>
        <input formControlName="gitUser" type="text" dtInput placeholder="Username" uitestid="ktb-git-username-input" />
        <ktb-loading-spinner *ngIf="isLoading" dtPrefix aria-label="Loading data"></ktb-loading-spinner>
      </dt-form-field>
      <dt-form-field>
        <dt-label [class.required]="required">Token</dt-label>
        <input
          formControlName="gitToken"
          type="password"
          dtInput
          placeholder="Token"
          autocomplete="false"
          uitestid="ktb-git-token-input"
        />
        <dt-error>Must not be empty</dt-error>
      </dt-form-field>
    </div>
  </div>
  <div class="ml-3" *ngIf="!isCreateMode && !isInGitExtended">
    <button
      [disabled]="isButtonDisabled()"
      (click)="setGitUpstream()"
      dt-button
      uitestid="ktb-project-update-button"
      type="button"
    >
      <!--   type="button" else Firefox will trigger a validation regardless of untouched, pristine or emit: false   -->
      <ktb-loading-spinner *ngIf="isGitUpstreamInProgress" aria-label="Setting Git upstream URL"></ktb-loading-spinner>
      Set Git upstream
    </button>
  </div>
</form>
