<div class="container" *ngIf="error">
  <dt-empty-state>
    <dt-empty-state-item>
      <dt-empty-state-item-img>
        <img class="mt-2" src="assets/keptn_logo.png" />
      </dt-empty-state-item-img>
      <ng-container [ngSwitch]="error">
        <ng-container *ngSwitchCase="'project'">
          <dt-empty-state-item-title class="mt-2" aria-level="2">Project doesn't exist</dt-empty-state-item-title>
          <p>Sorry, the project could not be loaded. Check out the <a href="https://keptn.sh/docs/quickstart/" target="_blank" rel="noopener noreferrer">Quick Start</a> instructions on how to <a href="https://keptn.sh/docs/0.7.x/manage/project/" target="_blank">create a project</a> or go back to <a [routerLink]="['/dashboard']">your dashboard</a>.</p>
          <button dt-button (click)="loadProjects()"><dt-icon name="refresh"></dt-icon> Retry</button>
        </ng-container>
        <ng-container *ngSwitchCase="'trace'">
          <dt-empty-state-item-title class="mt-2" aria-level="2">Traces for <span class="italic" [textContent]="contextId"></span> not found</dt-empty-state-item-title>
          <p>Sorry, traces with this shkeptncontext could not be loaded. Check out the <a href="https://keptn.sh/docs/quickstart/" target="_blank" rel="noopener noreferrer">Quick Start</a> instructions on how to <a href="https://keptn.sh/docs/0.7.x/manage/project/" target="_blank">create a project</a> or go back to <a [routerLink]="['/dashboard']">your dashboard</a>.</p>
          <button dt-button (click)="loadProjects()"><dt-icon name="refresh"></dt-icon> Retry</button>
        </ng-container>
        <ng-container *ngSwitchDefault>
          <dt-empty-state-item-title class="mt-2" aria-level="2">Some error occured</dt-empty-state-item-title>
          <p>Sorry, some error occured. Check out the <a href="https://keptn.sh/docs/quickstart/" target="_blank" rel="noopener noreferrer">Quick Start</a> instructions on how to <a href="https://keptn.sh/docs/0.7.x/manage/project/" target="_blank">create a project</a> or go back to <a [routerLink]="['/dashboard']">your dashboard</a>.</p>
          <button dt-button (click)="loadProjects()"><dt-icon name="refresh"></dt-icon> Retry</button>
        </ng-container>
      </ng-container>
    </dt-empty-state-item>
  </dt-empty-state>
</div>
<div class="container" *ngIf="!error && (project$ | async) === null">
  <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="15px">
    <dt-loading-spinner></dt-loading-spinner>
    <p>Loading ...</p>
  </div>
</div>
<div class="project-board" fxLayout="row" *ngIf="project$ | async as project">
  <dt-menu aria-label="Default Menu Example" class="dt-default-menu-example">
    <dt-menu-group label="">
      <a (click)="selectView('environment')" [class.active]="view == 'environment'" dtMenuItem>Environment</a>
      <a (click)="selectView('services')" [class.active]="view == 'services'" dtMenuItem>Services</a>
      <a (click)="selectView('sequences')" [class.active]="view == 'sequences'" dtMenuItem>Sequences</a>
      <a (click)="selectView('integration')" [class.active]="view == 'integration'" dtMenuItem>Integration</a>
    </dt-menu-group>
  </dt-menu>
  <ktb-environment-view *ngIf="view === 'environment'" [project]="project"></ktb-environment-view>
  <ng-container *ngIf="view == 'services'">
    <div class="container" fxFlex="34" fxLayout="column" fxLayoutGap="15px">
      <div fxFlex fxLayout="column" fxLayoutGap="15px">
        <div>
          <dt-info-group>
            <dt-info-group-title>
              <p class="mb-0"><span [textContent]="project.getServices().length"></span> Services</p>
            </dt-info-group-title>
          </dt-info-group>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center" *ngIf="project.getServices().length == 0">
          <dt-icon class="icon" name="information"></dt-icon>
          <p>No service onboarded yet. Follow the intructions to <a href="https://keptn.sh/docs/0.7.x/manage/service/#onboard-a-service" target="_blank" rel="noopener noreferrer">onboard a service</a>.</p>
        </div>
        <ktb-expandable-tile *ngFor="let service of project.getServices()" [expanded]="service.serviceName == serviceName">
          <ktb-expandable-tile-header>
            <dt-info-group>
              <dt-info-group-title>
                <div fxLayout="row">
                  <div fxFlex>
                    <h2 class="m-0" [textContent]="service.serviceName"></h2>
                  </div>
                  <div fxLayout="column" fxLayoutAlign="start end" *ngIf="eventTypes">
                    <button dt-icon-button (click)="$event.stopPropagation()" [dtContextDialogTrigger]="filterEventsDialog" variant="nested" aria-label="Open context dialog">
                      <dt-icon name="filter"></dt-icon>
                    </button>
                    <dt-context-dialog #filterEventsDialog aria-label="Open context dialog" ariaLabelClose="Close context dialog">
                      <p *ngFor="let eventType of eventTypes">
                        <dt-checkbox (change)="filterEvents($event, eventType)" [checked]="true || isFilteredEvent(eventType)">{{getEventLabel(eventType)}}</dt-checkbox>
                      </p>
                    </dt-context-dialog>
                  </div>
                </div>
              </dt-info-group-title>
              <p class="m-0 mb-1 mt-1" *ngIf="project.getLatestArtifact(service) as artifact; else noDeployment">
                <span class="bold">Last processed artifact: </span><span *ngIf="artifact.getShortImageName()" [textContent]="artifact.getShortImageName()"></span><span *ngIf="!artifact.getShortImageName()">unknown</span>
              </p>
              <button dt-button disabled variant="nested" *ngIf="!service.roots">
                <dt-loading-spinner></dt-loading-spinner>
                Loading ...
              </button>
            </dt-info-group>
          </ktb-expandable-tile-header>
          <div class="mb-1" fxLayout="row" fxLayoutAlign="end center">
            <dt-tag-list aria-label="fetch-info">
              <dt-tag>Last time fetched: <span [textContent]="getRootsLastUpdated(project) | amCalendar:getCalendarFormats()"></span></dt-tag>
            </dt-tag-list>
          </div>
          <ktb-root-events-list [events]="getFilteredRoots(service.roots)" [selectedEvent]="currentRoot" (selectedEventChange)="selectRoot($event)"></ktb-root-events-list>
          <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="15px" *ngIf="!service.roots">
            <dt-loading-spinner></dt-loading-spinner>
            <p>Loading ...</p>
          </div>
        </ktb-expandable-tile>
        <div class="mb-3"></div>
      </div>
    </div>
    <div class="container dark" fxFlex="66" fxLayout="column" fxLayoutGap="15px">
      <div *ngIf="currentRoot" fxFlex fxLayout="column" fxLayoutGap="15px">
        <div>
          <dt-info-group>
            <dt-info-group-title>
              <div fxFlex fxLayout="row" fxLayoutAlign="flex-start center" fxLayoutGap="15px">
                <div fxLayout="row" fxLayoutAlign="start center">
                  <button dt-icon-button disabled variant="nested" *ngIf="currentRoot.isFaulty()"><dt-icon name="criticalevent"></dt-icon></button>
                  <p *ngIf="currentRoot.getShortImageName()" [textContent]="currentRoot.getShortImageName()"></p>
                  <p *ngIf="!currentRoot.getShortImageName()" [textContent]="currentRoot.getService()"></p>
                </div>
              </div>
            </dt-info-group-title>
            <p class="m-0" *ngIf="currentRoot.data.configurationChange?.values"><span class="bold">New artifact: </span><span [textContent]="currentRoot.data.configurationChange.values.image"></span></p>
            <p class="m-0"><span class="bold">Keptn ID: </span><span [textContent]="currentRoot.shkeptncontext"></span></p>
          </dt-info-group>
        </div>
        <ktb-events-list [events]="currentRoot.traces" [focusedEventId]="eventId"></ktb-events-list>
        <div class="mb-3" fxLayout="row" fxLayoutAlign="end center">
          <dt-tag-list aria-label="fetch-info">
            <dt-tag>Last time fetched: <span [textContent]="getTracesLastUpdated(currentRoot) | amCalendar:getCalendarFormats()"></span></dt-tag>
            <dt-tag *ngIf="showReloadButton(currentRoot)"><button dt-button (click)="loadTraces(currentRoot)"><dt-icon name="refresh"></dt-icon> Reload</button></dt-tag>
          </dt-tag-list>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="view == 'sequences'">
    <div class="container p-0" fxFlex="40" fxLayout="column" fxLayoutGap="15px">
      <div fxFlex fxLayout="column" fxLayoutGap="15px">
        <dt-quick-filter [dataSource]="_filterDataSource" [filters]="_seqFilters" (filterChanges)="filtersChanged($event)" aria-label="Filter By Input value" label="Filter by" clearAllLabel="Clear all">
          <div class="container p-0">
            <ktb-root-events-list [events]="getFilteredSequences(project.sequences)" [selectedEvent]="currentSequence" (selectedEventChange)="selectSequence($event)"></ktb-root-events-list>
            <div class="mb-3"></div>
          </div>
        </dt-quick-filter>
      </div>
    </div>
    <div class="container dark" fxFlex="60" fxLayout="column" fxLayoutGap="15px">
      <div *ngIf="currentSequence" fxFlex fxLayout="column" fxLayoutGap="15px">
        <div>
          <dt-info-group>
            <dt-info-group-title>
              <div fxFlex fxLayout="row" fxLayoutAlign="flex-start center" fxLayoutGap="15px">
                <div fxLayout="row" fxLayoutAlign="start center">
                  <button dt-icon-button disabled variant="nested" *ngIf="currentSequence.isFaulty()"><dt-icon name="criticalevent"></dt-icon></button>
                  <p *ngIf="currentSequence.getShortImageName()" [textContent]="currentSequence.getShortImageName()"></p>
                  <p *ngIf="!currentSequence.getShortImageName()" [textContent]="currentSequence.getService()"></p>
                </div>
              </div>
            </dt-info-group-title>
            <p class="m-0" *ngIf="currentSequence.data.configurationChange?.values"><span class="bold">New artifact: </span><span [textContent]="currentSequence.data.configurationChange.values.image"></span></p>
            <p class="m-0"><span class="bold">Keptn ID: </span><span [textContent]="currentSequence.shkeptncontext"></span></p>
          </dt-info-group>
        </div>
        <ktb-sequence-timeline [currentSequence]="currentSequence"></ktb-sequence-timeline>
        <ktb-events-list [events]="currentSequence.traces" [focusedEventId]="eventId"></ktb-events-list>
        <div class="mb-3" fxLayout="row" fxLayoutAlign="end center">
          <dt-tag-list aria-label="fetch-info">
            <dt-tag>Last time fetched: <span [textContent]="getTracesLastUpdated(currentSequence) | amCalendar:getCalendarFormats()"></span></dt-tag>
            <dt-tag *ngIf="showReloadButton(currentSequence)"><button dt-button (click)="loadTraces(currentSequence)"><dt-icon name="refresh"></dt-icon> Reload</button></dt-tag>
          </dt-tag-list>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="view == 'integration'">
    <div id="integration-container" class="container" fxFlex fxLayout="column">
      <p>Integrate Keptn using the <a href="https://keptn.sh/docs/0.7.x/reference/cli/">Keptn CLI</a> or <a href="https://keptn.sh/docs/0.7.x/reference/api/">Keptn API</a>.</p>
      <h2>Keptn CLI</h2>
      <ol>
        <li><a *ngIf="keptnInfo?.bridgeInfo?.cliDownloadLink" [attr.href]="keptnInfo.bridgeInfo.cliDownloadLink" rel="noopener noreferrer" target="_blank">Download Keptn CLI</a></li>
        <li>Authenticate CLI with: <a href="https://keptn.sh/docs/0.7.x/reference/cli/commands/keptn_auth/" rel="noopener noreferrer" target="_blank">keptn auth</a></li>
      </ol>
      <p class="bold mt-2" *ngIf="useCaseExamples['cli'].length > 0">Use Cases:</p>
      <ul class="list-style-none">
        <li *ngFor="let example of useCaseExamples['cli']">
          <a href="javascript:void(0);" (click)="exampleCode.toggle()"><button class="inline small mr-2" dt-show-more [showLess]="exampleCode.expanded"></button> <span [textContent]="example.label"></span></a>
          <dt-expandable-panel #exampleCode>
            <pre class="code"><code class="lang-console" [innerHtml]="example.code"></code></pre>
          </dt-expandable-panel>
        </li>
      </ul>
      <h2>Keptn API</h2>
      <ol>
        <ng-container *ngIf="keptnInfo?.bridgeInfo?.showApiToken; else noApiToken">
          <li><a href="javascript:void(0);" (click)="copyApiToken()">Copy API token to clipboard</a></li>
          <li>Access <a [href]="keptnInfo.bridgeInfo.apiUrl" rel="noopener noreferrer" target="_blank">Keptn API</a></li>
        </ng-container>
        <ng-template #noApiToken>
          <li><a href="https://keptn.sh/docs/0.7.x/operate/api_token/" rel="noopener noreferrer" target="_blank">Retrieve API token</a></li>
          <li>Access Keptn API</li>
        </ng-template>
      </ol>
      <p class="bold mt-2" *ngIf="useCaseExamples['api'].length > 0">Use Cases:</p>
      <ul class="list-style-none">
        <li *ngFor="let example of useCaseExamples['api']">
          <a href="javascript:void(0);" (click)="exampleCode.toggle()"><button class="inline small mr-2" dt-show-more [showLess]="exampleCode.expanded"></button> <span [textContent]="example.label"></span></a>
          <dt-expandable-panel #exampleCode>
            <pre class="code"><code class="lang-console" [innerHtml]="example.code"></code></pre>
          </dt-expandable-panel>
        </li>
      </ul>
      <p *ngIf="!integrationsExternalDetails"><button dt-button (click)="loadIntegrations()"><dt-icon name="xhr-load-action"></dt-icon> Load more information about integrations</button></p>
      <ktb-markdown [html]="integrationsExternalDetails"></ktb-markdown>
      <p class="small light">Additional information about integrations will be loaded from external sources and Keptn will collect statistical data. Details can be found at <a href="https://keptn.sh/docs/0.7.x/reference/load_information" target="_blank" rel="noopener noreferrer">https://keptn.sh/docs/0.7.x/reference/load_information</a></p>
    </div>
  </ng-container>
</div>
<ng-template #noDeployment>
  <p class="m-0">Service not deployed yet. Use <a href="https://keptn.sh/docs/0.7.x/reference/cli/commands/keptn_send_event_new-artifact/" target="_blank" rel="noopener noreferrer">keptn send event new-artifact</a> to trigger a deployment.</p>
</ng-template>
