@import '~@dynatrace/barista-components/style/main';
@import "../../variables";

.project-board {
  width: 100%;
  height: 100%;
}

.icon {
  width: 20px;
  height: 20px;
}

::ng-deep {
  .dt-tag {
    &.justify-content-center {
      justify-content: center;
    }
    &.error {
      background-color: $error-color;
      color: $white;
    }
    &.warning {
      background-color: $warning-color;
      color: $white;
    }
    &.success {
      background-color: $cta-color-active;
      color: $white;
    }
    &.highlight {
      border-color: $blue-400;
    }
  }
}

::ng-deep {
  .dt-button-nested,
  .dt-button-nested:hover:not([disabled]) {
    .dt-button-icon .dt-icon.error svg {
      color: $error-color;
      fill: $error-color;
    }
  }
}

::ng-deep {
  .dt-button-nested,
  .dt-button-nested:hover:not([disabled]) {
    .dt-button-icon .dt-icon.success svg {
      color: $cta-color-active;
      fill: $cta-color-active;
    }
  }
}

::ng-deep .dt-menu-item {
  padding: 6px 40px 6px 20px !important;
  height: auto !important;
  cursor: pointer;
}
::ng-deep .dt-menu-item.active,
::ng-deep .dt-menu-item:hover {
  background: $gray-700 !important;
}

::ng-deep .ktb-expandable-tile .dt-show-more-icon {
  margin-right: 5px;
}

#integration-container {
  ::ng-deep p, ul, ol {
    margin: 0;
  }
  h2 {
    margin-top: .3em;
    margin-bottom: .3em;
  }
}
