<div class="container" *ngIf="error">
  <dt-empty-state>
    <dt-empty-state-item>
      <dt-empty-state-item-img>
        <img alt="Keptn logo" class="mt-2" src="assets/keptn_logo.png" />
      </dt-empty-state-item-img>
      <ng-container [ngSwitch]="error">
        <ng-container *ngSwitchCase="'project'">
          <dt-empty-state-item-title class="mt-2" aria-level="2">Project doesn't exist</dt-empty-state-item-title>
          <p>Sorry, the project could not be loaded. Check out the <a href="https://keptn.sh/docs/quickstart/" target="_blank" rel="noopener noreferrer">Quick Start</a> instructions on how to <a [href]="'/manage/project/' | keptnUrl" target="_blank">create a project</a> or go back to <a [routerLink]="['/dashboard']">your dashboard</a>.</p>
          <button dt-button (click)="loadProjects()"><dt-icon name="refresh"></dt-icon> Retry</button>
        </ng-container>
        <ng-container *ngSwitchCase="'trace'">
          <dt-empty-state-item-title class="mt-2" aria-level="2">Traces for <span class="italic" [textContent]="contextId"></span> not found</dt-empty-state-item-title>
          <p>Sorry, traces with this shkeptncontext could not be loaded. Check out the <a href="https://keptn.sh/docs/quickstart/" target="_blank" rel="noopener noreferrer">Quick Start</a> instructions on how to <a [href]="'/manage/project/' | keptnUrl" target="_blank">create a project</a> or go back to <a [routerLink]="['/dashboard']">your dashboard</a>.</p>
          <button dt-button (click)="loadProjects()"><dt-icon name="refresh"></dt-icon> Retry</button>
        </ng-container>
        <ng-container *ngSwitchDefault>
          <dt-empty-state-item-title class="mt-2" aria-level="2">Some error occurred</dt-empty-state-item-title>
          <p>Sorry, some error occurred. Check out the <a href="https://keptn.sh/docs/quickstart/" target="_blank" rel="noopener noreferrer">Quick Start</a> instructions on how to <a [href]="'/manage/project/' | keptnUrl" target="_blank">create a project</a> or go back to <a [routerLink]="['/dashboard']">your dashboard</a>.</p>
          <button dt-button (click)="loadProjects()"><dt-icon name="refresh"></dt-icon> Retry</button>
        </ng-container>
      </ng-container>
    </dt-empty-state-item>
  </dt-empty-state>
</div>
<div class="container" *ngIf="!error && (project$ | async) === null">
  <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="15px">
    <dt-loading-spinner></dt-loading-spinner>
    <p>Loading ...</p>
  </div>
</div>
<div class="project-board" fxLayout="row" *ngIf="project$ | async as project">
  <dt-menu aria-label="Keptn Menu" class="dt-default-menu-example" fxFlex="0 0 50px">
    <dt-menu-group>
      <ng-template #overlay let-data><span>{{data.text}}</span></ng-template>

      <button dt-icon-button dtMenuItem variant="nested" aria-label="Open environment view" [dtOverlay]="overlay" [dtOverlayConfig]="{data: {text: 'Environment'}}" (click)="selectView('environment', project.projectName)" [class.active]="view === 'environment'">
        <dt-icon name="environment"></dt-icon>
      </button>

      <button dt-icon-button dtMenuItem variant="nested" aria-label="Open services view" [dtOverlay]="overlay" [dtOverlayConfig]="{data: {text: 'Services'}}" (click)="redirectView('service', project.projectName)" [class.active]="view === 'service'">
        <dt-icon name="services"></dt-icon>
      </button>

      <button dt-icon-button dtMenuItem variant="nested" aria-label="Open sequences view" [dtOverlay]="overlay" [dtOverlayConfig]="{data: {text: 'Sequences'}}" (click)="redirectView('sequence', project.projectName)" [class.active]="view === 'sequence'">
        <dt-icon name="hops"></dt-icon>
      </button>

      <button *ngIf="view === 'ff-uniform'" dt-icon-button dtMenuItem variant="nested" aria-label="Open uniform view" [dtOverlay]="overlay" [dtOverlayConfig]="{data: {text: 'Uniform'}}" (click)="redirectView('ff-uniform', project.projectName)" [class.active]="view === 'ff-uniform'">
        <dt-icon name="infrastructure"></dt-icon>
      </button>

      <button dt-icon-button dtMenuItem variant="nested" aria-label="Open integration view" [dtOverlay]="overlay" [dtOverlayConfig]="{data: {text: 'Integration'}}" (click)="redirectView('integration', project.projectName)" [class.active]="view === 'integration'">
        <dt-icon name="plugin-connection"></dt-icon>
      </button>
    </dt-menu-group>
    <dt-menu-group class="bottom-menu">
      <button dt-icon-button dtMenuItem variant="nested" aria-label="Open settings view" [dtOverlay]="overlay" [dtOverlayConfig]="{data: {text: 'Settings'}}" (click)="redirectView('settings', project.projectName)" [class.active]="view === 'settings'">
        <dt-icon name="options-menu"></dt-icon>
      </button>
    </dt-menu-group>
  </dt-menu>
  <ng-container [ngSwitch]="view">
    <ktb-environment-view *ngSwitchCase="'environment'" fxFlex="calc(100% - 150px)"></ktb-environment-view>
    <ktb-service-view *ngSwitchCase="'service'" fxFlex="calc(100% - 150px)"></ktb-service-view>
    <ktb-sequence-view *ngSwitchCase="'sequence'" fxFlex="calc(100% - 150px)"></ktb-sequence-view>
    <ktb-integration-view *ngSwitchCase="'integration'" fxFlex="calc(100% - 150px)"></ktb-integration-view>
    <ktb-uniform-view *ngSwitchCase="'ff-uniform'" fxFlex="calc(100% - 150px)"></ktb-uniform-view>
    <ktb-settings-view *ngSwitchCase="'settings'" fxFlex="calc(100% - 150px)"></ktb-settings-view>
  </ng-container>
</div>
