@import '~@dynatrace/barista-components/style/main';
@import "../../variables";

.project-board {
  width: 100%;
  height: 100%;
}

.stage-overview {

}

.stage-state {
  border-top: 1px solid $gray-300;
  border-bottom: 1px solid $gray-300;
  padding: 10px;
  margin-bottom: 10px;
}

.icon {
  width: 20px;
  height: 20px;
}
.icon2 {
  width: 25px;
  height: 25px;
}
.out-of-sync-service {
  color: $blue-400;
  fill: $blue-400;
}

::ng-deep .dt-menu,
::ng-deep .dt-menu-group-header {
  background-color: lighten($primary-color, 5%) !important;
}
::ng-deep .dt-menu-item {
  padding: 6px 40px 6px 20px !important;
  height: auto !important;
  cursor: pointer;
}
::ng-deep .dt-menu-item.active,
::ng-deep .dt-menu-item:hover {
  background: $primary-color !important;
}

::ng-deep .ktb-expandable-tile .dt-show-more-icon {
  margin-right: 5px;
}
