@import "../../variables";

.project-board {
  width: 100%;
  height: 100%;
}

.stage-overview {

}

::ng-deep .dt-menu,
::ng-deep .dt-menu-group-header {
  background-color: lighten($primary-color, 5%) !important;
}
::ng-deep .dt-menu-item {
  padding: 6px 40px 6px 20px !important;
  height: auto !important;
  cursor: pointer;
}
::ng-deep .dt-menu-item.active,
::ng-deep .dt-menu-item:hover {
  background: $primary-color !important;
}
