---
swagger: "2.0"
info:
  title: keptn api
  version: develop
basePath: /v1
consumes:
  - application/json
  - application/cloudevents+json
produces:
  - application/json
securityDefinitions:
  key:
    type: apiKey
    in: header
    name: x-token
security:
  - key: []

paths:
  /auth:
    post:
      tags:
        - Auth
      operationId: auth
      summary: Checks the provided token
      responses:
        200:
          description: Authenticated

  /metadata:
    get:
      tags:
        - Metadata
      operationId: metadata
      summary: Get keptn installation metadata
      responses:
        200:
          description: Success
          schema:
            $ref: "#/definitions/metadata"

  /event:
    post:
      tags:
        - Event
      summary: Forwards the received event
      parameters:
        - name: body
          in: body
          schema:
            $ref: "#/definitions/keptnContextExtendedCE"
      responses:
        200:
          description: Forwarded
          schema:
            $ref: "#/definitions/eventContext"
        default:
          description: Error
          schema:
            $ref: "#/definitions/error"

definitions:
  eventContext:
    type: object
    required:
      - keptnContext
    properties:
      keptnContext:
        type: string
  error:
    type: object
    required:
      - message
    properties:
      code:
        type: integer
        format: int64
      message:
        type: string
      fields:
        type: string

  keptnContextExtendedCE:
    type: object
    properties: # CloudEvents v1.0 properties (https://raw.githubusercontent.com/cloudevents/spec/v1.0/spec.json#/definitions/event)
      shkeptncontext:
        type: string
      triggeredid:
        type: string
      specversion:
        type: string
      contenttype:
        type: string
      data:
        type: [ "object", "string" ]
      id:
        type: string
      time:
        type: string
        format: date-time
      type:
        type: string
      extensions:
        type: object
      source:
        format: uri-reference
        type: string
    required:
      - data
      - source
      - type

  metadata:
    type: object
    properties:
      namespace:
        type: string
      keptnlabel:
        type: string
      keptnversion:
        type: string
      shipyardversion:
        type: string
      bridgeversion:
        type: string
      keptnservices:
        type: [ "object", "string" ]
