<div fxLayout="column" fxLayoutGap="5px">
  <ng-container *ngIf="services && services.length > 0; else noService">
    <dt-table [dataSource]="dataSource">
      <ng-container dtColumnDef="serviceName" [dtColumnProportion]="2">
        <dt-cell *dtCellDef="let row">
          <p [class.highlight]="row.getOpenApprovals().length > 0" [class.error]="row.getOpenProblems().length > 0" class="m-0">
            <span *ngIf="row.getShortImageName()" [textContent]="row.getShortImageName()"></span>
            <span *ngIf="!row.getShortImageName()" class="italic" [textContent]="row.serviceName"></span>
          </p>
        </dt-cell>
      </ng-container>
      <ng-container dtColumnDef="recentSequence" [dtColumnProportion]="2">
        <dt-cell *dtCellDef="let row">
          <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px" *ngIf="row.getRecentSequence() as currentSequence">
            <dt-icon *ngIf="!currentSequence.getLastTraceOfStage(row.stage).isLoading()" class="event-icon" [name]="currentSequence.getFirstTraceOfStage(row.stage).isFinished() ? currentSequence.getIcon() : currentSequence.getLastTrace().getIcon()" [class.error]="row.stage === currentSequence.isFaulty()" [class.success]="currentSequence.getFirstTraceOfStage(row.stage).isFinished() && row.stage !== currentSequence.isFaulty()" [class.highlight]="currentSequence.hasPendingApproval(row.stage)"></dt-icon>
            <button *ngIf="currentSequence.getLastTraceOfStage(row.stage).isLoading()" class="m-0 p-0" dt-button disabled variant="nested">
              <dt-loading-spinner aria-label="Task is running..."></dt-loading-spinner>
            </button>
            <p class="m-0" [class.error]="currentSequence.isProblem() && currentSequence.isFaulty() && !currentSequence.isSuccessful()" [textContent]="currentSequence.getLabel()"></p>
          </div>
          <p class="m-0" *ngIf="!row.roots">-</p>
        </dt-cell>
      </ng-container>
      <ng-container dtColumnDef="recentEvaluation" dtColumnAlign="number">
        <dt-cell *dtCellDef="let row">
          <div *ngIf="row.roots">
            <ktb-evaluation-info [evaluation]="row.getRecentEvaluation()"></ktb-evaluation-info>
          </div>
          <p class="m-0" *ngIf="!row.roots">-</p>
        </dt-cell>
      </ng-container>
      <dt-row *dtRowDef="let row; columns: ['serviceName', 'recentSequence', 'recentEvaluation']"></dt-row>
    </dt-table>
    <button *ngIf="services.length > DEFAULT_PAGE_SIZE" dt-show-more [showLess]="pageSize > DEFAULT_PAGE_SIZE" (click)="toggleAllServices()">Show all <span [textContent]="services.length"></span> services</button>
  </ng-container>
</div>
<ng-template #noService>
  <div fxLayout="row" fxLayoutAlign="start center">
    <dt-icon class="icon" name="information"></dt-icon>
    <p class="m-0">No service onboarded yet.</p>
  </div>
  <p class="m-0">Follow the instructions to <a [href]="'/manage/service/#onboard-a-service' | keptnUrl" target="_blank" rel="noopener noreferrer">onboard a service</a>.</p>
</ng-template>
