name: reviewdog
on: [pull_request]
jobs:
  reviewdog:
    name: reviewdog
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.16
        id: go
      - name: Check out code.
        uses: actions/checkout@v1
      - name: Install golangci-lint
        run: |
          # binary will be $(go env GOPATH)/bin/golangci-lint
          curl -sSfL https://raw.githubusercontent.com/golangci/golangci-lint/master/install.sh | sh -s -- -b $(go env GOPATH)/bin v1.39.0
      - uses: reviewdog/action-setup@v1.0.3
        with:
          reviewdog_version: latest
      - name: Run reviewdog
        env:
          REVIEWDOG_GITHUB_API_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GO111MODULE: "off" # required for golangci-lint - see https://github.com/keptn/keptn/issues/4000 / https://github.com/golangci/golangci-lint/issues/1833
        run: |
          reviewdog -reporter=github-pr-review
