name: "Security Scans"
on:
  workflow_dispatch:
  schedule:
    - cron: '0 3 * * 1' # run tests at 1 AM (UTC), every monday (1)
  push:
    branches:
      - "snyk-checks"

defaults:
  run:
    shell: bash

env:
  GO_VERSION: "~1.18"

jobs:
  prepare-security-scans:
    name: "Prepare Security Scans"
    runs-on: ubuntu-20.04
    env:
      RENDERED_CHART_FILENAME: "scan-tpl.yml"
    steps:
      - name: Check out code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
          submodules: 'true'

      - name: Render helm template
        run: |
          VERSION=$(cat './VERSION.txt')
          cd ./installer/manifests/keptn
          helm repo add bitnami https://charts.bitnami.com/bitnami
          helm repo add nats https://nats-io.github.io/k8s/helm/charts/
          helm dependency build ./
          # replace "appVersion: latest" with "appVersion: $VERSION" in all Chart.yaml files
          find . -name Chart.yaml -exec sed -i -- "s/appVersion: latest/appVersion: ${VERSION}/g" {} \;
          helm template ./ -n keptn --name-template keptn --version ${VERSION} > ${{ env.RENDERED_CHART_FILENAME }}

      - name: Upload rendered chart as artifact
        uses: actions/upload-artifact@v3
        with:
          name: rendered-helm-chart
          path: installer/manifests/keptn/${{ env.RENDERED_CHART_FILENAME }}

  security-scans:
    name: "Security Scans"
    needs: prepare-security-scans
    runs-on: ubuntu-20.04
    env:
      CHART_TO_SCAN: "keptn-installer/scan-tpl.yml"
    strategy:
      fail-fast: false
      matrix:
        include:
          - tool: "kics"
          - tool: "kubeconform"
          - tool: "kubescape"
            kubescape-framework: "nsa"
          - tool: "kubescape"
            kubescape-framework: "mitre"
          - tool: "kubescape"
            kubescape-framework: "ARMOBest"
          - tool: snyk
            snyk-scanner: "iac"
    steps:
      - name: Set up Go
        if: matrix.tool == 'kubeconform'
        uses: actions/setup-go@v3
        with:
          go-version: ${{ env.GO_VERSION }}

      - name: Check out code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
          submodules: 'true'

      - name: Download helm template
        id: download_helm_chart
        uses: actions/download-artifact@v3
        with:
          name: rendered-helm-chart
          path: keptn-installer

      - name: KICS Scan
        if: matrix.tool == 'kics'
        uses: Checkmarx/kics-github-action@v1.5
        with:
          path: ${{ env.CHART_TO_SCAN }}
          config_path: .github/kics-config.yml
          fail_on: high,medium
          output_formats: json,sarif

      - name: Upload KICS results
        if: always() && matrix.tool == 'kics' && github.event_name == 'schedule'
        uses: actions/upload-artifact@v3
        with:
          name: kics-results
          path: results.json

      - name: Upload KICS results
        if: always() && matrix.tool == 'kics'
        uses: actions/upload-artifact@v3
        with:
          name: kics-results
          path: results.json

      - name: Kubeconform Scan
        if: matrix.tool == 'kubeconform'
        run: |
          echo "::group::Kubeconform installation"
          go install github.com/yannh/kubeconform/cmd/kubeconform@v0.4.13
          echo "::endgroup::"

          kubeconform -schema-location default -summary ${{ env.CHART_TO_SCAN }}

      - name: Kubescape Scan
        if: matrix.tool == 'kubescape'
        env:
          FAILURE_PERCENTAGE: 10
        run: |
          echo "::group::Kubescape installation"
          curl -s https://raw.githubusercontent.com/armosec/kubescape/master/install.sh | /bin/bash
          echo "::endgroup::"
          # Docs on how to configure exceptions: https://hub.armosec.io/docs/exceptions
          kubescape scan framework ${{ matrix.kubescape-framework }} -v -t ${{ env.FAILURE_PERCENTAGE }} --exceptions ./.github/.kubescape/exceptions.json --controls-config ./.github/.kubescape/controls-inputs.json ${{ env.CHART_TO_SCAN }}

      - name: Get current branch
        if: matrix.tool == 'snyk'
        run: |
          BRANCH="$(git branch --show-current)"
          echo "BRANCH=${BRANCH}" >> $GITHUB_ENV

      - name: Snyk IaC Scan
        if: matrix.tool == 'snyk'
        uses: snyk/actions/iac@0.3.0
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
        with:
          file: ${{ env.CHART_TO_SCAN }}

      - name: Snyk IaC Scan (Scheduled)
        if: matrix.tool == 'snyk' && github.event_name == 'schedule'
        uses: snyk/actions/iac@0.3.0
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
        with:
          file: ${{ env.CHART_TO_SCAN }}
          args: --report --project-tags=type=helm --target-reference="${{ env.BRANCH }}"

      - name: Upload Snyk report to Github Code Scanning
        if: always() && matrix.tool == 'snyk' && github.event_name == 'schedule'
        uses: github/codeql-action/upload-sarif@v2
        with:
          sarif_file: snyk.sarif

  codeql-scan:
    permissions:
      security-events: write
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      # Initializes the CodeQL tools for scanning.
      - name: Initialize CodeQL
        uses: github/codeql-action/init@v2
        with:
          config-file: ./.github/codeql-config.yml
          languages: go, typescript

      - name: Autobuild
        uses: github/codeql-action/autobuild@v2

      - name: Perform CodeQL Analysis
        uses: github/codeql-action/analyze@v2
