name: shellcheck

on: [push, pull_request]

jobs:
  lint_shellscripts:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3.0.0
    - name: Run ShellCheck
      uses: ludeeus/action-shellcheck@1.1.0
