name: shellcheck

on: [push, pull_request]

jobs:
  lint_shellscripts:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2.3.4
    - name: Run ShellCheck
      uses: ludeeus/action-shellcheck@master
