name: Semantic PR Validation
on:
  pull_request_target:
    types:
      - opened
      - edited
      - synchronize
defaults:
  run:
    shell: bash
jobs:
  validate:
    runs-on: ubuntu-20.04
    steps:
      - name: Validate Pull Request
        uses: amannn/action-semantic-pull-request@4682b170e7c31dfbef288e994fe07853755229b4
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          # Configure which types are allowed.
          # Default: https://github.com/commitizen/conventional-commit-types
          types: |
            feat
            fix
            build
            chore
            ci
            docs
            perf
            refactor
            revert
            style
            test
          # Configure which scopes are allowed.
          scopes: |
            api
            approval-service
            bridge
            cli
            deps
            deps-dev
            distributor
            docs
            installer
            lighthouse-service
            mongodb-datastore
            remediation-service
            resource-service
            secret-service
            shipyard-controller
            statistics-service
            webhook-service
          # Configure that a scope must always be provided.
          requireScope: false
          # When using "Squash and merge" on a PR with only one commit, GitHub
          # will suggest using that commit message instead of the PR title for the
          # merge commit, and it's easy to commit this by mistake. Enable this option
          # to also validate the commit message for one commit PRs.
          validateSingleCommit: true
