<div class="user">
  <p>User: {{ user }}</p>
  <div>
    <form (ngSubmit)="logout($event)" method="POST" [action]="logoutFormData.end_session_endpoint">
      <input type="hidden" name="state" [value]="logoutFormData.state" />
      <input type="hidden" name="post_logout_redirect_uri" [value]="logoutFormData.post_logout_redirect_uri" />
      <input type="hidden" name="id_token_hint" [value]="logoutFormData.id_token_hint" />
      <button type="submit" dt-button>Logout</button>
    </form>
  </div>
</div>
