.bold {
  font-weight: bold;
}

.truncate {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis
}
.transform-icon {
  transition: transform 150ms ease;
}

.open {
  transform: rotate( 90deg );
}
