<p class="mb-0">SLI breakdown</p>
<dt-table [dataSource]="tableEntries" [multiExpand]="true" dtSort #sortable uitestid="keptn-sli-breakdown">
  <ng-container dtColumnDef="details" dtColumnProportion="0.1" dtColumnMinWidth="50">
    <dt-header-cell *dtHeaderCellDef></dt-header-cell>
    <dt-cell *dtCellDef="let row">
      <ng-container *ngIf="row | toType: SliResultClass as result">
        <div fxFlexFill>
          <button dt-icon-button variant="nested" *ngIf="result.comparedValue !== undefined">
            <dt-icon name="dropdownclosed" [class.open]="result.expanded" class="transform-icon"></dt-icon>
          </button>
        </div>
      </ng-container>
    </dt-cell>
  </ng-container>

  <ng-container dtColumnDef="name" dtColumnAlign="text" dtColumnProportion="5">
    <dt-header-cell dt-sort-header *dtHeaderCellDef>Name</dt-header-cell>
    <dt-cell uitestid="keptn-sli-breakdown-name-cell" *dtCellDef="let row">
      <div fxFlexFill fxLayout="column" *ngIf="row | toType: SliResultClass as result" [class.bold]="result.keySli">
        <p class="truncate m-0" [title]="result.name" [textContent]="result.name"></p>
        <ng-container *ngIf="result.expanded">
          <p class="small m-0">Absolute change:</p>
          <p class="small m-0">Relative change:</p>
          <p class="small mt-1">Compared with:</p>
        </ng-container>
      </div>
    </dt-cell>
  </ng-container>

  <ng-container dtColumnDef="value" dtColumnAlign="text" dtColumnProportion="2">
    <dt-header-cell *dtHeaderCellDef>Value</dt-header-cell>
    <dt-cell uitestid="keptn-sli-breakdown-value-cell" *dtCellDef="let row">
      <div fxFlexFill fxLayout="column" *ngIf="row | toType: SliResultClass as result">
        <p class="m-0" *ngIf="result.success">
          <span [textContent]="result.value"></span>
          <span
            *ngIf="!result.expanded && result.calculatedChanges as changes"
            class="small m-0"
            [class.error]="result.result === ResultTypes.FAILED"
            [class.warning]="result.result === ResultTypes.WARNING"
          >
            (<span *ngIf="changes.relative > 0">+</span> <span [textContent]="changes.relative"></span>%)
          </span>
        </p>
        <ng-container *ngIf="!result.success">
          <dt-icon class="error" [dtOverlay]="errorOverlay" [name]="'criticalevent'"></dt-icon>
          <ng-template #errorOverlay>
            <p class="error small" [textContent]="result.value"></p>
          </ng-template>
        </ng-container>

        <ng-container *ngIf="result.expanded && result.calculatedChanges as changes">
          <p
            class="change-indicator small m-0"
            [class.error]="result.result === ResultTypes.FAILED"
            [class.warning]="result.result === ResultTypes.WARNING"
          >
            <span *ngIf="changes.absolute > 0">+</span>
            <span [textContent]="changes.absolute"></span>
          </p>
          <p
            class="change-indicator small m-0"
            [class.error]="result.result === ResultTypes.FAILED"
            [class.warning]="result.result === ResultTypes.WARNING"
          >
            <span *ngIf="changes.relative > 0">+</span>
            <span [textContent]="changes.relative"></span>%
          </p>
          <p class="small mt-1" [textContent]="result.comparedValue"></p>
        </ng-container>
      </div>
    </dt-cell>
  </ng-container>

  <ng-container dtColumnDef="weight" dtColumnProportion="0.1" dtColumnMinWidth="80" dtColumnAlign="number">
    <dt-header-cell dt-sort-header *dtHeaderCellDef>Weight</dt-header-cell>
    <dt-cell uitestid="keptn-sli-breakdown-weight-cell" *dtCellDef="let row">
      <div fxFlexFill>
        <span [textContent]="(row | toType: SliResultClass).weight"></span>
      </div>
    </dt-cell>
  </ng-container>

  <ng-container dtColumnDef="passTargets" dtColumnAlign="number" dtColumnProportion="2">
    <dt-header-cell *dtHeaderCellDef>Pass criteria</dt-header-cell>
    <dt-cell uitestid="keptn-sli-breakdown-pass-criteria-cell" *dtCellDef="let row">
      <div fxFlexFill>
        <ktb-sli-breakdown-criteria-item
          *ngIf="row | toType: SliResultClass as result"
          [isInformative]="!result.success"
          [targets]="result.passTargets || []"
        ></ktb-sli-breakdown-criteria-item>
      </div>
    </dt-cell>
  </ng-container>

  <ng-container dtColumnDef="warningTargets" dtColumnAlign="number" dtColumnProportion="2">
    <dt-header-cell *dtHeaderCellDef>Warning criteria</dt-header-cell>
    <dt-cell uitestid="keptn-sli-breakdown-warning-criteria-cell" *dtCellDef="let row">
      <div fxFlexFill>
        <ktb-sli-breakdown-criteria-item
          *ngIf="row | toType: SliResultClass as result"
          [isInformative]="!result.success"
          [targets]="result.warningTargets || []"
        ></ktb-sli-breakdown-criteria-item>
      </div>
    </dt-cell>
  </ng-container>

  <ng-container dtColumnDef="targets" dtColumnAlign="number" dtColumnProportion="2">
    <dt-header-cell *dtHeaderCellDef>Criteria</dt-header-cell>
    <dt-cell uitestid="keptn-sli-breakdown-criteria-cell" *dtCellDef="let row">
      <div fxFlexFill *ngIf="row | toType: SliResultClass as result">
        <ktb-sli-breakdown-criteria-item
          *ngIf="result.success"
          [targets]="result.targets || []"
        ></ktb-sli-breakdown-criteria-item>
        <span *ngIf="!result.success">-</span>
      </div>
    </dt-cell>
  </ng-container>

  <ng-container dtColumnDef="result" dtColumnAlign="number" dtColumnProportion="1">
    <dt-header-cell *dtHeaderCellDef>Result</dt-header-cell>
    <dt-cell uitestid="keptn-sli-breakdown-result-cell" *dtCellDef="let row">
      <div fxFlexFill *ngIf="row | toType: SliResultClass as result">
        <span *ngIf="result.success" [textContent]="evaluationState.get(result.result)"></span>
      </div>
    </dt-cell>
  </ng-container>

  <ng-container dtColumnDef="score" dtColumnAlign="number" dtColumnProportion="1">
    <dt-header-cell dt-sort-header *dtHeaderCellDef>Score</dt-header-cell>
    <dt-cell uitestid="keptn-sli-breakdown-score-cell" *dtCellDef="let row" [dtOverlay]="scoreOverlay">
      <div fxFlexFill *ngIf="row | toType: SliResultClass as result">
        <span
          *ngIf="result.success"
          [class.error]="result.result === ResultTypes.FAILED"
          [class.warning]="result.result === ResultTypes.WARNING"
          [textContent]="result.score | truncateNumber: 2"
        ></span>
      </div>
    </dt-cell>
    <ng-template #scoreOverlay>
      The score represents the portion an SLI contributes to the overall evaluation result between 0 and 100
    </ng-template>
  </ng-container>

  <dt-header-row *dtHeaderRowDef="columnNames"></dt-header-row>
  <dt-row
    *dtRowDef="let row; columns: columnNames"
    (click)="setExpanded(row)"
    [attr.uitestid]="'keptn-sli-breakdown-row-' + row.name"
  ></dt-row>
</dt-table>
